.white-file.outer{
	padding-bottom: 0;
	height: auto;
}

.back-blue-page{
    background: url('../img/bg-patron.jpg')no-repeat top center;
    background-color: #4dc6ff; 
    width: 100%;
    height: auto;
    padding-top: 160px;
	padding-bottom: 70px;
}

.back-blue-page .container{
	position: relative;
	width: 800px;
	background: #fff;
	min-height: 800px; /* height provisional */
	padding: 0 35px;
}

.container-form{
	padding: 50px 65px;
	border-bottom: 1px solid #e3e3e3;
	clear: both;
}

.container-form h1{
	font-family: 'Asap-Bold';
	padding-bottom: 25px;
	text-align: center;
	color: #202025;
	font-size: 25px;
	line-height: 23px;
	margin: 0;
}

.order-detail{
	border-bottom: 1px solid #3f3f3f;
	padding-bottom: 5px;
}

.row-detail{
	padding-bottom: 15px;
	clear: both;
}

.counter-product-order-detail{
	width: 85px;
}

.product-order-qty:before{
	font-family: 'Iconfontvella';
	color: #cdcdcd;
	font-size: 17px;
	color: #3f3f3f;
	cursor: pointer;
}

.product-order-qty-minus:before{
	content: "V";
	padding-right: 10px;
}

.product-order-qty-plus:before{
	content: "W";
	padding-left: 10px;
}

.product-order-qty-number{
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
	font-size: 19px;
	line-height: 20px;
}


/* selector mobil qty product */
.selector-product-order-detail-mobil{
	display: none;
}

.selector-product-order-detail-mobil .bootstrap-select .btn, .selector-product-order-detail-mobil .bootstrap-select .btn, .selector-product-order-detail-mobil .open > .dropdown-toggle.btn-default{
	padding: 9px 12px 9px 4px !important;
}

.selector-product-order-detail-mobil .bootstrap-select .btn, .open > .dropdown-toggle.btn-default{
	border-radius: 10px;
	border: 1px solid;
	background: #fff;
}

.selector-product-order-detail-mobil .bootstrap-select.show-menu-arrow.open > .dropdown-toggle{
	border-radius: 10px;
}

.selector-product-order-detail-mobil .open > .dropdown-toggle.btn-default, .selector-product-order-detail-mobil .open > .dropdown-toggle.btn-default:hover, .selector-product-order-detail-mobil .bootstrap-select .btn:hover, .selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu li a:hover:focus{
	background: #fff;
	border: 1px solid;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu{
	border-radius: 10px;
	border: 1px solid;
	background: #fff;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu.inner{
	border-radius: 0px;
	border: none;
}

.selector-product-order-detail-mobil .bootstrap-select .btn:focus{
	background: #fff;
	box-shadow: none;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu li a:focus{
	background: #fff;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu li:hover a:focus{
	background: #cbcbcb;
	border: none;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-toggle .caret:before{
	right: 8px;
}


/* end selector mobil qty product */


.name-product-order-detail{
	font-family: 'Asap-Italic';
	color: #3f3f3f;
	font-size: 17px;
	line-height: 17px;
	display: inline-block;
}

.price-product-order-detail{
	font-family: 'Asap-BoldItalic';
	color: #3f3f3f;
	font-size: 17px;
	line-height: 26px;
	display: inline-block;
	float: right;
}

.promo-code-link{
	font-family: 'Asap-Italic';
	color: #b7b7b7;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	letter-spacing: 0.5px;
}

.promo-code-link a{
	font-family: 'Asap-BoldItalic';
	color: #b7b7b7;
}

.discount-order-detail, .promo-code-link.promocode-validated-ok{
	display: none;
}

.discount-order-detail.promocode-validated-ok{
	display: block;
}

.help-block, .custom-label{
	font-family: 'Asap-Italic';
	margin: 0;
	display: inline-block;
	color: #707070;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.5px;
}

.help-block strong, .custom-label strong{
	font-family: 'Asap-BoldItalic';
}

/* Modals promocode */

.modal-backdrop {
   background-color: #fff;
}

.promocode .modal-dialog, #qtyminimerrormsg .modal-dialog, .standar-msg .modal-dialog{
	width: 285px;
	margin: 25% auto;
}

.promocode .modal-content, .qty-minim-error-msg .modal-content, .standar-msg .modal-content{
	border-radius: 0px;
	border: none;
	background: #2f2f2f;
	padding: 25px;
}

.promocode .modal-body, .qty-minim-error-msg .modal-body, .standar-msg .modal-body{
	padding: 0;
	margin-bottom: 15px;
}

.standar-msg .modal-body{
	text-align: center;
}

.promocode .modal-body label, .promocode-msg, .qty-minim-error-msg .qty-error-msg, .standar-msg .modal-msg{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	color: #ffffff;
	text-align: center;
	padding-bottom: 20px;
	display: block;
	letter-spacing: 0.5px;
	font-size: 12px;
	line-height: 15px;
}

.standar-msg .modal-msg{
	padding-top: 10px;
	padding-bottom: 0;
}

.qty-minim-error-msg .qty-error-msg{
	max-width: 265px;
	padding-bottom: 5px;
	padding-top: 15px;
}

.qty-minim-error-msg .qty-error-msg strong{
	font-family: 'Asap-BoldItalic';
}

.promocode-msg{
	padding-bottom: 15px;
	margin: 5px auto;
}

.promocode .form-control{
	background: #eaeaea;
	height: 30px;
	width: 195px;
	margin: 0px auto;
	border-radius: 20px;
	border: 0px none;
	color: #18181b;
	text-align: center;
}

.promocode .modal-footer, .qty-minim-error-msg .modal-footer, .standar-msg .modal-footer{
    padding: 0;
    text-align: center;
    border-top: 0;
}

.promocode .modal-footer a:first-child:after, .qty-minim-error-msg .modal-footer a:first-child:after, .standar-msg .modal-footer a:first-child:after, .standar-msg .modal-footer a:first-child:after {
	content: "|";
	padding: 0 5px 0 10px;
	color: #8e9095;
}

.btn-modal-promo-code{
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
	line-height: 20px;
	color: #eaeaea;
	cursor: pointer;
	letter-spacing: 0.5px;
}

/* error msg */
.promocode-error-msg .error-code{
	color: #ffffff;
	background: #dd6666;
	border-radius: 20px;
	text-align: center;
	letter-spacing: 0.5px;
	width: 220px;
	margin: 0 auto;
	font-family: 'Asap-Italic';
	font-size: 14px;
	padding: 5px 10px;
}

.promocode-error-msg .modal-footer a:first-child:after{
	content: "";
}

/* end modals */

.total-price-container{
	float: right;
	padding-top: 10px;
}

.closed-total-price-container{
	text-align: right;
	padding-bottom: 0px;
}

.closed-total-price-container .total-price-container{
	float: none;
}

.total-price{
	font-family: 'Asap-BoldItalic';
	font-size: 31px;
	color: #3f3f3f;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.label-total-price{
	font-family: 'Asap-Italic';
	text-transform: uppercase;
	font-size: 11px;
	position: relative;
	top: -15px;
	padding-right: 10px;
}

.compra-recurrente-selector{
	padding-top: 10px;
}

.custom-control{
	margin-top: 10px;
	position: relative;
	display: inline;
	padding-left: 20px;
	cursor: pointer;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-indicator{
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.compra-recurrente-selector-si .custom-control-indicator:before{
	font-family: 'Iconfontvella';
	content: "Y";
	color: #cdcdcd;
	font-size: 22px;
}

.compra-recurrente-selector-si .custom-control-input:checked ~ .custom-control-indicator:before{
	color: #2be4b6;
}

.compra-recurrente-selector-no .custom-control-indicator:before{
	font-family: 'Iconfontvella';
	content: "Z";
	color: #cdcdcd;
	font-size: 22px;
}

.compra-recurrente-selector-no .custom-control-input:checked ~ .custom-control-indicator:before{
	color: #4dc6ff;
}

.compra-recurrente-selector .custom-control-description{
	font-family: 'Asap-Italic';
	font-size: 12px;
	color: #707070;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.recurring-time-selector{
	padding-bottom: 0;
	margin-bottom: 0;
	display: none;
}

.recurring-time-selector .custom-label{
	padding-right: 15px;
}

/* Form order Shipping */
.order-shipping, .account{
	position: relative;
	margin-top: 5px;
}

.col-shipping-sm, .col-payment-sm, .col-account-sm{
	width: 190px;
	margin-left: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.col-shipping-lg, .col-payment-lg, .col-account-lg{
	width: 390px;
}

.row-shipping-sm, .row-payment-sm, .row-account-sm{
	display: inline-block;
	width: 190px;
}

.row-shipping-lg, .row-payment-lg, .row-account-lg{
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
}

.row-shipping-user-address .custom-label{
	margin-right: 5px;
	padding-left: 10px;
}

.order-shipping input, .user-add-new-card input{
	background: #eaeaea;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	height: 30px;
	border: none;
	color: #202025;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 25px;
	margin-bottom: 10px;
}

.row-shipping-user-address{
	/*visibility: hidden;*/
}

.order-shipping input.order-shipping-user-address, .order-shipping input.order-shipping-user-comments{
	text-align: left;
}

.container-infolabel{
	position: relative;
}

.container-infolabel .popover{
	background: #2f2f2f;
}

.container-infolabel .popover.top > .arrow, .container-infolabel .popover.top > .arrow::after{
	border-top-color: #2f2f2f;
}

.container-infolabel .popover-content{
	font-size: 12px;
	line-height: 15px;
	font-family: 'Asap-Regular';
	max-width: 255px;
	min-width: 255px;
}

.infolabel{
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.order-shipping .infolabel:before, .order-payment .infolabel:before, .account-payment-card .infolabel:before{
	font-family: 'Iconfontvella';
	content: "P";
	color: #707070;
	font-size: 12px;
	position: absolute;
	right: 15px;
	top: 4px;
	cursor: pointer;
}

.order-shipping input.order-shipping-user-name, .order-shipping input.order-shipping-user-postal-code, .order-shipping input.order-billing-razon-social{
	margin-right: 5px;
}

.order-shipping input.order-shipping-user-phone{
	padding: 0px 45px 0px 25px;
	width: 190px;
}

.order-shipping input.order-shipping-user-comments{
	padding: 0px 45px 0px 25px;
	line-height: 14px;
	width: 100%;
}


.order-shipping input::-webkit-input-placeholder, .order-payment input::-webkit-input-placeholder,  .container-form-login input::-webkit-input-placeholder{
   color: #707070 !important;
}

.order-shipping input:-moz-placeholder, .order-payment input:-moz-placeholder, .container-form-login input:-moz-placeholder { /* Firefox 18- */
   color: #707070 !important;  
}

.order-shipping input::-moz-placeholder, .order-payment input::-moz-placeholder, .container-form-login input::-moz-placeholder{  /* Firefox 19+ */
   color: #707070 !important;  
}

.order-shipping input:-ms-input-placeholder, .order-payment input:-ms-input-placeholder, .container-form-login input:-ms-input-placeholder{  
   color: #707070 !important;  
}

.col-shipping-sm .custom-label, .col-shipping-sm .help-block{
	font-weight: 400;
	text-align: center;
	width: 100%;
	height: 28px;
	margin-bottom: 10px;
	position: relative;
	top: 10px;
}

.order-shipping-date .input-group{
	position: relative;
}

.order-shipping-date .date, .order-shipping-date input, .new-card-cvv{
	width: 100%;
}

.order-shipping-date .date .input-group-addon{
	font-size: 12px;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 9px;
	right: 25px;
}

.bootstrap-datetimepicker-widget table td.active{
	background-color: #4dc6ff !important;
}

.order-shipping-time .btn-group{
	position: relative;
	top: -3px;
}

.need-bill strong, .no-need strong{
	font-family: 'Asap-BoldItalic';
	color: #707070;
	cursor: pointer;
}

.need-bill strong:hover, .no-need strong:hover{
	color: #b7b7b7;
}

.disabled{
	display: none;
}

.metodo-pago{
	text-align: center;
}

.metodo-pago .pago-online{
	margin-right: 100px;
}

.metodo-pago .custom-control-description, .user-add-new-card .custom-checkbox .custom-control-description{
	font-family: 'Asap-Italic';
	font-size: 12px;
	color: #707070;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.metodo-pago .custom-radio .custom-control-indicator, .user-add-new-card .custom-checkbox .custom-control-indicator, .container-checkbox-login .custom-checkbox .custom-control-indicator{
    border-radius: 50%;
	width: 12px;
	height: 12px;	
	display: inline-block;
	position: relative;
	top: 3px;
	margin-right: 8px;
	color: #4dc6ff;
	background: #fff;
	box-shadow: none;
	border: 3px solid;
}

.metodo-pago .custom-control-input:checked ~ .custom-control-indicator, .user-add-new-card .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator, .container-checkbox-login .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator{
	background: #4dc6ff;
	border: none;
}

.metodo-pago .pago-online .custom-control-input:checked ~ .container-metodo-fields.cod-fields{
	visibility: hidden;
}

.container-metodo-fields{
	margin-top: 30px;
}

.cod-fields{
	text-align: center;
	padding-top: 20px;
	display: none;
}

.box-cod:before{
	font-family: 'Iconfontvella';
	content: "r";
	color: #707070;
	font-size: 83px;
	color: #4dc6ff;
}

.cod-fields p{
	max-width: 390px;
	color: #707070;
	font-size: 15px;
	line-height: 20px;
	font-family: 'Asap-Italic';
	text-align: center;
	margin: 12px auto 0;
	letter-spacing: 0.5px;
}

.cod-fields strong{
	font-family: 'Asap-BoldItalic';
}

.smile-cod:before{
	font-family: 'Iconfontvella';
	content: "X";
	font-size: 16px;
}

/* payment online saved cards */
.card-saved.custom-control{
	padding-left: 10px;
	display: block;
	background: #eaeaea;
	border-radius: 20px;
	height: 30px;
	color: #202025;
	margin-bottom: 10px;
}

.data-card-saved{
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.card-saved .custom-control-description{
	display: inline-block;
	margin-bottom: 0;
	line-height: 28px;
}

.card-saved .custom-control-description .name-card{
	padding-right: 20px;
}

.card-saved .custom-control-description .number-card{
	padding-right: 13px;
}

.card-saved .custom-control-indicator{
	float: right;
}

.logo-card img{
	width: auto;
	height: 17px;
	margin-bottom: 5px;
	margin-right: 22px;
}

.user-cards-saved .custom-control-input:checked ~ .custom-control-indicator:after{
	font-family: 'Iconfontvella';
	content: "c";
	font-size: 10px;
	color: #707070;
	padding-right: 13px;
}

.btn-block-layout{
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
	line-height: 20px;
	color: #c5c5c5;
	text-align: center;
	letter-spacing: 0.5px;
	padding-top: 12px;
	cursor: pointer;
}

.btn-block-layout:hover, .btn-block-layout:hover:before{
	color: #707070;
}

.btn-add-card:before, .btn-add-address:before, .btn-add-card-account:before{
	font-family: 'Iconfontvella';
	content: "d";
	font-size: 13px;
	color: #c5c5c5;
	padding-right: 10px;
}

.btn-back-saved-cards:before{
	font-family: 'Iconfontvella';
	content: "V";
	font-size: 13px;
	color: #c5c5c5;
	padding-right: 10px;
}

.btn-back-saved-cards{
	padding-top: 20px;
}

.user-add-new-card{
	position: relative;
	display: none;
}

.col-payment-sm{
	position: absolute;
	top: 0px;
	right: 0px;
}

.new-card-cvv:after{
	font-family: 'Iconfontvella';
	content: "d";
	font-size: 10px;
	color: #c5c5c5;
	padding-right: 10px;
}

.user-add-new-card .custom-checkbox{
	padding-left: 0px;
}

.user-add-new-card .custom-checkbox .custom-control-indicator{
	margin-right: 4px;
}

.save-card-logos{
	width: 148px;
}

form .btn-blue{
	background: #fff;
	display: block;
	margin: 0 auto 5px;
	position: relative;
	top: -25px;
}

form .btn-blue:hover{
	color: #fff;
}


/* ------------------------------------------ /*
/* Account */

.mode-layout{
	font-family: 'Asap-BoldItalic';
	position: relative;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	padding-right: 10px;
}

.mode-layout a{
	color: #707070;
	cursor: pointer;
}

.mode-layout a:before{
	font-family: 'Iconfontvella';
	content: "e";
	font-size: 11px;
	padding-right: 6px;
}

.mode-layout a:hover, .mode-layout a:hover:before{
	color: #c5c5c5;
}

.mode-layout .btn-submmit{
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
	font-size: 12px;
	line-height: 20px;
	border: none;
	background: none;
	padding: 0;
}

.mode-layout .btn-submmit:before{
	font-family: 'Iconfontvella';
	content: "g";
	font-size: 11px;
	padding-right: 6px;
}

.mode-layout .btn-submmit:hover, .mode-layout .btn-submmit:hover:before{
	opacity: 0.8;
}

/* address-account */

.container-form .field{
	background: #eaeaea;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	height: 30px;
	color: #202025;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 25px;
	margin-bottom: 10px;
	position: relative;
}

.edit{
	position: relative;
	margin-top: 5px;
}

.edit input{
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #eaeaea;
	border-radius: 20px;
	height: 30px;
	color: #707070;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 20px;
	margin-bottom: 10px;
}

.edit input::-webkit-input-placeholder {
   color: #707070 !important;
   opacity: 0.8;
}

.edit input:-moz-placeholder { /* Firefox 18- */
   color: #707070 !important;
   opacity: 0.8;
}

.edit input::-moz-placeholder{  /* Firefox 19+ */
   color: #707070 !important;
   opacity: 0.8; 
}

.edit input:-ms-input-placeholder{  
   color: #707070 !important; 
   opacity: 0.8;
}

.edit .col-account-sm-last{
	top: auto;
	bottom: 0;
}

.account-user-name, .edit-account-user-name, .edit-account-user-password, .closed-order-user-name, .closed-order-user-postal-code{
	margin-right: 5px;
}

.field.account-user-mail, input.edit-account-user-mail, .field.account-address-user-address, input.account-address-user-address, .user-cards-saved .field, .field.closed-order-user-address, .closed-order-card .field{
	text-align: left;
}

.edit-form, .add-block-form, .edit-form-card, .account-password-container{
	display: none;
}

.account-password-container.edit-pw{
	display: block;
}

.edit-pw-btn{
	text-align: left;
	padding-left: 10px;
}

.edit-pw-btn a:before{
	content: "f";
}

/* Payment-cards-account */

.user-cards-saved .field:after{
	font-family: 'Iconfontvella';
	content: "e";
	font-size: 11px;
	padding-right: 6px;
	text-transform: none;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.closed-order-card .field:after{
	font-family: 'Iconfontvella';
	content: "c";
	font-size: 11px;
	padding-right: 6px;
	text-transform: none;
	position: absolute;
	right: 10px;
}

.field .data-card-saved{
	padding-right: 15px;
}

.container-edit-form-card{
	position: relative;
	margin-top: 5px;
}

.user-cards-saved .container-infolabel input{
	width: 100%;
}

.container-img-cards{
	text-align: right;
}

.edit-form-card{
	margin-bottom: 20px;
}


/* Account Resumen pedido */
.space-td{
	width: 35px;
}

.space-td_x2{
	width: 50px;
}

.container-form td{
	font-family: 'Asap-Italic';
	font-size: 12px;
	padding-bottom: 10px;
}

.account-resume-order-title td{
	font-family: 'Asap-BoldItalic';
	font-size: 14px;
	line-height: 16px;
	color: #3f3f3f;
	letter-spacing: 0.5px;
}

.account-resume-order-icon:before{
	font-family: 'Iconfontvella';
	font-size: 18px;
	cursor: pointer;
	margin-left: 15px;
}

.account-resume-order-view-order:before{
	content: "h";
}

.account-resume-order-repeat-order:before{
	content: "i";
}

.account-resume-order-recurrente:before{
	content: "a";
}

.account-resume-order-recurrente.active:before{
	content: "Y";
	color: #2be4b6;
}

.account-resume-orders{
	margin-bottom: 40px;
}

.account-resume-orders a{
	color: #3f3f3f;
}

.account-actions-order{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e3e3e3;
}

.actions-nav-label{
	font-family: 'Asap-BoldItalic';
	font-size: 14px;
	line-height: 20px;
	color: #3f3f3f;
}

.actions-nav-label:before{
	font-family: 'Iconfontvella';
	font-size: 17px;
	color: #2be4b6;
	content: "Y";
	padding-right: 15px;
}

.actions-nav{
	float: right;
}

.actions-nav li{
	display: inline-block;
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
	line-height: 20px;
	padding-left: 20px;
}

.actions-nav li a{
	color: #707070;
}

.actions-nav li span:before{
	font-family: 'Iconfontvella';
	font-size: 10px;
	color: #707070;
	padding-right: 3px;
}

.edit-order-recurrente span:before{
	content: "e";
}

.pause-order-recurrente span:before{
	content: "j";
}

.remove-order-recurrente span:before{
	content: "k";
}

.account-order-detail.paused, .total-price-container.paused{
	opacity: 0.2;
}

.account-order-detail.removed, .total-price-container.removed, .info-order-bottom.removed{
	visibility: hidden;
}

.msg-empty-order-resume{
	display: none;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
}

.msg-empty-order-resume.removed{
	display: block;
}

.info-order-bottom{
	font-size: 12px;
	line-height: 18px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
}

.info-order-bottom strong{
	font-family: 'Asap-BoldItalic';
}

.info-order-bottom p{
	margin-bottom: 5px;
}

.btn-continue-buying{
	font-family: 'Asap-BoldItalic';
	position: relative;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	left: 0px;
	top: -25px;
}

.btn-continue-buying:before{
	font-family: 'Iconfontvella';
	content: "N";
	font-size: 11px;
	padding-right: 10px;
}

.btn-continue-buying:hover, .btn-continue-buying:hover:before{
	opacity: 0.7;
}

/* end Accountt */

/* Closed order */
.container-field-closed{
	font-family: 'Asap-Italic';
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #707070;
	text-align: center;
	position: relative;
}

.container-field-closed p{
	margin-top: 5px;
}

.container-field-closed-order-date{
	top: -25px;
}

.container-field-closed-order-time{
	bottom: 10px;
}

.closed-order-actions{
	text-align: center;
}

.closed-order-actions li{
	display: inline-block;
	width: 32%;
}

.closed-order-actions li, .closed-order-actions a{
	font-family: 'Asap-BoldItalic';
	font-size: 13px;
	line-height: 20px;
	color: #3f3f3f;
}

.closed-order-actions span:before{
	font-family: 'Iconfontvella';
	font-size: 18px;
	color: #707070;
	padding-right: 10px;
}

.print-order span:before{
	content: "m";
}

.repeat-order span:before{
	content: "i";
}

.periodic-order span:before{
	content: "Y";
}

.periodic-order.active span:before{
	color: #2be4b6;
}

/* Login */
.back-blue-page .container-blocks-login, .back-blue-page .container-thankyou, .back-blue-page .container-error-page{
	position: relative;
	background: none;
	padding: 0 90px;
	min-height: 0;
	top: -60px;
}

.back-blue-page h2{
	font-family: 'September-Regular',Helvetica,sans-serif;
	font-size: 124px;
	line-height: 90px;
	margin: 0;
	color: #42b3e9;
	text-align: center;
}

.container-form-login{
	margin: 0px 5px;
	background: #fff;
	/*display: inline-block;*/
	width: 300px;
	height: 400px;
	float: left;
	position: relative;
	padding: 50px 25px;
	text-align: center;
}

.lost-password{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 50px 25px;
	background: #fff;
	display: none;
}

.lost-password.showing{
	display: block;
}

.container-form-login h1, .container-thankyou h1, .container-error-page h1, .legal-notice h1{
	font-family: 'Asap-Bold';
	padding-bottom: 25px;
	text-align: center;
	color: #202025;
	font-size: 25px;
	line-height: 23px;
	margin: 0;
}

.container-form-login .btn-blue{
	top: 0;
	margin: 15px auto 10px;
	width: 190px;
}

.container-form-login input{
	width: 190px;
	background: #eaeaea;
	border-radius: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
	height: 30px;
	border: none;
	color: #202025;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 25px;
}

.link-lost-password-form{
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 40px;
	text-transform: uppercase;
	cursor: pointer;
}

.link-lost-password-form:hover{
	opacity: 0.7;
}

.lost-password label{
	font-family: 'Asap-Italic';
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	color: #707070;
	font-weight: 400;
}

.lost-password .btn-blue{
	margin: 45px auto 10px;
}

.lost-password .dismiss-lost-password{
	font-family: 'Asap-BoldItalic';
	font-size: 10px;
	line-height: 20px;
	color: #787878;
	text-transform: uppercase;
}

.container-checkbox-login{
	text-align: left;
}

.container-checkbox-login input{
	height: auto;
}

.container-checkbox-login .custom-control-description{
	font-family: 'Asap-Italic';
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	color: #787878;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.container-checkbox-login .custom-control-description a{
	font-family: 'Asap-BoldItalic';
	text-decoration: underline;
	color: #787878;
}

.container-checkbox-login .custom-checkbox .custom-control-indicator{
	margin-right: 3px;
}


/* Thankyou message */
.thankyou-msg{
	position: relative;
	background: #fff;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #202025;
	padding: 60px 105px 40px;
}

.smile-msg{
	padding-bottom: 10px;
	color: #707070;
}

.smile-msg:before{
	font-family: 'Iconfontvella';
	font-size: 18px;
	color: #707070;
	padding-right: 10px;
	content:"X";
}

.thankyou-msg p span, .thankyou-msg p strong{
	font-family: 'Asap-BoldItalic';
}

.footer-thankyou-msg{
	padding: 30px 0px 10px;
}

.footer-thankyou-msg button:first-child{
	margin-right: 30px;
}

.footer-thankyou-msg .btn-blue, .error-page .btn-blue{
	background: #fff;
	width: 185px;
}

.footer-thankyou-msg .btn-blue:hover, .error-page .btn-blue:hover{
	color: #fff;
	background: #4dc6ff;
}



/* 404page */
.error-page{
	position: relative;
	background: #fff;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #202025;
	padding: 60px 100px 55px;
}

.error-page p{
	padding-bottom: 10px;
}

.error-page p a{
	font-family: 'Asap-Bold';
	color: #202025;
}

/* Legal */
.legal-notice{
	padding: 40px 60px 100px;
}

.legal-notice h1{
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 15px;
}

.legal-notice h3{
	font-family: 'Asap-Bold';
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #202025;
}

.legal-notice p{
	font-size: 13px;
	color: #202025;
}


/* selectors */
.btn-group.open .dropdown-toggle{
	box-shadow: none;
}

.bootstrap-select .btn, .open > .dropdown-toggle.btn-default{
	color: #707070;
	background-color: #eaeaea;
	border: none;
	padding: 9px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle{
	border-radius: 20px;
}

.span1 .bootstrap-select .btn, .span1 .open > .dropdown-toggle.btn-default{
	width: 60px !important;
}

.span3 .bootstrap-select .btn, .span3 .open > .dropdown-toggle.btn-default{
	width: 190px !important;
}

.bootstrap-select .btn:focus, .bootstrap-select.btn-group .dropdown-menu li a:focus{
	outline:0 !important;
	background-color: #eaeaea;
}

.bootstrap-select .btn:hover, .bootstrap-select.btn-group .dropdown-menu li a:hover:focus{
	background: #cbcbcb;
}

.bootstrap-select.btn-group .dropdown-menu{
	border: 0;
	text-align: center;
	background: #eaeaea;
	border-radius: 20px;
}

.span1 .bootstrap-select.btn-group .dropdown-menu{
	width: 60px !important;
	min-width: 60px;
}

.span3 .bootstrap-select.btn-group .dropdown-menu{
	width: 190px !important;
	min-width: 190px;
}

.bootstrap-select.btn-group .dropdown-menu.inner{
	border-radius: 20px;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::before{
	right: 9px;
	left: auto;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::after {
	right: 10px;
	left: auto;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	text-align: center;
	text-transform: none;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Asap-Italic';
	color: #707070;
}

.bootstrap-select.btn-group .dropdown-menu li:hover, .dropdown-menu > li > a:hover{
	background: #cbcbcb;
}

/*.dropdown-menu > li > a:focus, .bootstrap-select.btn-group .dropdown-menu li.selected{
	background: transparent;
}
*/

.bootstrap-select.show-menu-arrow .dropdown-toggle::before{
	border-bottom: 7px solid #cbcbcb;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::after{
	border-bottom: 6px solid #eaeaea;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle::before{
	border-top: 7px solid #cbcbcb;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle::after{
	border-top: 6px solid #eaeaea;
}

.bootstrap-select.btn-group .dropdown-menu li a{
	border-bottom: 1px solid #c9c9c9;
	padding: 5px 0;
	margin: 0 20px;
	font-family: 'Asap-Italic';
	font-size: 12px;
	color: rgb(112, 112, 112);
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
	border: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret:before{
	font-family: 'Iconfontvella';
	content: "T";
	color: #707070;
	font-size: 6px;
	position: relative;
	top: -5px;
	right: 15px;
}


/* helpers */

.inline{
	display: inline-block;
}

.radio{
	padding: 0 15px 0 30px;
}

.span1 {
    width: 60px !important;
}

.span3{
	width: 190px !important;
}

.form-control:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.7);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.7);
}

input.error-validation{
	border: 1px solid #dd6666 !important;
}


@media (max-width: 768px){
	.counter-product-order-detail.inline{
		display: none;
	}

	.selector-product-order-detail-mobil{
		display: inline-block;
	}
}


@media (max-width: 991px){
	.back-blue-page .container{
		width: 94%;
	}
}

@media (min-width: 992px){
	.back-blue-page .container{
		width: 800px;
	}
}

@media (min-width: 1200px){
	.back-blue-page .container{
		width: 800px;
	}
}

@media (max-width: 736px){
	.legal-notice {
	    padding: 40px 0px 100px;
	}
}



