
/* Navigation bullets */

#fp-nav{
	-webkit-transition: right 200ms ease-out;
    -moz-transition: right 200ms ease-out;
    -o-transition: right 200ms ease-out;
    transition: right 200ms ease-out;
}

#fp-nav.right {
    right: 46px;
}

#fp-nav ul li a span{
	height: 10px;
	width: 10px;
	border: 2px solid #fff;
	background: transparent;
	margin: -5px 0 0 -5px;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span{
	background: #fff;
}

#fp-nav.right.dark {
    right: 35px;
}

#fp-nav.dark ul li a span{
	border-color: #d6d6d6;
}

#fp-nav.dark ul li a.active span, #fp-nav ul li:hover a.active span{
	background: #d6d6d6;
}


/* Home */
.outer{
	width: 100%;
	/*height: -webkit-calc(100% + 70px);
	height: -moz-calc(100% + 70px);
	height: calc(100% + 70px);*/
	height: 100%;
	padding: 35px;
}

.flexslider{
	border: none;
	margin: 0;
}

.flexslider, .flexslider .slides, 
.flex-viewport {
    height: 100%;
    background: #4dc6ff;
}

.flexslider .slides > li { 
  background-position: center;
  height: 100%;
  width: 100%;
  display: none; 
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-control-nav{
	bottom: 10px;
}

.flex-control-paging li a{
	background: rgba(255, 255, 255, 1);
}

.flex-control-paging li a.flex-active{
	background: rgba(255, 255, 255, 0.5);
	box-shadow: none;
}

.flex-caption{
	color: #fff;
	text-align: center;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
}

.flex-caption h1{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
	font-size: 50px;
	line-height: 45px;
}

.flex-caption h2{
	font-family: 'September-Regular',Helvetica,sans-serif;
	font-size: 108px;
	line-height: 60px;
	margin-top: 0;
}

.flex-caption p{
	font-family: 'Asap-Italic',Helvetica,sans-serif;
	font-size: 19px;
	line-height: 24px;
	padding: 35px 0 20px;
	max-width: 560px;
	margin: 0 auto;
}

.flex-caption p strong{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
}


/* shopnow*/

.bottle-img{
	height: 500px;
	max-height: 100%;
	width: auto;
	margin: 0 auto;
	text-align: center;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform:    translateX(-50%);
	-ms-transform:     translateX(-50%);
	-o-transform:      translateX(-50%);
	transform:         translateX(-50%);
}

.layout-oficina .bottle-img{
	height: 540px;
}

.circle{
	position: absolute;
	width: 70%;
	height: auto;
	left: 15%;
	top: 15%;
}

.graphic{
	position: absolute;
	bottom: 0;
	right: 0;
}

.shopnow .container-text{
	position: relative;
	top: 25%;
	top: 80px;
/*	position: relative;
	top: 65%;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);*/
}

.title-shopnow{
	width: 100%;
	max-width: 340px;
}

.shopnow h3{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	font-size: 24px;
	line-height: 20px;
	color: #535353;
	margin: 0;
	padding-bottom: 15px;
}

.shopnow p{
	max-width: 360px;
	padding-bottom: 20px;
}

.btn-shopnow{
	min-width: 180px;
	margin-right: 15px;
	float: left;
	padding: 18px;
}

.btn-shopnow .glyphicon-plus{
	padding-left: 20px;
}

.btn-shopnow .glyphicon-minus{
	padding-right: 20px;
}

.qty-cart-shopnow{
	margin-right: 10px;
}

.sm-tax-advise{
	font-size: 15px;
	color: #c2c2c2;
	line-height: 18px;
	position: relative;
	top: 5px;
	float: left;
}

.btn-complete-order{
	font-size: 14px;
	line-height: 14px;
	max-width: 100px;
	margin: 0px auto;
	position: relative;
	top: 35px;
}

.btn-complete-order:after{
	content: "";
	width: 25px;
	height: 2px;
	background: #4dc6ff;
	position: absolute;
	left: 38px;
	bottom: -10px;
}

.btn-complete-order.highlight a{
	color: rgb(83, 83, 83);
}

.btn-complete-order a:after{
	content:url(../img/complete-order-icon.png);
	width: 5px;
	height: 125px;
	position: absolute;
	top: 50px;
	left: 50px;
}


/* Moments */

.moments h2{
	font-family: 'September-Regular',Helvetica,sans-serif;
	font-size: 108px;
	line-height: 60px;
	margin-top: 0;
	text-align: center;
	position: relative;
	top: -35px;
}

.item{
	position: relative;
}

.moments .col-md-3:nth-child(even) .item{
	top: -25px;
}

.item img{
	max-width: 100%;
}

.item-back{
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.item-title, .item-bottle{
	position: absolute;
	left: 0;
}

.item-title{
	top: 0;
}

.item-bottle{
	top: 20%;
}


/* moments oficina */
.layout-oficina .moments .row{
	padding: 0 16%;
}

/* features */
.features{
	background: url('../img/bg-iconos.jpg')no-repeat center bottom;
	width: -webkit-calc(100% - 70px) !important;
	width: -moz-calc(100% - 70px) !important;
	width: calc(100% - 70px) !important;
	left: 35px;
}

/*.features .row{
	padding: 0 6%;
}*/

.features .col-sm-6{
	min-height: 226px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.features .col-md-6{
	padding-right: 20px;
	padding-left: 16%;
}

.features .col-md-12{
	padding-left: 14%;
	padding-right: 12%;
}

.features p{
	font-size: 13px;
	line-height: 18px;
}

.last-first-row{
	max-width: 360px;
}

/* @992 .row padding: 0 3% + .col-md-6 padding-left: 10%; */

.header-feature{
	height: 60px;
}

.header-feature span{
	color: #4dc6ff;
	font-family: "Iconfontvella", sans-serif;
	font-size: 50px;
	width: 60px;
	height: 50px;
	float: left;
	margin-right: 20px;
	padding-left: 5px;
}

.header-feature span:before{
	position: relative;
	top: 18px;
}

.comunication:before{
	content: "H";
}

.easy:before{
	content: "I";
}

.forget:before{
	content: "K";
}

.star:before{
	content: "L";
}

.costs:before{
	content: "J";
}

.header-feature h3{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #404040;
	margin: 0;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
}

.knowmore img{
	height: 70px;
	position: relative;
	top: -10px;
}

.knowmore p{
	float: left;
	width: 35%;
}

.knowmore .btn-blue{
	width: 56%;
	max-width: 135px;
	margin-left: 2%;
}

/* btn */
.btn:focus{
    color: #4dc6ff;
}

