html, body{
	width: 100%;
	height: 100%;
	-ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    margin: 0;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a, a:focus{
	color: #fff;
	text-decoration: none;
}

a:hover{
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
}

button:focus, .btn:focus {outline:0 !important;}


/* FONTS */
@font-face {
  font-family: 'Asap-Bold';
  src: url('../fonts/Asap-Bold.eot');
  src: url('../fonts/Asap-Bold.woff2') format('woff2'),
       url('../fonts/Asap-Bold.woff') format('woff'),
       url('../fonts/Asap-Bold.ttf') format('truetype'),
       url('../fonts/Asap-Bold.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-BoldItalic';
  src: url('../fonts/Asap-BoldItalic.eot');
  src: url('../fonts/Asap-BoldItalic.woff2') format('woff2'),
       url('../fonts/Asap-BoldItalic.woff') format('woff'),
       url('../fonts/Asap-BoldItalic.ttf') format('truetype'),
       url('../fonts/Asap-BoldItalic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Italic';
  src: url('../fonts/Asap-Italic.eot');
  src: url('../fonts/Asap-Italic.woff2') format('woff2'),
       url('../fonts/Asap-Italic.woff') format('woff'),
       url('../fonts/Asap-Italic.ttf') format('truetype'),
       url('../fonts/Asap-Italic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Regular';
  src: url('../fonts/Asap-Regular.eot');
  src: url('../fonts/Asap-Regular.woff2') format('woff2'),
       url('../fonts/Asap-Regular.woff') format('woff'),
       url('../fonts/Asap-Regular.ttf') format('truetype'),
       url('../fonts/Asap-Regular.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'September-Regular';
  src: url('../fonts/September-Regular.eot');
  src: url('../fonts/September-Regular.woff2') format('woff2'),
       url('../fonts/September-Regular.woff') format('woff'),
       url('../fonts/September-Regular.ttf') format('truetype'),
       url('../fonts/September-Regular.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/September-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iconfontvella';
  src: url('../fonts/iconFont/iconfontvella-Regular.eot');
  src: url('../fonts/iconFont/iconfontvella-Regular.woff2') format('woff2'),
       url('../fonts/iconFont/iconfontvella-Regular.woff') format('woff'),
       url('../fonts/iconFont/iconfontvella-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

b, strong{
	font-weight: 500;
}

*{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size-adjust: none;
}

body{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #535353;
}

.white, .white a{
	color: #ffffff;
}

.grey, .grey a{
	color: #dcdcdc;
}

/* Header */
.nav-menu{
	position: fixed;
	top: 0px;
	left: 100%;
	width: 100%;
	height: 100%;
	background: #fff;
	/*background: rgba(255,255,255,0.95);*/
	z-index: 999;
	-webkit-transition: left 600ms ease-out;
    -moz-transition: left 600ms ease-out;
    -o-transition: left 600ms ease-out;
    transition: left 600ms ease-out;
}

.nav-menu.show{
	left: 0;
}

.nav-menu.show .hamburger{
	position: absolute;
	top: 55px;
	right: 53px;
}

.nav-menu.show .hamburger .hamburger-inner, .nav-menu.show .hamburger .hamburger-inner::before, .nav-menu.show .hamburger .hamburger-inner::after{
	background-color: #dcdcdc;
}

.nav-menu ul{
	padding-left: 10%;
	padding-top: 12%;
}

.nav-menu li{
	padding-bottom: 30px;
}

.nav-menu a{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	color: #5ccaff;
	font-size: 67px;
	line-height: 67px;
	text-transform: uppercase;
}

.main-header{
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 35px;
}

.header-back-blue.dark{
	padding: 35px 70px;
}

.brand{
	text-indent: -99999px;
	display: block;
	background: url('../img/logo-FVeC-light.png')no-repeat;
	-webkit-background-size: 113px 71px;
	-moz-background-size: 113px 71px;
	-o-background-size: 113px 71px;
	background-size: 113px 71px;
	width: 113px;
	height: 71px;
	float: left;
	position: relative;
	top: 26px;
	left: 20px;
}

.dark .brand{
	background: url('../img/logo-FVeC-dark.png')no-repeat;
	-webkit-background-size: 113px 71px;
	-moz-background-size: 113px 71px;
	-o-background-size: 113px 71px;
	background-size: 113px 71px;
	left: 0;
	top: 0;
}

.dark .brand-blue{
	background: url('../img/logo-FVeC-blue.png')no-repeat;
	-webkit-background-size: 113px 71px;
	-moz-background-size: 113px 71px;
	-o-background-size: 113px 71px;
	background-size: 113px 71px;
	left: 0;
	top: 0;
}

.brand-blue{
	-webkit-transition: background-image 1500ms ease-out;
    -moz-transition: background-image 1500ms ease-out;
    -o-transition: background-image 1500ms ease-out;
    transition: background-image 1500ms ease-out;
}

.downing .brand-blue{
	background: url('../img/logo-mini.png')no-repeat;
	-webkit-background-size: 50px 38px;
	-moz-background-size: 50px 38px;
	-o-background-size: 50px 38px;
	background-size: 50px 38px;
	width: 50px;
	height: 38px;
	top: 11px;
}

.header-back-blue .brand{
	background: url('../img/logo-FVeC-light.png')no-repeat;
	-webkit-background-size: 113px 71px;
	-moz-background-size: 113px 71px;
	-o-background-size: 113px 71px;
	background-size: 113px 71px;
}

.header-back-blue.dark .brand{
	background: url('../img/logo-mini.png')no-repeat;
	-webkit-background-size: 50px 38px;
	-moz-background-size: 50px 38px;
	-o-background-size: 50px 38px;
	background-size: 50px 38px;
	width: 50px;
	height: 38px;
	top: 11px;
}


/* main-top */

.main-top{
	float:right;
	position: relative;
	right: 18px;
	top: 20px;
}

.main-top li{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.main-top li a{
	color: #fff;
	padding: 15px 18px;
	cursor: pointer;
}

.main-top-mode{
	font-family: 'Asap-Italic';
	font-size: 14px;
	line-height: 24px;
	height: 27px;
}

.downing .main-top-mode{
	display: none;
}

.main-top-user:after, .main-top-menu:before{
	content: "|";
	color: #fff;
	position: absolute;
}

.main-top-menu::before{
	top: 17px;
}

.main-top-user span{
	font-size: 21px;
}

.main-top-user span:before{
	font-family: "Iconfontvella", sans-serif;
	content: "A";
}

.main-top-cart a span{
	font-size: 21px;
}

.main-top-cart a span:before{
	font-family: "Iconfontvella", sans-serif;
	content: "B";
}

.postalcode-form{
	float: right;
	position: relative;
	top: -2px;
	margin-right: 10px;
	display: none;
}

.postalcode-form input{
	border: none;
	box-shadow: none;
	border-radius: 24px;
	min-width: 200px;
	text-align: center;
	height: 26px;
	line-height: 1;
	background: #4dc6ff;
	padding: 2px 12px;
	color: #ffffff;
}

.main-top-cart .cart-resume{
	float: right;
	position: relative;
	top: -2px;
	margin-right: 10px;
	display: none;
}

.cart-resume span{
	font-family: 'Asap-Italic';
	font-size: 14px;
	line-height: 21px;
	color:#fff;
}

.qty-total-cart-items, .qty-total-cart-label{
	margin-right: 5px;
}


/* dark-menu-style */
.dark .main-top{
	right: 0;
	top: 0;
}

.dark .main-top li a, .dark .main-top-user:after, .dark .main-top-menu:before, .dark .cart-resume span{
	color: #dcdcdc;
}


/* Hamburger */
.hamburger{
	    padding: 20px 18px 15px;
}

.hamburger-box{
	width: 26px;
	height: 20px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	width: 26px;
	background-color: #fff;
}

.hamburger--slider .hamburger-inner::before{
	top: 8px;
}

.hamburger--slider .hamburger-inner::after{
	top: 16px;
}

.hamburger--slider.is-active .hamburger-inner::after {
	-webkit-transform: translate3d(0, -16px, 0) rotate(-90deg);
	-moz-transform:    translate3d(0, -16px, 0) rotate(-90deg);
	-ms-transform:     translate3d(0, -16px, 0) rotate(-90deg);
	-o-transform:      translate3d(0, -16px, 0) rotate(-90deg);
	transform:         translate3d(0, -16px, 0) rotate(-90deg);
}

.dark .hamburger{
	padding-right: 0px;
}

.dark .hamburger-inner, .dark .hamburger-inner::before, .dark .hamburger-inner::after{
	background-color: #dcdcdc;
}


/* footer */
.outer{
	padding: 35px;
}

.footer{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}

.footer-container{
	background: url('../img/footer.jpg')no-repeat;
	padding: 6% 0 6% 4%;
}

.dark .footer-container{
	background: none;
}

.footer.dark, .footer.dark a{
	color: #888;
}

.footer .about{
	text-align: justify;
	padding: 0px 4%;
}

.footer .contact{
	padding: 0 4%;
	padding: 0px 6%;
}

.brand-footer{
	width: 100px;
	height: 80px;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

.brand-footer span:before{
	font-family: 'Iconfontvella';
	content: "C";
	font-size: 78px;
	position: relative;
	top: 30px;
}

.footer p{
	margin: 0 0 20px;
}

.social-footer{
	margin-top: 55px;
}

.social-footer li{
	display: inline-block;
	margin-right: 20px;
}

.social-footer li a:hover{
	position: relative;
	top: -5px;
}

.social-footer span{
	font-family: 'Iconfontvella';
	font-size: 42px;
}

.social-footer .mail span:before{
	content: "D";
}

.social-footer .WhatsApp span:before{
	content: "F";
}

.social-footer .fb span:before{
	content: "E";
}

.social-footer .tw span:before{
	content: "G";
}

.credits-footer{
	padding-top: 20px;
}


/* btn */
.btn{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	font-size: 14px;
	line-height: 10px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.5px;
	border: 2px solid;
	border-radius: 25px;
	padding: 18px 28px;
}

.btn-white{
	color: #fff;
	border-color: #fff;
}

.btn-blue{
	color: #4dc6ff;
	border-color: #4dc6ff;
}

.btn-blue a{
	color: #4dc6ff;
}

.btn-blue:hover{
	background: #4dc6ff;
}

.btn-blue:hover a{
	color: #fff;
}

.btn-white:hover{
	background: #fff;
}

.btn-white:hover a{
	color: #4dc6ff;
}

.btn-step{
	font-family: 'Asap-Bold';
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.btn-step a{
	color: #bbbbbb;
}

.btn-right{
	text-align: right;
}

.btn-left{
	text-align: left;
}

.btn-center{
	text-align: center;
}

.btn-buy .glyphicon, .qty-cart-btn, .btn-buy .label-btn-buy-active, .btn-buy.action .label-btn-buy-repose{
	display: none;
}

.btn-buy.action .glyphicon, .btn-buy.action .label-btn-buy-active, .btn-buy.action .qty-cart-btn{
	display: inline-block;
}

.btn-buy:hover, .btn-buy:hover a{
	color: #fff;
}

.btn-viewAll{
	font-size: 12px;
	line-height: 12px;
	width: 180px;
	position: absolute;
	bottom: 20px;
	padding: 14px 30px 14px;
	margin-bottom: 20px;
}

.btn-viewAll.btn-right{
	right: 35px;
}

.btn-viewAll.btn-left{
	left: 35px;
	bottom: 0px;
}


.btn-viewAll:after{
	content: "";
	width: 25px;
	height: 2px;
	background: #4dc6ff;
	position: absolute;
	bottom: 0px;
}

.btn-viewAll.btn-right:after{
	right: 30px;
}

.btn-viewAll.btn-left:after{
	left: 30px;
}

.btn-viewAll a:after{
	font-family: "Iconfontvella", sans-serif;
	font-size: 14px;
	color: #bbbbbb;
	position: absolute;
	top: 20px;
}

.btn-viewAll.btn-right a:after{
	content: "M";
	right: 9px;
}

.btn-viewAll.btn-left a:after{
	content: "N";
	left: 9px;
}


/* Popover */
.popover{
	max-width: none;
	background: #4dc6ff;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
	-moz-box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
	box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
	box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
}

.popover-content{
	min-width: 300px;
	padding: 20px;
	font-family: 'Asap-Italic';
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.popover-cart-product-detail-price{
	font-weight: bold;
}

.popover-cart-product-total-price{
	font-weight: bold;
	padding-right: 0;
}

.popover-cart-shipping-advise{
	font-size: 12px;
}

.popover.bottom > .arrow{
	border-color: transparent;
}

.popover.bottom > .arrow::after{
	border-bottom-color: #4dc6ff;
}

.popover .col-md-9{
	padding-right: 0;
}

.popover .col-md-3{
	text-align: right;
}

.popover-cart-total{
	border-top: 1px solid;
	margin: 0px;
	padding-top: 10px;
}

.popover-cart-total .col-md-9{
	padding-left: 0;
}

.popover .btn-go-checkout{
	margin-top: 20px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform:    translateX(-50%);
	-ms-transform:     translateX(-50%);
	-o-transform:      translateX(-50%);
	transform:         translateX(-50%);
}

/* helpers */
/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/

/* Forms */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff !important;
  font-family: 'Asap-Italic';
}
::-moz-placeholder { /* Firefox 19+ */
	color: #ffffff !important;
  font-family: 'Asap-Italic';
}
:-ms-input-placeholder { /* IE 10+ */
	color: #ffffff !important;
  font-family: 'Asap-Italic';
}
:-moz-placeholder { /* Firefox 18- */
	color: #ffffff !important;
  font-family: 'Asap-Italic';
}



/* Responsive */

@media (max-width: 1090px){
	.footer .contact{
		padding: 0px 3%;
	}
}

@media (max-width: 992px){
	.footer-container{
		padding: 20px 0px;
	}
	
	.footer-container .row{
		margin: 0 auto;
	}

	.footer .contact{
		text-align: center;
		margin-top: 40px;
	}

	.social-footer{
		margin-bottom: 30px;
	}
}

@media (max-width: 768px){
	.outer{
		padding: 0;
	}
}





