@-webkit-keyframes blink {
  0%   { color: #bbbbbb; }
  100% { color: rgb(83, 83, 83); }
}
@-moz-keyframes blink {
 0%   { color: #bbbbbb; }
  100% { color: rgb(83, 83, 83); }
}
@-o-keyframes blink {
 0%   { color: #bbbbbb; }
  100% { color: rgb(83, 83, 83); }
}
@keyframes blink {
  0%   { color: #bbbbbb; }
  100% { color: rgb(83, 83, 83); }
}

.btn-complete-order.highlight a{
	-webkit-animation: blink 1s ease infinite; /* Safari 4+ */
	-moz-animation:    blink 1s ease infinite; /* Fx 5+ */
	-o-animation:      blink 1s ease infinite; /* Opera 12+ */
	animation:         blink 1s ease infinite; /* IE 10+, Fx 29+ */
}

#fp-nav{
	transform: translate3d(100px, 0, 0);
	transition: opacity ease .6s .5s, transform ease .6s .5s, right 200ms ease-out;
}

.loaded #fp-nav {
	transform: translate3d(0px, 0, 0);
	transition: opacity ease .4s 1.2s, transform ease .4s 1.2s;
}

.slides > li {
	transition: opacity ease .4s 0s, transform ease 0s .5s;
	opacity: 0;
	transform: scale(1.1);
}

.loaded.fp-viewing-0 .slides > li.flex-active-slide {
	transition: opacity ease .6s .5s, transform ease .6s .5s;
	opacity: 1;
	transform: scale(1);
}

.flex-control-nav{
	bottom: -40px;
	transition: opacity ease .6s .5s, bottom ease .6s .5s;
}

.loaded.fp-viewing-0 .flex-control-nav {
	transition: opacity ease .4s 1.2s, bottom ease .4s 1.2s;
	bottom: 10px;
}

.flex-caption{
	opacity: 0;
	transition: transform ease 0s .5s, opacity ease 0s .5s;
	-webkit-transform: translate3d(0, 0%, 0);
	-moz-transform:    translate3d(0, 0%, 0);
	-ms-transform:     translate3d(0, 0%, 0);
	-o-transform:      translate3d(0, 0%, 0);
	transform:         translate3d(0, 0%, 0);
}

.loaded.fp-viewing-0 .flex-active-slide > .flex-caption {
	transition: transform ease .3s .6s, opacity ease .3s .6s;
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform:    translate3d(0, -50%, 0);
	-ms-transform:     translate3d(0, -50%, 0);
	-o-transform:      translate3d(0, -50%, 0);
	transform:         translate3d(0, -50%, 0);
}

.flex-caption > .btn-caption {
	opacity: 0;
	transition: transform ease 0s .5s, opacity ease 0s .5s, color ease .2s, border-color ease .2s, background ease .2s;
	-webkit-transform: translate3d(0, 50%, 0);
	-moz-transform:    translate3d(0, 50%, 0);
	-ms-transform:     translate3d(0, 50%, 0);
	-o-transform:      translate3d(0, 50%, 0);
	transform:         translate3d(0, 50%, 0);
}

.loaded.fp-viewing-0 .flex-active-slide > .flex-caption > .btn-caption {
	opacity: 1;
	transition: transform ease .3s .9s, opacity ease .3s .9s, color ease .2s, border-color ease .2s, background ease .2s;
	-webkit-transform: translate3d(0, 0%, 0);
	-moz-transform:    translate3d(0, 0%, 0);
	-ms-transform:     translate3d(0, 0%, 0);
	-o-transform:      translate3d(0, 0%, 0);
	transform:         translate3d(0, 0%, 0);
}

.bottle-img{
	opacity: 0;
	transition: transform ease .3s .4s, opacity ease .3s .4s;
	-webkit-transform: translate3d(-50%, 30%, 0);
	-moz-transform:    translate3d(-50%, 30%, 0);
	-ms-transform:     translate3d(-50%, 30%, 0);
	-o-transform:      translate3d(-50%, 30%, 0);
	transform:         translate3d(-50%, 30%, 0);
}

.fp-viewing-1 .bottle-img {
	opacity: 1;
	transition: transform ease .4s .8s, opacity ease .4s .8s;
	-webkit-transform: translate3d(-50%, 0%, 0);
	-moz-transform:    translate3d(-50%, 0%, 0);
	-ms-transform:     translate3d(-50%, 0%, 0);
	-o-transform:      translate3d(-50%, 0%, 0);
	transform:         translate3d(-50%, 0%, 0);
}

.circle{
	opacity: 0;
	transition: transform ease .3s .4s, opacity ease .3s .4s;
	-webkit-transform: scale(0.4);
	-moz-transform:    scale(0.4);
	-ms-transform:     scale(0.4);
	-o-transform:      scale(0.4);
	transform:         scale(0.4);
}

.fp-viewing-1 .circle {
	opacity: 1;
	transition: transform ease .4s 1s, opacity ease .5s 1s;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}

.graphic{
	opacity: 0;
	transition: transform ease .3s .4s, opacity ease .3s .4s;
	-webkit-transform: translate3d(0, 20%, 0);
	-moz-transform:    translate3d(0, 20%, 0);
	-ms-transform:     translate3d(0, 20%, 0);
	-o-transform:      translate3d(0, 20%, 0);
	transform:         translate3d(0, 20%, 0);
}

.fp-viewing-1 .graphic {
	opacity: 1;
	transition: transform ease .3s 1s, opacity ease .3s 1s;
	-webkit-transform: translate3d(0, 0%, 0);
	-moz-transform:    translate3d(0, 0%, 0);
	-ms-transform:     translate3d(0, 0%, 0);
	-o-transform:      translate3d(0, 0%, 0);
	transform:         translate3d(0, 0%, 0);
}

.container-text {
	opacity: 0;
	transition: transform ease .3s .4s, opacity ease .3s .4s;
	-webkit-transform: translate3d(0, 20%, 0);
	-moz-transform:    translate3d(0, 20%, 0);
	-ms-transform:     translate3d(0, 20%, 0);
	-o-transform:      translate3d(0, 20%, 0);
	transform:         translate3d(0, 20%, 0);
}

.fp-viewing-1 .container-text {
	opacity: 1;
	transition: transform ease .3s .4s, opacity ease .3s .4s;
	-webkit-transform: translate3d(0, 0%, 0);
	-moz-transform:    translate3d(0, 0%, 0);
	-ms-transform:     translate3d(0, 0%, 0);
	-o-transform:      translate3d(0, 0%, 0);
	transform:         translate3d(0, 0%, 0);
}

.btn-shopnow {
	opacity: 0;
	transition: transform ease .3s .4s, opacity ease .3s .4s, color ease .2s, border-color ease .2s, background ease .2s;
	-webkit-transform: translate3d(0, 60%, 0);
	-moz-transform:    translate3d(0, 60%, 0);
	-ms-transform:     translate3d(0, 60%, 0);
	-o-transform:      translate3d(0, 60%, 0);
	transform:         translate3d(0, 60%, 0);
}

.fp-viewing-1 .btn-shopnow {
	opacity: 1;
	transition: transform ease .3s .7s, opacity ease .3s .7s, color ease .2s, border-color ease .2s, background ease .2s;
	-webkit-transform: translate3d(0, 0%, 0);
	-moz-transform:    translate3d(0, 0%, 0);
	-ms-transform:     translate3d(0, 0%, 0);
	-o-transform:      translate3d(0, 0%, 0);
	transform:         translate3d(0, 0%, 0);
}

.sm-tax-advise {
	opacity: 0;
	transition: transform ease .3s .4s, opacity ease .3s .4s;
	-webkit-transform: translate3d(0, 60%, 0);
	-moz-transform:    translate3d(0, 60%, 0);
	-ms-transform:     translate3d(0, 60%, 0);
	-o-transform:      translate3d(0, 60%, 0);
	transform:         translate3d(0, 60%, 0);
}

.fp-viewing-1 .sm-tax-advise {
	opacity: 1;
	transition: transform ease .3s 1s, opacity ease .3s 1s;
	-webkit-transform: translate3d(0, 0%, 0);
	-moz-transform:    translate3d(0, 0%, 0);
	-ms-transform:     translate3d(0, 0%, 0);
	-o-transform:      translate3d(0, 0%, 0);
	transform:         translate3d(0, 0%, 0);
}

.animate.moments h2 {
	opacity: 0;
	transform: translate3d(0, 100%, 0);
}

.moments h2 {
	transition: transform ease .3s .4s, opacity ease .3s .4s;
}

.fp-viewing-2 .moments h2 {
	transition: transform ease .5s .9s, opacity ease .5s .9s;
	opacity: 1;
	transform: translate3d(0, 0%, 0);
}

.item-bottle {
	transition: transform ease .3s .0s, opacity ease .3s .0s;
}

.item-title {
	transition: transform ease .3s .0s, opacity ease .3s .0s;
}

.item-back {
	transition: transform ease .3s .0s, opacity ease .3s .0s;
}

.animate .item-back {
	transition: transform ease .3s .4s, opacity ease .3s .4s;
}

.animate.moments .col-md-3:nth-child(1) .item-back,
.animate.moments .col-md-3:nth-child(2) .item-back,
.animate.moments .col-md-3:nth-child(3) .item-back,
.animate.moments .col-md-3:nth-child(4) .item-back,
.animate.moments .col-md-3:nth-child(5) .item-back,
.animate.moments .col-md-4:nth-child(1) .item-back,
.animate.moments .col-md-4:nth-child(2) .item-back,
.animate.moments .col-md-4:nth-child(3) .item-back,
.animate.moments .col-md-4:nth-child(4) .item-back,
.animate.moments .col-md-4:nth-child(5) .item-back  {
	opacity: 0;
	transform: translateY(0, 50%, 0);
}

.fp-viewing-2  .animate.moments .col-md-3:nth-child(1) .item-back,
.fp-viewing-2  .animate.moments .col-md-4:nth-child(1) .item-back {
	transition: transform ease .5s .4s, opacity ease .5s .4s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}
.fp-viewing-2 .animate.moments .col-md-3:nth-child(3) .item-back,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(3) .item-back {
	transition: transform ease .7s .4s, opacity ease .7s .4s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}
.fp-viewing-2 .animate.moments .col-md-3:nth-child(5) .item-back,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(5) .item-back {
	transition: transform ease .9s .4s, opacity ease .9s .4s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}

.fp-viewing-2 .animate.moments .col-md-3:nth-child(4) .item-back,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(4) .item-back {
	transition: transform ease .7s .6s, opacity ease .7s .6s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}

.fp-viewing-2 .animate.moments .col-md-3:nth-child(2) .item-back,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(2) .item-back {
	transition: transform ease .6s .7s, opacity ease .6s .7s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}

.animate.moments .col-md-3:nth-child(1) .item-bottle,
.animate.moments .col-md-3:nth-child(2) .item-bottle,
.animate.moments .col-md-3:nth-child(3) .item-bottle,
.animate.moments .col-md-3:nth-child(4) .item-bottle,
.animate.moments .col-md-3:nth-child(5) .item-bottle,
.animate.moments .col-md-4:nth-child(1) .item-bottle,
.animate.moments .col-md-4:nth-child(2) .item-bottle,
.animate.moments .col-md-4:nth-child(3) .item-bottle,
.animate.moments .col-md-4:nth-child(4) .item-bottle,
.animate.moments .col-md-4:nth-child(5) .item-bottle {
	opacity: 0;
	transform: translateY(0, 50%, 0);
	transition: transform ease .1s .6s, opacity ease .1s .6s;
}

.fp-viewing-2 .animate.moments .col-md-3:nth-child(1) .item-bottle,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(1) .item-bottle {
	transition: transform ease .5s .6s, opacity ease .5s .6s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}

.fp-viewing-2 .animate.moments .col-md-3:nth-child(3) .item-bottle,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(3) .item-bottle {
	transition: transform ease .7s .6s, opacity ease .7s .6s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}
.fp-viewing-2 .animate.moments .col-md-3:nth-child(5) .item-bottle,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(5) .item-bottle {
	transition: transform ease .9s .6s, opacity ease .9s .6s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}

.fp-viewing-2 .animate.moments .col-md-3:nth-child(2) .item-bottle,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(2) .item-bottle {
	transition: transform ease .4s .9s, opacity ease .4s .9s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}

.fp-viewing-2 .animate.moments .col-md-3:nth-child(4) .item-bottle,
.fp-viewing-2 .animate.moments .col-md-4:nth-child(4) .item-bottle {
	transition: transform ease .7s .8s, opacity ease .7s .8s;
	opacity: 1;
	transform: translateY(0, 0%, 0);
}

@media only screen and (min-width: 1025px){

	.item:hover {
		cursor: pointer;
	}

	.item:hover .item-bottle {
		transition: transform ease .3s .0s, opacity ease .3s .0s;
		transform: translate3d(0, -50px, 0) !important;
	}

	.item:hover .item-title {
		transition: transform ease .3s .0s, opacity ease .3s .0s;
		transform: translate3d(0, -50px, 0) !important;
		opacity: 0;
	}

	.item:hover .item-back {
		transition: transform ease .3s .0s, opacity ease .3s .0s;
		transform: translate3d(0, 100px, 0) !important;
	}

	.item:hover .btn-view-product {
		visibility: visible;
		opacity: 1;
		transition: opacity ease .3s .2s;
		transform: translate3d(0, 45px, 0);
	}
}

.item .btn-view-product {
	opacity: 0;
}


.features .col-sm-6{
	transform: translate3d(0, 50%, 0);
	opacity: 0;
	transition: transform .3s .4s, opacity .3s .4s;
}

.fp-viewing-3 .features .col-sm-6{
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: transform .5s .7s, opacity .5s .7s;
}

.fp-viewing-3 .features .col-sm-6:nth-child(1) {
	transition: transform .7s .6s, opacity .7s .6s;
}

.fp-viewing-3 .features .col-sm-6:nth-child(3) {
	transition: transform .6s .7s, opacity .6s .7s;
}
