.brand {
	opacity: 0;
	transition: background-image ease .0s .7s, opacity ease .3s 2s;
}

.loaded .brand {
	top: 55px;
	left: 60px;
}

.opacity.brand {
	opacity: 1;
	transition: background-image ease .0s .7s, opacity ease .3s 0s;
}

.dark .brand{
	transition: background-image ease .0s .7s, opacity ease .3s 0s;
}

.dark .brand-blue, .loaded .grid .brand-blue{
	left: 30px;
	top: 30px;
}
/*
.main-top {
	transition: top ease .0s .0s, right ease .0s .0s;
}

.main-top li a {
	transition: color ease .0s .0s;
}

.main-top-user:after, .main-top-menu:before {
	transition: color ease .0s .0s;
}

.dark .main-top {
	transition: top ease .0s .7s, right ease .0s .7s;
}

.dark .main-top li a, 
.dark .main-top-user:after, 
.dark .main-top-menu:before, 
.dark .cart-resume span {
	transition: color ease .3s .7s;
}
*/
.brand-blue,
.scroll-animation {
	transition: background-image ease 0s .7s, background-size ease 0s .7s, width ease 0s .7s, height ease 0s .7s, left ease 0s .7s, top ease 0s .7s, opacity ease .0s 0s !important;
}

.downing .brand-blue,
.downing .scroll-animation {
	transition: background-image ease 0s .7s, background-size ease 0s .7s, width ease 0s .7s, height ease 0s .7s, left ease 0s .7s, top ease 0s .7s, opacity ease .0s 0s !important;
}

/*
.hamburger{
	transition: padding ease .0s .0s;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	transition: background-color ease .0s .0s;
}

.dark .hamburger{
	transition: padding ease .0s .7s;
}

.dark .hamburger-inner, .dark .hamburger-inner::before, .dark .hamburger-inner::after{
	transition: background-color ease .3s .7s;
}*/

.item-overlay {
    display: block;
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    transition: opacity ease .3s 0s, transform ease .3s 0s;
}

.item-image:hover .item-overlay{
    opacity: 1;
    transform: translate3d(0, 0px, 0);
}

.item-product{
	transition: bottom .3s 0s;
}

.item-image:hover .item-product{
	bottom: 0;
}

.product-container .container,
.back-blue-page .container{
	opacity: 0;
	top: 20px;
    transition: opacity ease .3s .3s, top ease .3s .3s;
}

.loaded .product-container .container,
.loaded .back-blue-page .container {
	opacity: 1;
	top: 0;
    transition: opacity ease .3s .3s, top ease .3s .3s;
}

.back-blue-page h2 {
	opacity: 0;
    transform: translate3d(0, 30%, 0);
}

.loaded .back-blue-page h2 {
	opacity: 1;
    transform: translate3d(0, 0px, 0);
    transition: opacity ease .3s .4s, transform ease .3s .4s;
}

.btn-add-to-cart-product,
.sm-tax-advise {
	opacity: 0;
    transform: translate3d(0, 20px, 0);
}

.loaded .btn-add-to-cart-product {
	opacity: 1;
    transform: translate3d(0, 0px, 0);
    transition: opacity ease .3s .5s, transform ease .3s .5s;
}

.loaded .sm-tax-advise {
	opacity: 1;
    transform: translate3d(0, 0px, 0);
    transition: opacity ease .3s .7s, transform ease .3s .7s;
}