.white-file.outer{
	padding-bottom: 0;
	height: auto;
	overflow-x: hidden;
}

.back-blue-page{
    background: url('../img/bg-patron.jpg')no-repeat top center;
    background-color: #4dc6ff;
    width: 100%;
    height: auto;
    padding-top: 100px;
	padding-bottom: 70px;
}

.back-blue-page--dispensers{
	background: url('../img/bg-fuentes.jpg')no-repeat top center/100% #4dc6ff;
}

.white-file-order .back-blue-page{
	padding-top: 160px;
}

.back-blue-page .container{
	position: relative;
	width: 800px;
	background: #fff;
	min-height: 800px; /* height provisional */
	padding: 0 35px;
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.back-blue-page .container-error-page, .back-blue-page .container-blocks-login, .back-blue-page .container-thankyou{
	box-shadow: none;
}

.container-form{
	padding: 50px 65px;
	border-bottom: 1px solid #e3e3e3;
	clear: both;
}

.container-form:nth-child(3){
	padding-bottom: 80px;
}

.container-form:nth-child(3) + .btn-blue{
	margin-bottom: 40px;
}

.container-form h1{
	font-family: 'Asap-Bold';
	padding-bottom: 25px;
	text-align: center;
	color: #202025;
	font-size: 25px;
	line-height: 23px;
	margin: 0;
}

.order-detail{
	border-bottom: 1px solid #3f3f3f;
	padding-bottom: 15px;
}

.row-detail{
	padding-bottom: 15px;
	clear: both;
}

.counter-product-order-detail{
	width: 85px;
}

.product-order-qty:before{
	font-family: 'Iconfontvella';
	color: #cdcdcd;
	font-size: 17px;
	color: #3f3f3f;
	cursor: pointer;
}

.product-order-qty-minus:before{
	content: "V";
	padding-right: 10px;
}

.product-order-qty-plus:before{
	content: "W";
	padding-left: 10px;
}

.product-order-qty-number{
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
	font-size: 19px;
	line-height: 20px;
}


/* selector mobil qty product */
.selector-product-order-detail-mobil{
	display: none;
}

.selector-product-order-detail-mobil .bootstrap-select .btn, .selector-product-order-detail-mobil .bootstrap-select .btn, .selector-product-order-detail-mobil .open > .dropdown-toggle.btn-default{
	padding: 9px 12px 9px 4px !important;
}

.selector-product-order-detail-mobil .bootstrap-select .btn, .open > .dropdown-toggle.btn-default{
	border-radius: 10px;
	border: 1px solid;
	background: #fff;
}

.selector-product-order-detail-mobil .bootstrap-select.show-menu-arrow.open > .dropdown-toggle{
	border-radius: 10px;
}

.selector-product-order-detail-mobil .open > .dropdown-toggle.btn-default, .selector-product-order-detail-mobil .open > .dropdown-toggle.btn-default:hover, .selector-product-order-detail-mobil .bootstrap-select .btn:hover, .selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu li a:hover:focus{
	background: #fff;
	border: 1px solid;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu{
	border-radius: 10px;
	border: 1px solid;
	background: #fff;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu.inner{
	border-radius: 0px;
	border: none;
}

.selector-product-order-detail-mobil .bootstrap-select .btn:focus{
	background: #fff;
	box-shadow: none;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu li a:focus{
	background: #fff;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-menu li:hover a:focus{
	background: #cbcbcb;
	border: none;
}

.selector-product-order-detail-mobil .bootstrap-select.btn-group .dropdown-toggle .caret:before{
	right: 8px;
}


/* end selector mobil qty product */

.back-blue-page .container-order-detail{
	min-height: 0;
}
.order-detail-container-form-total{
	padding-bottom: 40px;
}
.order-detail-container-form-data{
	padding-top: 0;
}
.closed-order-actions{
	margin: 60px 45px 15px 55px;
}
.print-bill span:before{
	position: relative;
	content: '+';
	font-size: 27px !important;
    top: 4px;
}
.edit-order span:before{
	content: 'e';
	font-size: 15px !important;
}
.disable a, .disable span:before{
	color: #d7d7d7 !important;
}
.disable a:hover{
	opacity: 1 !important;
}
.print-bill, .repeat-order{
    position: relative;
}
.print-bill:after, .repeat-order:after{
	content: '|';
	display: inline;
	color: #d7d7d7;
	position: absolute;
    right: 0;
    font-size: 15px;
    top: 4px;
}
.header-closed-order-detail{
	margin-bottom: 45px;
}
.order-detail-container-form{
	border-bottom: none;
}
.order-ref{
	color: #4e4e4e;
	font-size: 16px;
	line-height: 24.33px;
    font-family: 'Asap-Bold';
}
.order-situation{
	float: right;
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
	font-size: 13px;
}
.order-situation-finished{
	color: #b8b8b8;
}
.order-situation-inprogress:before{
	color: #4dc6ff;
    font-family: 'Iconfontvella';
    content: 'r';
    font-size: 16px;
    margin-right: 5px;
}
.order-situation-sended:before{
	color: #4dc6ff;
    font-family: 'Iconfontvella';
    content: '!';
    margin-right: 5px;
}
.order-situation-finished:before{
	color: #b8b8b8;
    font-family: 'Iconfontvella';
    content: 'c';
    margin-right: 5px;
    font-size: 12px;
}
.order-recived-address, .order-recived-date{
	font-size: 16px;
	line-height: 14px;
}
.order-recived-address strong, .order-recived-date strong{
	font-family: 'Asap-BoldItalic';
}
.order-recived-date{
	float: right;
}
.order-recived-address{
	max-width: 315px;
    float: left;
}

.name-product-order-detail{
	font-family: 'Asap-Italic';
	color: #3f3f3f;
	font-size: 17px;
	line-height: 17px;
	display: inline-block;
}

.price-product-order-detail{
	font-family: 'Asap-BoldItalic';
	color: #3f3f3f;
	font-size: 17px;
	line-height: 26px;
	display: inline-block;
	float: right;
}
.price-product-order-detail-unit{
	font-family: 'Asap-Italic';
	padding-right: 25px;
}
.promo-code-link{
	font-family: 'Asap-Italic';
	color: #707070;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	letter-spacing: 0.5px;
	padding: 0;
	text-align: center;
}

.promo-code-link a{
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
}

.discount-order-detail, .promo-code-link.promocode-validated-ok{
	display: none;
}

.discount-order-detail.promocode-validated-ok{
	display: block;
}

.help-block, .custom-label{
	font-family: 'Asap-Italic';
	margin: 0;
	display: inline-block;
	color: #707070;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.5px;
}

.help-block strong, .custom-label strong{
	font-family: 'Asap-BoldItalic';
}

/* Modals promocode */

.modal-backdrop {
   background-color: #fff;
}

.promocode .modal-dialog, #qtyminimerrormsg .modal-dialog, .standar-msg .modal-dialog{
	width: 285px;
	margin: 25% auto;
}

.promocode .modal-content, .qty-minim-error-msg .modal-content, .standar-msg .modal-content{
	border-radius: 0px;
	border: none;
	background: #2f2f2f;
	padding: 25px;
}

.promocode .modal-body, .qty-minim-error-msg .modal-body, .standar-msg .modal-body{
	padding: 0;
	margin-bottom: 15px;
}

.standar-msg .modal-body{
	text-align: center;
}

.promocode .modal-body label, .promocode-msg, .qty-minim-error-msg .qty-error-msg, .standar-msg .modal-msg{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	color: #ffffff;
	text-align: center;
	padding-bottom: 20px;
	display: block;
	letter-spacing: 0.5px;
	font-size: 12px;
	line-height: 15px;
}

.standar-msg .modal-msg{
	padding-top: 10px;
	padding-bottom: 0;
}

.not-remove-card-msg.standar-msg .modal-msg{
	font-size: 11px;
}

.not-remove-card-msg.standar-msg .modal-msg strong{
	font-family: 'Asap-Bold';
}

.not-remove-card-msg.standar-msg .modal-msg:last-child{
	padding-left: 10px;
    padding-right: 10px;
}

.not-remove-card-msg.standar-msg .modal-msg a{
	font-family: 'Asap-Bold';
    color: #4dc6ff;
}

.qty-minim-error-msg .qty-error-msg{
	max-width: 265px;
	padding-bottom: 5px;
	padding-top: 15px;
}

.qty-minim-error-msg .qty-error-msg strong{
	font-family: 'Asap-BoldItalic';
}

.promocode-msg{
	padding-bottom: 15px;
	margin: 5px auto;
}

.promocode .form-control{
	background: #eaeaea;
	height: 30px;
	width: 195px;
	margin: 0px auto;
	border-radius: 20px;
	border: 0px none;
	color: #18181b;
	text-align: center;
}

.promocode .modal-footer, .qty-minim-error-msg .modal-footer, .standar-msg .modal-footer{
    padding: 0;
    text-align: center;
    border-top: 0;
}

.promocode .modal-footer a:first-child:after, .qty-minim-error-msg .modal-footer a:first-child:after, .standar-msg .modal-footer a:first-child:after, .standar-msg .modal-footer a:first-child:after {
	content: "|";
	padding: 0 5px 0 10px;
	color: #8e9095;
}

.not-remove-card-msg.standar-msg .modal-footer a:first-child:after{
	content: "";
	padding: 0;
}

.btn-modal-promo-code{
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
	line-height: 20px;
	color: #eaeaea;
	cursor: pointer;
	letter-spacing: 0.5px;
}

/* error msg */
.promocode-error-msg .error-code{
	color: #ffffff;
	background: #dd6666;
	border-radius: 20px;
	text-align: center;
	letter-spacing: 0.5px;
	width: 220px;
	margin: 0 auto;
	font-family: 'Asap-Italic';
	font-size: 14px;
	padding: 5px 10px;
}

/* end modals */

.total-price-container{
	float: right;
	padding-top: 10px;
}

.closed-total-price-container{
	text-align: right;
	padding-bottom: 0px;
}

.closed-total-price-container .total-price-container{
	float: none;
}

.total-price{
	font-family: 'Asap-BoldItalic';
	font-size: 31px;
	color: #3f3f3f;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.label-total-price{
	font-family: 'Asap-Italic';
	text-transform: uppercase;
	font-size: 11px;
	position: relative;
	top: -15px;
	padding-right: 10px;
}

.advise-tax-total-price{
	font-family: 'Asap-Italic';
	font-size: 11px;
	color: #3f3f3f;
	position: relative;
	display: block;
    text-align: right;
    line-height: 12px;
}

.compra-recurrente-selector{
	padding-top: 10px;
}

.custom-control{
	margin-top: 10px;
	position: relative;
	display: inline;
	padding-left: 0px;
	cursor: pointer;
}

.compra-recurrente-selector .custom-control{
	padding-left: 15px;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-indicator{
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.compra-recurrente-selector-si .custom-control-indicator:before{
	font-family: 'Iconfontvella';
	content: "Y";
	color: #cdcdcd;
	font-size: 22px;
}

.compra-recurrente-selector-si .custom-control-input:checked ~ .custom-control-indicator:before{
	color: #2be4b6;
}

.compra-recurrente-selector-no .custom-control-indicator:before{
	font-family: 'Iconfontvella';
	content: "Z";
	color: #cdcdcd;
	font-size: 22px;
}

.compra-recurrente-selector-no .custom-control-input:checked ~ .custom-control-indicator:before{
	color: #4dc6ff;
}

.compra-recurrente-selector .custom-control-description{
	font-family: 'Asap-Italic';
	font-size: 12px;
	color: #707070;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.recurring-time-selector{
	padding-bottom: 0;
	margin-bottom: 0;
	display: none;
}

.recurring-time-selector .custom-label{
	padding-right: 15px;
}

/* Form order Shipping */
.order-shipping, .account{
	position: relative;
	margin-top: 5px;
}

.col-shipping-sm, .col-payment-sm, .col-account-sm{
	width: 190px;
	margin-left: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.col-shipping-lg, .col-payment-lg, .col-account-lg{
	width: 390px;
}

.row-shipping-sm, .row-payment-sm, .row-account-sm, .recurring-time-selector select, .order-shipping-time select, .row-payment-sm select{
	display: inline-block;
	width: 190px;
}

.row-shipping-user-address select, .row-payment-sm select, .recurring-time-selector select, .order-shipping-time select, .row-payment-sm select, .row-payment-xs select{
	border-radius: 20px;
	height: 30px;
    color: #707070;
    border: none;
    padding: 9px;
    text-align: center;
    -webkit-appearance: none;
    border: none;
    font-size: 11px;
    line-height: 12px;
    font-family: 'Asap-Italic';
    letter-spacing: 0.5px;
    background: url('../img/dropdown-arrow.png') no-repeat 90% #eaeaea;
    -webkit-background-size: 10px 6px;
	-moz-background-size: 10px 6px;
	-o-background-size: 10px 6px;
	background-size: 10px 6px;
	padding-left: 10px;
}

.row-payment-xs select{
	width: 100%;
	font-size: 11px;
	background: url('../img/dropdown-arrow.png') no-repeat 80% #eaeaea;
    -webkit-background-size: 10px 6px;
	-moz-background-size: 10px 6px;
	-o-background-size: 10px 6px;
	background-size: 10px 6px;
}

select::-ms-expand {
    display: none;
}

select{
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

select:focus{
	outline: none;
}

.row-shipping-lg, .row-payment-lg, .row-account-lg{
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
}

.row-shipping-lg{
	max-width: 590px;
}

.row-shipping-user-address .custom-label, .order-shipping-date .custom-label{
	margin-right: 5px;
	padding-left: 10px;
}

.order-shipping-date .custom-label{
	font-family: 'Asap-BoldItalic';
}

input{
	outline: none !important;
}

.order-shipping input, .user-add-new-card input, .promo-mailing input, .legal-accept input{
	background: #eaeaea;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	height: 30px;
	border: none;
	color: #202025;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 25px;
	margin-bottom: 10px;
}

.order-shipping-time select{
    margin-bottom: 10px;
}

.row-shipping-user-address{
	/*visibility: hidden;*/
}

.order-shipping input.order-shipping-user-address, .order-shipping input.order-shipping-user-comments, .order-shipping input.order-billing-address{
	text-align: left;
}

.container-infolabel{
	position: relative;
}

.container-infolabel .popover, .info-member + .popover{
	background: #2f2f2f;
}

.container-infolabel .popover.top > .arrow, .container-infolabel .popover.top > .arrow::after, .info-member + .popover.top > .arrow, .info-member + .popover.top > .arrow:after{
	border-top-color: #2f2f2f;
}

.container-infolabel .popover-content, .info-member + .popover .popover-content{
	font-size: 12px;
	line-height: 15px;
	font-family: 'Asap-Regular';
	max-width: 255px;
	min-width: 255px;
}

.infolabel{
	width: 40px;
	height: 30px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.order-shipping .infolabel:before, .order-payment .infolabel:before, .account-payment-card .infolabel:before, .info-save-card:after{
	font-family: 'Iconfontvella';
	content: "P";
	color: #707070;
	font-size: 12px;
	position: absolute;
	right: 15px;
	top: 4px;
	cursor: pointer;
}

.order-shipping .infolabel.info-absent-home-option:before{
    top: 2px;
}

.info-save-card:after{
	right: 0px;
	top: 2px;
}

.order-shipping input.order-shipping-user-name, .order-shipping input.order-shipping-user-lastname, .order-shipping input.order-shipping-user-postal-code, .order-shipping input.order-billing-razon-social, .col-shipping-lg, .order-billing-cif, .order-shipping-date{
	margin-right: 5px;
}

.order-shipping input.order-shipping-user-phone{
	padding: 0px 45px 0px 25px;
	width: 190px;
}

.order-shipping input.order-shipping-user-comments{
	padding: 0px 45px 0px 25px;
	line-height: 14px;
	width: 100%;
}

.order-shipping input.order-shipping-user-comments::-webkit-input-placeholder{
	text-transform: none;
}

.order-shipping input::-webkit-input-placeholder, .order-payment input::-webkit-input-placeholder,  .container-form-login input::-webkit-input-placeholder{
   color: #707070 !important;
}

.order-shipping input:-moz-placeholder, .order-payment input:-moz-placeholder, .container-form-login input:-moz-placeholder { /* Firefox 18- */
   color: #707070 !important;
}

.order-shipping input::-moz-placeholder, .order-payment input::-moz-placeholder, .container-form-login input::-moz-placeholder{  /* Firefox 19+ */
   color: #707070 !important;
}

.order-shipping input:-ms-input-placeholder, .order-payment input:-ms-input-placeholder, .container-form-login input:-ms-input-placeholder{
   color: #707070 !important;
}

.col-shipping-sm .custom-label, .col-shipping-sm .help-block{
	font-weight: 400;
	text-align: center;
	width: 100%;
	height: 28px;
	margin-bottom: 12px;
	position: relative;
	top: 10px;
}

/*.order-shipping-date{
	margin-top: 34px;
}*/

.order-shipping-date .input-group{
	position: relative;
}

.order-shipping-date .date, .order-shipping-date input, .new-card-cvv{
	width: 100%;
}

.order-shipping-date .date .input-group-addon{
	font-size: 12px;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 9px;
	right: 25px;
}

.bootstrap-datetimepicker-widget table td.active{
	background-color: #4dc6ff !important;
}

.order-shipping-time .btn-group{
	position: relative;
	top: -3px;
}

.elevator-options, .need-bill-checkbox{
	text-align: center;
}

.need-bill-checkbox{
	margin-top: 25px;
    margin-bottom: 15px;
}

.need-bill-checkbox .custom-control-description{
	padding-left: 10px;
    line-height: 30px;
}

.order-billing-address{
	text-align: left;
}

.billing .block-info{
	position: relative;
    padding-left: 35px;
    max-width: 250px;
    color: #afafaf;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Asap-Italic';
    letter-spacing: 0.4px;
    margin: 25px auto 0;
}

.billing .block-info:before{
    content: "U";
    font-family: 'Iconfontvella';
    font-size: 25px;
    color: #afafaf;
    margin-left: 3px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 7px;
}

.billing .block-info strong{
	font-family: 'Asap-BoldItalic';
	color: #afafaf;
}

.order-shipping-absent-home{
    margin: 20px 0 40px;
}

.order-shipping-absent-home .row-shipping-sm.container-infolabel{
	width: 165px;
}

.checkbox.absent-one{
	margin-right: 30px;
    margin-left: 10px;
}

.order-shipping-absent-home .custom-label{
	font-family: 'Asap-BoldItalic';
	text-align: center;
    margin-right: 5px;
}

.icon-info-absent:before{
	content: "X";
    font-family: 'Iconfontvella';
    font-size: 16px;
    color: #707070;
    margin-left: 5px;
    cursor: pointer;
}

.info-block-absent-home p{
    color: #707070;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Asap-Italic';
    text-align: center;
    margin: 12px auto 0;
    letter-spacing: 0.5px;
}

.info-block-absent-home strong{
	font-family: 'Asap-BoldItalic';
	font-size: 15px;
}

/*.need-bill strong, .no-need strong{
	font-family: 'Asap-BoldItalic';
	color: #707070;
	cursor: pointer;
}

.need-bill strong:hover, .no-need strong:hover{
	color: #b7b7b7;
}*/

.disabled{
	display: none;
}

.metodo-pago{
	text-align: center;
}

.metodo-pago .pago-online{
	margin-right: 100px;
}

.metodo-pago .custom-control-description, .user-add-new-card .custom-checkbox .custom-control-description, .promo-mailing .custom-checkbox .custom-control-description, .legal-accept.custom-checkbox .custom-control-description, .user-cards-saved .custom-control-description, .elevator-options .custom-control-description, .need-bill-checkbox .custom-control-description, .order-shipping-absent-home .custom-control-description{
	font-family: 'Asap-Italic';
	font-size: 12px;
	color: #707070;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.metodo-pago .custom-radio .custom-control-indicator, .user-add-new-card .custom-checkbox .custom-control-indicator, .container-checkbox-login .custom-checkbox .custom-control-indicator, .promo-mailing .custom-checkbox .custom-control-indicator, .legal-accept.custom-checkbox .custom-control-indicator{
    border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin-right: 8px;
	color: #4dc6ff;
	background: #fff;
	box-shadow: none;
	border: 3px solid;
}

.metodo-pago .custom-control-input:checked ~ .custom-control-indicator, .user-add-new-card .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator, .container-checkbox-login .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator, .promo-mailing .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator, .legal-accept.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator{
	background: #4dc6ff;
	border: none;
}

.metodo-pago .pago-online .custom-control-input:checked ~ .container-metodo-fields.cod-fields{
	visibility: hidden;
}

.order-shipping-absent-home .custom-control-description.unavailable, .info-absent-home-option.unavailable:before{
    color: #a6a6b4;
}

.container-metodo-fields{
	margin-top: 30px;
}

.go-to-pay-bank{
	text-align: center;
}

.card-image{
	height: 63px;
    width: auto;
    margin-bottom: 18px;
}

.ok-save-card{
	text-align: center;
    max-width: 270px;
    margin: 20px auto 0;
}

.user-cards-saved .ok-save-card{
	text-align: right;
	max-width: 100%;
	padding-right: 6px;
	display: none;
}

.ok-save-card .checkbox{
	padding-right: 18px;
}

.box-cod{
	padding-right: 20px;
}

.cod-fields{
	text-align: center;
	padding-top: 20px;
	display: none;
}

.box-cod:before{
	font-family: 'Iconfontvella';
	content: "r";
	color: #707070;
	font-size: 83px;
	color: #4dc6ff;
}

.cod-fields p, .go-to-pay-bank p{
	color: #707070;
	font-size: 15px;
	line-height: 20px;
	font-family: 'Asap-Italic';
	text-align: center;
	margin: 12px auto 0;
	letter-spacing: 0.5px;
}

.cod-fields p{
	max-width: 390px;
}

.go-to-pay-bank p{
	max-width: 290px;
	margin-top: 0;
}

.cod-fields strong, .go-to-pay-bank strong{
	font-family: 'Asap-BoldItalic';
}

.smile-cod:before{
	font-family: 'Iconfontvella';
	content: "X";
	font-size: 16px;
}

/* payment online saved cards */
.card-saved.custom-control{
	padding-left: 10px;
	display: block;
	background: #eaeaea;
	border-radius: 20px;
	height: 30px;
	color: #202025;
	margin-bottom: 10px;
}

.data-card-saved{
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.card-saved .custom-control-description{
	display: inline-block;
	margin-bottom: 0;
	line-height: 30px;
}

.card-saved .custom-control-description .name-card{
	padding-right: 20px;
}

.card-saved .custom-control-description .number-card{
	padding-right: 13px;
}

.card-saved .custom-control-indicator{
	float: right;
}

.logo-card img{
	width: auto;
	height: 17px;
	margin-bottom: 3px;
	margin-right: 22px;
}

.user-cards-saved{
	display: none;
}

.login .user-cards-saved{
	display: block;
}

.user-cards-saved .custom-control-input:checked ~ .custom-control-indicator:after{
	font-family: 'Iconfontvella';
	content: "c";
	font-size: 10px;
	color: #707070;
	padding-right: 13px;
}

.btn-block-layout{
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
	line-height: 20px;
	color: #c5c5c5;
	text-align: center;
	letter-spacing: 0.5px;
	padding-top: 12px;
	cursor: pointer;
}

.btn-block-layout:hover, .btn-block-layout:hover:before{
	color: #707070;
}

.btn-add-card:before, .btn-add-address:before, .btn-add-card-account:before{
	font-family: 'Iconfontvella';
	content: "d";
	font-size: 13px;
	color: #c5c5c5;
	padding-right: 10px;
}

.btn-back-saved-cards:before{
	font-family: 'Iconfontvella';
	content: "V";
	font-size: 13px;
	color: #c5c5c5;
	padding-right: 10px;
}

.btn-back-saved-cards{
	padding-top: 20px;
	display: none
}

.btn-back-saved-cards{
	display: none;
}

.login .btn-back-saved-cards{
	display: block;
}

.user-add-new-card{
	position: relative;
	display: block;
}

.login .user-add-new-card{
	display: none;
}

.account-payment-card .user-cards-saved{
	display: block;
}

.col-payment-sm{
	position: absolute;
	top: 0px;
	right: 0px;
}

.row-payment-xs{
	width: -webkit-calc(50% - 10px);
	width: -moz-calc(50% - 10px);
	width: calc(50% - 10px);
	float: left;
	margin-bottom: 10px;
}

.card-year{
	float: right;
	position: relative;
}

.card-year:before{
	content: '/';
    font-size: 14px;
    position: absolute;
    left: -12px;
    top: 3px;
}

.row-payment-xs .bootstrap-select.btn-group .dropdown-toggle .filter-option, .card-type .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-size: 11px;
    padding-right: 10px;
}

.card-type{
	margin-bottom: 10px;
}

.row-payment-sm.container-infolabel{
	float: right;
}

.new-card-cvv:after{
	font-family: 'Iconfontvella';
	content: "d";
	font-size: 10px;
	color: #c5c5c5;
	padding-right: 10px;
}

.container-legal-accept{
	position: relative;
	top: -50px;
	text-align: center;
}

.user-add-new-card .custom-checkbox, .legal-accept.custom-checkbox{
	padding-left: 0px;
}

.user-add-new-card .custom-checkbox .custom-control-indicator, .promo-mailing .custom-checkbox .custom-control-indicator, .legal-accept.custom-checkbox .custom-control-indicator{
	margin-right: 4px;
}

.save-card-logos{
	width: 148px;
}

form .btn-blue{
	background: #fff;
	display: block;
	margin: 0 auto 5px;
	position: relative;
	top: -25px;
}

form .btn-blue:hover{
	color: #fff;
}


/* ------------------------------------------ /*
/* Account */

.mode-layout{
	font-family: 'Asap-BoldItalic';
	position: relative;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	padding-right: 10px;
}

.mode-layout a{
	color: #707070;
	cursor: pointer;
}

.mode-layout a:before{
	font-family: 'Iconfontvella';
	content: "e";
	font-size: 11px;
	padding-right: 6px;
}

.mode-layout a.edit-btn-remove{
	padding-right: 15px;
	color: #f53559;
}

.mode-layout a.edit-btn-remove:before{
	content: "k";
	font-size: 10px;
	color: #f53559;
}

.mode-layout a:hover, .mode-layout a:hover:before{
	color: #c5c5c5;
}

.mode-layout .btn-submmit, .mode-layout .edit-btn-back{
	font-family: 'Asap-BoldItalic';
	color: #4dc6ff;
	font-size: 12px;
	line-height: 20px;
	border: none;
	background: none;
	padding: 0;
}

.mode-layout .btn-submmit:before{
	font-family: 'Iconfontvella';
	content: "g";
	font-size: 11px;
	padding-right: 6px;
}

.mode-layout .edit-btn-back:before{
	content: "";
}

.mode-layout .btn-submmit:hover, .mode-layout .btn-submmit:hover:before{
	opacity: 0.8;
}
.edit-btn-mode a {
	color: #5ccaff;
}
.edit-btn-mode a:hover {
	color: #5ccaff;
	opacity: 0.7;
}
.edit-btn-mode a:hover:before {
	color: #5ccaff;
}

/* address-account */

.container-form .field{
	background: #eaeaea;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	height: 30px;
	color: #202025;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 25px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.edit{
	position: relative;
	margin-top: 5px;
}

.edit input{
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #eaeaea;
	border-radius: 20px;
	height: 30px;
	color: #707070;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 20px;
	margin-bottom: 10px;
}

.edit input::-webkit-input-placeholder {
   color: #707070 !important;
   opacity: 0.8;
}

.edit input:-moz-placeholder { /* Firefox 18- */
   color: #707070 !important;
   opacity: 0.8;
}

.edit input::-moz-placeholder{  /* Firefox 19+ */
   color: #707070 !important;
   opacity: 0.8;
}

.edit input:-ms-input-placeholder{
   color: #707070 !important;
   opacity: 0.8;
}

.edit .col-account-sm-last{
	top: auto;
	bottom: 0;
}

.account-user-name, .edit-account-user-name, .edit-account-user-password, .closed-order-user-name, .closed-order-user-postal-code{
	margin-right: 5px;
}

.field.account-user-mail, input.edit-account-user-mail, .field.account-address-user-address, input.account-address-user-address, .user-cards-saved .field, .field.closed-order-user-address, .closed-order-card .field{
	text-align: left;
}

.edit-form, .add-block-form, .edit-form-card, .account-password-container{
	display: none;
}

.account-password-container.edit-pw{
	display: block;
}

.edit-pw-btn{
	text-align: left;
	padding-left: 10px;
}

.edit-pw-btn a:before{
	content: "f";
}

.promo-mailing{
	position: absolute;
	padding-left: 7px;
}

/* Payment-cards-account */

.user-cards-saved .field:after{
	font-family: 'Iconfontvella';
	content: "(";
	font-size: 11px;
	padding-right: 6px;
	text-transform: none;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.closed-order-card .field:after{
	font-family: 'Iconfontvella';
	content: "c";
	font-size: 11px;
	padding-right: 6px;
	text-transform: none;
	position: absolute;
	right: 10px;
}

.field .data-card-saved{
	padding-right: 15px;
}

.container-edit-form-card{
	position: relative;
	margin-top: 5px;
}

.user-cards-saved .container-infolabel input{
	width: 100%;
}

.container-img-cards{
	text-align: right;
}

.edit-form-card{
	margin-bottom: 20px;
}

.user-cards-saved .mode-layout{
	display: none;
}


/* Account Resumen pedido */
.space-td {
	width: 30px;
}
.space-td_x2 {
	width: 35px;
}

.container-form td{
	font-family: 'Asap-Italic';
	font-size: 12px;
	padding-bottom: 10px;
}

.account-resume-order-title td{
	font-family: 'Asap-BoldItalic';
	font-size: 14px;
	line-height: 16px;
	color: #3f3f3f;
	letter-spacing: 0.5px;
}

.account-resume-order-icon:before{
	font-family: 'Iconfontvella';
	font-size: 18px;
	cursor: pointer;
	margin-left: 15px;
}

.account-resume-order-view-order:before{
	content: "h";
}

.account-resume-order-repeat-order:before{
	content: "i";
}

.account-resume-order-recurrente:before{
	content: "a";
}

.account-resume-order-recurrente.active:before{
	content: "Y";
	color: #2be4b6;
}
.account-resume-order-bill:before {
  content: "+";
  font-size: 28px;
}
.account-resume-order-edit:before {
	content: "e";
}
.account-resume-order-icon.inactive {
	opacity: 0.2;
}

.label-title-order-icon + .popover{
	background: #2f2f2f;
}

.label-title-order-icon + .popover .popover-content{
	min-width: 0px;
	height: 22px;
	padding: 0px 10px;
	font-family: "Asap-Bolditalic";
	font-size: 13px;
}

.label-title-order-icon + .popover > .arrow {
    border-width: 6px;
    margin-left: 0px;
}

.label-title-order-icon + .popover.top > .arrow::after{
	border-top-color: #2f2f2f;
}

.account-resume-orders{
	margin-bottom: 40px;
}

.account-resume-orders a{
	color: #3f3f3f;
}

.account-actions-order{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e3e3e3;
}

.actions-nav-label{
	font-family: 'Asap-BoldItalic';
	font-size: 14px;
	line-height: 20px;
	color: #3f3f3f;
}

.actions-nav-label:before{
	font-family: 'Iconfontvella';
	font-size: 17px;
	color: #2be4b6;
	content: "Y";
	padding-right: 15px;
}

.actions-nav{
	float: right;
}

.actions-nav li{
	display: inline-block;
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
	line-height: 20px;
	padding-left: 20px;
}

.actions-nav li a{
	color: #707070;
}

.actions-nav li span:before{
	font-family: 'Iconfontvella';
	font-size: 10px;
	color: #707070;
	padding-right: 3px;
}

.edit-order-recurrente span:before{
	content: "e";
}

.pause-order-recurrente span:before{
	content: "j";
}

.remove-order-recurrente span:before{
	content: "k";
}

.account-order-detail.paused, .total-price-container.paused{
	opacity: 0.2;
}

.account-order-detail.removed, .total-price-container.removed, .info-order-bottom.removed{
	visibility: hidden;
}

.msg-empty-order-resume{
	display: none;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
}

.msg-empty-order-resume.removed{
	display: block;
}

.info-order-bottom, .advise-info-mobil{
	font-size: 12px;
	line-height: 18px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
}

.info-order-bottom strong{
	font-family: 'Asap-BoldItalic';
}

.info-order-bottom p{
	margin-bottom: 5px;
}

.advise-info-mobil{
	display: none;
	color: #989898;
	margin-top: 40px;
}

.advise-info-mobil span{
	height: 60px;
    float: left;
}

.advise-info-mobil span:before{
	content: "n";
	font-family: 'Iconfontvella';
	font-size: 20px;
	color: #707070;
	padding-right: 10px;
}

.delete-account {
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
	line-height: 20px;
	color: #c5c5c5;
	text-align: center;
	letter-spacing: 0.5px;
	padding-top: 12px;
	cursor: pointer;
	margin-top: 40px;
	text-align: center;
}
.delete-account:hover{
	color: #707070;
}
.delete-account__link {
	display: inline-block;
	color: #c5c5c5;
	margin: 0 10px;
}
.delete-account__link:hover {
	color: #707070;
}
.delete-account__link--red {
	color: #ff2d55;
}
.delete-account__link--red:hover {
	color: #ff2d55;
}


.btn-continue-buying, .btn-logout{
	font-family: 'Asap-BoldItalic';
	position: relative;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	top: -25px;
}

.btn-continue-buying{
	left: 0px;
}

.btn-logout{
	right: 0;
}

.btn-continue-buying:before, .btn-logout:after{
	font-family: 'Iconfontvella';
	font-size: 11px;
}

.btn-continue-buying:before{
	content: "N";
	padding-right: 10px;
}

.btn-logout:after{
	content: "M";
	padding-left: 10px;
}

.btn-continue-buying:hover, .btn-continue-buying:hover:before, .btn-logout:hover, .btn-logout:hover:before{
	opacity: 0.7;
}

/* end Accountt */

/* Closed order */
.container-field-closed{
	font-family: 'Asap-Italic';
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #707070;
	text-align: center;
	position: relative;
}

.container-field-closed p{
	margin-top: 5px;
}

.container-field-closed-order-date{
	top: -25px;
}

.container-field-closed-order-time{
	bottom: 10px;
}

.closed-order-actions{
	text-align: center;
}

.closed-order-actions li{
	display: inline-block;
	width: 32%;
}

.closed-order-actions li, .closed-order-actions a{
	font-family: 'Asap-BoldItalic';
	font-size: 13px;
	line-height: 20px;
	color: #3f3f3f;
}

.closed-order-actions span:before{
	font-family: 'Iconfontvella';
	font-size: 18px;
	color: #707070;
	padding-right: 10px;
}

.print-order span:before{
	content: "m";
}

.repeat-order span:before{
	content: "i";
}

.periodic-order span:before{
	content: "Y";
}

.periodic-order.active span:before{
	color: #2be4b6;
}

/* Login */
.back-blue-page .container-blocks-login, .back-blue-page .container-thankyou, .back-blue-page .container-error-page{
	position: relative;
	background: none;
	padding: 0;
	max-width: 640px;
	min-height: 0;
	top: -60px;
}

.back-blue-page h2{
	font-family: 'September-Regular',Helvetica,sans-serif;
	font-size: 124px;
	line-height: 90px;
	margin: 0;
	color: #42b3e9;
	text-align: center;
}

.container-form-login{
	margin: 0px 5px;
	background: #fff;
	/*display: inline-block;*/
	width: 300px;
	height: 400px;
	float: left;
	position: relative;
	padding: 50px 25px;
	text-align: center;
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.lost-password{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 50px 25px;
	background: #fff;
	display: none;
}

.lost-password.showing{
	display: block;
}

.container-form-login h1, .container-thankyou h1, .container-error-page h1, .legal-notice h1{
	font-family: 'Asap-Bold';
	padding-bottom: 10px;
	text-align: center;
	color: #202025;
	font-size: 25px;
	line-height: 23px;
	margin: 0;
}

.container-form-login .btn-blue{
	top: 0;
	margin: 15px auto 10px;
	width: 190px;
}

.container-form-login input{
	width: 190px;
	background: #eaeaea;
	border-radius: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
	height: 30px;
	border: none;
	color: #202025;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Asap-Italic';
	letter-spacing: 0.5px;
	padding: 0 25px;
}

.link-lost-password-form{
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 40px;
	text-transform: uppercase;
	cursor: pointer;
}

.link-lost-password-form:hover{
	opacity: 0.7;
}

.lost-password label{
	font-family: 'Asap-Italic';
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	color: #707070;
	font-weight: 400;
}

.lost-password .btn-blue{
	margin: 45px auto 10px;
}

.lost-password .dismiss-lost-password{
	font-family: 'Asap-BoldItalic';
	font-size: 10px;
	line-height: 20px;
	color: #787878;
	text-transform: uppercase;
}

.container-checkbox-login{
	text-align: left;
}

.container-checkbox-login input{
	height: auto;
}

.container-checkbox-login .custom-control-description{
	font-family: 'Asap-Italic';
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	color: #787878;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.container-checkbox-login .custom-control-description a{
	font-family: 'Asap-BoldItalic';
	text-decoration: underline;
	color: #787878;
}

.container-checkbox-login .custom-checkbox .custom-control-indicator{
	margin-right: 3px;
}


/* Thankyou message */
.thankyou-msg{
	position: relative;
	background: #fff;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #202025;
	padding: 60px 20px 20px;
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.thankyou-resume-date > a {
	color: #202025 !important;
}

.smile-msg{
	padding-bottom: 10px;
	color: #707070;
}

.smile-msg:before{
	font-family: 'Iconfontvella';
	font-size: 18px;
	color: #707070;
	padding-right: 10px;
	content:"X";
}

.thankyou-msg p span, .thankyou-msg p strong{
	font-family: 'Asap-BoldItalic';
}

.thankyou-msg .smile-msg + p{
	padding: 0 20px 20px;
}

.footer-thankyou-msg{
	padding: 30px 0px 10px;
}

.footer-thankyou-msg button:first-child{
	margin-right: 30px;
}

.footer-thankyou-msg .btn-blue, .error-page .btn-blue{
	background: #fff;
	width: 185px;
}

.footer-thankyou-msg .btn-blue:hover, .error-page .btn-blue:hover{
	color: #fff;
	background: #4dc6ff;
}

/* start new app module */
.app-fv{
	background: url('../img/bg-thankyou.jpg')no-repeat top center;
	border: 27px solid #ffffff;
	border-radius: 33px;
	position: relative;
}

.image-phones-app img{
	position: absolute;
	top: -13px;
	left: 0;
	width: 260px;
	height: auto;
}

.content-info-app{
	padding: 34px 25px 38px;
	float: right;
	text-align: left;
}

.content-info-app h3{
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.08);
	color: #ffffff;
	font-family: 'Asap-Bold';
	font-size: 25px;
	font-weight: 700;
	line-height: 25.82px;
	margin-top: 0;
	margin-bottom: 10px;
}

.content-info-app p{
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.08);
	color: #ffffff;
	font-family: 'Asap-Bold';
	font-size: 12px;
	font-weight: 700;
	line-height: 13.59px;
	margin-bottom: 12px;
}

.btns-store{
	text-align: left;
}

.store{
	height: 32px;
	display: inline-block;
	margin: 0 6px 0 0;
}

.store img{
	height: 100%;
	width: auto;
}

/* end app module */

.member-get-member{
	padding: 20px 28px;
	background: #f4f4f4;
}

.member-get-member .row{
	margin: 0;
}

.member-get-member .col-md-6{
	padding: 0;
}

.announce-member{
	padding-right: 20px !important;
}

.announce-member h3{
	font-family: 'Asap-BoldItalic';
	font-size: 16px;
	line-height: 18px;
	text-align: left;
}

.announce-member p{
	font-family: 'Asap-Italic';
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

.info-member:after{
	content: "U";
	font-family: 'Iconfontvella';
	font-size: 12px;
	color: #000000;
	margin-left: 3px;
	cursor: pointer;
}

.share-member{
	padding-left: 10px;
	text-align: center;
}

.share-member h5{
	font-family: 'Asap-BoldItalic';
	font-size: 11px;
	line-height: 12px;
	margin-top: 0;
}

.container-field-member-link{
	font-family: 'Asap-Italic';
	background: #fff;
	color: #202025;
	font-size: 13px;
	line-height: 14px;
	max-width: 270px;
	border-radius: 25px;
	padding: 5px 0;
	margin: 0 auto 15px;
	overflow: hidden;
}

.field-member-link{
	resize: none;
    padding: 0;
    border: none;
    max-width: 100%;
    text-align: center;
    display: inline-block;
    text-shadow: none;
    text-transform: none;
    min-height: 0;
    height: 16px;
    line-height: 16px;
    width: 200px;
    padding-right: 10px;
    vertical-align: text-bottom;
}

.field-member-link:focus{
	outline: none !important;
}

.container-field-member-link span{
	text-transform: uppercase;
	font-family: 'Asap-BoldItalic';
	font-size: 10px;
	color: #202025;
	cursor: pointer;
	vertical-align: text-bottom;
}

.social-member{
	max-width: 270px;
    text-align: left;
    margin: 0 auto;
}

.item-social-member{
	width: 82px;
	height: 31px;
	display: inline-block;
	margin-right: 7px;
	border-radius: 25px;
	text-align: center;
}

.item-social-member span:after{
	display: block;
	color: #fff;
	font-family: 'Iconfontvella';
	padding-top: 4px;
	font-size: 16px;
}

.share-member-fb{
	background: #3455e3;
}

.share-member-fb span:after{
	content: "9";
}

.share-member-tw{
	background: #45cbf1;
}

.share-member-tw span:after{
	content: "8";
}

.share-member-mail{
	background: #414141;
	margin-right: 0;
}

.share-member-mail span:after{
	content: "*";
}

.share-member-whats{
	display: none;
	background: #29ce6f;
	margin-right: 0;
}

.share-member-whats span:after{
	content: "0";
}



/* 404page */
.error-page{
	position: relative;
	background: #fff;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #202025;
	padding: 60px 100px 55px;
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.error-page p{
	padding-bottom: 10px;
}

.error-page p a{
	font-family: 'Asap-Bold';
	color: #202025;
}

/* Legal */
.legal-notice{
	padding: 40px 60px 100px;
}

.legal-notice h1{
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 15px;
}

.legal-notice h3{
	font-family: 'Asap-Bold';
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #202025;
}

.legal-notice p{
	font-size: 13px;
	color: #202025;
}

.legal-notice a{
	color: #202025;
	text-decoration: underline;
}


/* selectors */
.btn-group.open .dropdown-toggle{
	box-shadow: none;
}

.bootstrap-select .btn, .open > .dropdown-toggle.btn-default{
	color: #707070;
	background-color: #eaeaea;
	border: none;
	padding: 9px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle{
	border-radius: 20px;
}

.span1 .bootstrap-select .btn, .span1 .open > .dropdown-toggle.btn-default{
	width: 60px !important;
}

.span3 .bootstrap-select .btn, .span3 .open > .dropdown-toggle.btn-default{
	width: 190px !important;
}

.bootstrap-select .btn:focus, .bootstrap-select.btn-group .dropdown-menu li a:focus{
	outline:0 !important;
	background-color: #eaeaea;
}

.bootstrap-select .btn:hover, .bootstrap-select.btn-group .dropdown-menu li a:hover:focus{
	background: #cbcbcb;
}

.bootstrap-select.btn-group .dropdown-menu{
	border: 0;
	text-align: center;
	background: #eaeaea;
	border-radius: 20px;
}

.span1 .bootstrap-select.btn-group .dropdown-menu{
	width: 60px !important;
	min-width: 60px;
}

.span3 .bootstrap-select.btn-group .dropdown-menu{
	width: 190px !important;
	min-width: 190px;
}

.bootstrap-select.btn-group .dropdown-menu.inner{
	border-radius: 20px;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::before{
	right: 9px;
	left: auto;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::after {
	right: 10px;
	left: auto;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	text-align: center;
	text-transform: none;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Asap-Italic';
	color: #707070;
}

.bootstrap-select.btn-group .dropdown-menu li:hover, .dropdown-menu > li > a:hover{
	background: #cbcbcb;
}

/*.dropdown-menu > li > a:focus, .bootstrap-select.btn-group .dropdown-menu li.selected{
	background: transparent;
}
*/

.bootstrap-select.show-menu-arrow .dropdown-toggle::before{
	border-bottom: 7px solid #cbcbcb;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::after{
	border-bottom: 6px solid #eaeaea;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle::before{
	border-top: 7px solid #cbcbcb;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle::after{
	border-top: 6px solid #eaeaea;
}

.bootstrap-select.btn-group .dropdown-menu li a{
	border-bottom: 1px solid #c9c9c9;
	padding: 5px 0;
	margin: 0 20px;
	font-family: 'Asap-Italic';
	font-size: 12px;
	color: rgb(112, 112, 112);
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
	border: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret:before{
	font-family: 'Iconfontvella';
	content: "T";
	color: #707070;
	font-size: 6px;
	position: relative;
	top: -5px;
	right: 15px;
}


/* helpers */

.inline{
	display: inline-block;
}

.radio{
	padding: 0 15px 0 30px;
}

.span1 {
    width: 60px;
    /*width: 60px !important;*/
}

.bootstrap-select.span1:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 60px;
}

.bootstrap-select.span3:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	/*width: 100%;*/
	width: 190px;
}

.row-payment-xs .bootstrap-select.span3:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .card-type .bootstrap-select.span3:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}

.span3{
	width: 190px;
	/*width: 190px !important;*/
}

.form-control:focus{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.7);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.7);
}

input.error-validation{
	border: 1px solid #dd6666 !important;
}

p.error-validation-msg{
	color: #dd6666;
	font-family: 'Asap-BoldItalic';
	font-size: 12px;
    line-height: 16px;
}

p.response-validation-msg{
	color: #787878;
}

.container-form-login .error-validation-msg{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96%;
	display: none;
}

.post-code-error{
	color: #dd6666;
	font-size: 12px;
    line-height: 16px;
    max-width: 390px;
}

.post-code-error a{
	font-family: 'Asap-Bold';
}

.error-advise-minim{
	color: rgb(221, 102, 102);
	font-size: 12px;
	line-height: 16px;
	position: relative;
	top: -20px;
	text-align: center;
	max-width: 200px;
	margin: 0px auto;
}

.error-advise-minim strong{
	font-family: 'Asap-Bold';
}

/* Modificaciones member */
.container-form.member{
	padding: 50px 25px;
}

.header-member{
	padding: 10px 35px 20px 45px;
}

.welcome-member, .name-member, .qty-credit-member{
	display: inline-block;
	color: #1f1f1f;
	font-family: 'Asap-BoldItalic';
	font-size: 31px;
    line-height: 32px;
}

.credit-member{
	float: right;
	text-transform: uppercase;
	color: #1f1f1f;
	font-size: 15px;
	font-family: 'Asap-Italic';
}

.qty-credit-member{
	display: inline-block;
	color: #1f1f1f;
	font-family: 'Asap-BoldItalic';
	font-size: 31px;
    line-height: 32px;
    padding-left: 5px;
}

/* Modificaciones credit-order */
.credit-total-container{
	text-align: right;
	margin-top: 0;
	position: relative;
	float: right;
}

.credit-total-qty{
	font-size: 27px;
	color: #4dc6ff;
	display: inline-block;
}

.total-credit-discount{
	position: absolute;
    right: 0;
    color: #c6c6c6;
    font-size: 9px;
    text-transform: uppercase;
    padding-right: 0px;
    top: -10px;
    font-family: 'Asap-BoldItalic';
}

.qty-credit-discount{
	padding-right: 3px;
}

#checkcredit label span{
	color: #4dc6ff;
}

/* promo-madre */
.promo-madre{
	margin-top: 100px;
}

.header-promo-madre{
	margin-top: 35px;
	text-align: center;
	position: relative;
}

.caption-banner-promo-madre{
	position: absolute;
	left: 0;
    right: 0;
    top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.header-promo-madre h1{
	font-family: 'Asap-BoldItalic';
	font-size: 33px;
    line-height: 33px;
	color: #ffffff;
	margin: 0;
}

.header-promo-madre h2{
	font-family: 'September-Regular',Helvetica,sans-serif;
	font-size: 78px;
    line-height: 44px;
	color: #ffffff;
	margin: 0;
}

.banner-promo-madre, .image-promo-madre{
	width: 100%;
	height: auto;
	position: relative;
}

.image-promo-madre{
	margin: 20px 0 45px;
}

.promo-madre h4{
	font-family: 'Asap-Bold';
    color: #202025;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding: 0 80px;
}

.promo-madre h5{
	font-family: 'Asap-Bold';
    color: #202025;
    font-size: 15px;
    margin-bottom: 30px;
}

.section-promo-madres{
	text-align: center;
	padding: 50px 0px;
	border-bottom: 1px solid #e3e3e3;
}

.section-promo-madres:first-child{
	padding-top: 0;
}

.section-promo-madres p{
	line-height: 18px;
}

.section-promo-madres a{
	font-family: 'Asap-Bold';
	color: #4dc6ff;
	text-decoration: none;
}

.section-promo-madres strong{
	font-family: 'Asap-Bold';
}

.section-promo-madres small{
	font-size: 10px;
}

.info-promo-madre p{
	margin-bottom: 25px;
}

.conditions-promo-madre{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	-webkit-column-gap: 45px; /* Chrome, Safari, Opera */
    -moz-column-gap: 45px; /* Firefox */
    column-gap: 45px;
    padding: 30px 0;
}

.conditions-promo-madre li{
	text-align: left;
	position: relative;
	padding-left: 10px;
}

.conditions-promo-madre li:before{
	content: '';
	display: inline-block;
	position: absolute;
	width: 4px;
	height: 4px;
	background: #4dc6ff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	top: 6px;
	left: 0;
}

.promo-madre button{
	background: #fff;
    display: block;
    margin: 0 auto 5px;
    position: relative;
    top: -25px;
}

.legal-text-promo{
	margin-top: 60px;
}

.legal-text-promo p{
	color: #9c9c9c;
	font-size: 12px;
	line-height: 18px;
}

.legal-notice .btn:hover{
	color: #fff !important;
}


/* Dispensers */

.header-dispensers{
	text-align: center;
	margin-bottom: 50px;
}

.header-dispensers h1{
	text-shadow: 2px 3px 1px rgba(0, 0, 1, 0.13);
	color: #ffffff;
	font-family: 'Asap-Bold';
	font-size: 36px;
	font-weight: 700;
	line-height: 35px;
	margin: 35px 20px;
}

.header-dispensers p{
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	padding: 0 70px;
	letter-spacing: -.2px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 1, 0.13);
	margin: 0 115px;
}

.header-dispensers strong{
	font-family: 'Asap-Bold';
}

.dispensers{
	display: flex;
	align-items: center;
	justify-content: center;
}

.dispensers__content{
	background-color: #fff;
	width: 595px;
	border-radius: 15px;
	display: flex;
}

.dispensers__slider{
	position: relative;
	width: 225px;
}

.dispensers__slider .flex-control-nav{
	width: 20px;
	height: 40px;
	top: 0;
	bottom: 0;
	left: 8px;
	margin: auto;
}

.dispensers__slider .flex-control-nav li{
	margin: 6px;
    display: block;
}

.dispensers__slider .flex-control-paging li a{
	border: 1px solid #c6c6c6;
	box-shadow: none;
	background: transparent;
    width: 7px;
    height: 7px;
}

.dispensers__slider .flex-control-paging li a.flex-active{
	background: #c6c6c6; 
}

.dispensers__slider img{
	max-width: 100%;
}

.dispensers__slider--mobile{
	display: none;
}

.dispensers__slider--desktop{
	display: block;
}

.dispensers__text{
	width: 375px;
	text-align: left;
	padding: 65px 45px 0 0px;
}

.dispensers__text h2{
	font-family: 'Asap-BoldItalic';
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: #7c7c7c;
	text-align: left;
	margin-bottom: 23px;
}

.dispensers__text li{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #7c7c7c;
	margin-bottom: 31px;
}

.dispensers__text li:before{
	position: relative;
    top: 2px;
	content: "\2022";
	display: inline-block;
	width: 22px;
	font-weight: bold;
	color: #4dc6ff;
	font-size: 25px;
    padding-left: 5px;
}

.dispensers__text li:last-child{
	margin-bottom: 25px;
}

.dispensers__text p{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #7c7c7c;
}

.dispensers__text strong{

	font-family: 'Asap-BoldItalic';
}

/* Dispensers Form */

.dispensers__form{
	background-color: #041e41;
	width: 390px;
	text-align: center;
	padding: 35px 45px 40px;
	box-shadow: 13px 23px 46px rgba(0, 0, 1, 0.18);
	border-radius: 0 15px 15px 0;
}

.dispensers__form h2{
	font-family: 'Asap-Bold';
	font-size: 24px;
	font-weight: 700;
	line-height: 23px;
	color: #fff;
	margin-bottom: 35px;
}

.dispensers__form input, .dispensers__form textarea{
	width: 100%;
	border-radius: 15px;
	background-color: #364559;
	color: #fff;
	line-height: 20px;
	letter-spacing: .6px;
	padding: 10px 5px;
	text-align: center;
	box-shadow:: none;
	border: none;
	margin-bottom: 10px;
	font-family: 'Asap-Italic';
	font-size: 12px;
    line-height: 20px;
    letter-spacing: .6px;
}

.dispensers__form input{
	height: 30px;
}

.dispensers__form textarea{
	resize: none;
	padding: 5px;
}

.dispensers__form input:placeholder, .dispensers__form textarea:placeholder{
	text-transform: none;
	color: #fff !important;
}

.dispensers__form .container-checkbox-legal{
	text-align: left;
	margin: 0 auto;
	padding: 0 10px 0 15px;
}

.dispensers__form .custom-control-description{
	font-size: 10px;
    color: #fff;
    line-height: 12px;
    max-width: 220px;
}

.dispensers__form .custom-control-description a{
	font-family: 'Asap-BoldItalic';
	text-decoration: underline;
}

.custom-control-description-legal-dispensers{
	position: relative;
	top: 5px;
}

.dispensers__form .glyphicon-ok-sign:before{
	background: #041e41; 
}

.dispensers__form .btn-transparent{
	width: 180px;
    background: transparent;
    color: #fff;
    border-color: #4dc6ff;
    margin-top: 20px;
}

.dispensers__form .btn-transparent:hover{
	background-color: rgba(255,255,255,.1);
}

.dispensers-dropdown-selector{
	margin-bottom: 10px;
	position: relative;
}

.dispensers-dropdown-selector select{
	width: 100%;
	border-radius: 15px;
	background: url('../img/down-arrow-white.svg') no-repeat 94% #364559;
	background-size: 10px 6px;
	height: 30px;
    color: #fff;
    border: none;
    padding: 9px;
    text-align: center;
    -webkit-appearance: none;
    border: none;
    font-size: 11px;
    line-height: 12px;
    font-family: 'Asap-Italic';
    letter-spacing: 0.5px;
	padding-left: 10px;
	text-align-last: center;
}

.info-dispensers-others{
	display: none;
}





/*.dispensers__form input[type='textarea']{
	min-height: 70px;
}*/


/* responsive */
@media (min-width: 1600px){
	.back-blue-page{
    	background: url('../img/bg-patron@2x.jpg')no-repeat top center;
    	background-color: #4dc6ff;
    	-webkit-background-size: 1471px 895px;
		-moz-background-size: 1471px 895px;
		-o-background-size: 1471px 895px;
		background-size: 1471px 895px;
    }

    .back-blue-page.back-blue-page--dispensers{
    	background: url('../img/bg-fuentes.jpg')no-repeat top center/100% #4dc6ff
    }
}

@media (max-width: 1080px){
	.dispensers{
	    flex-direction: column;
	}

	.dispensers__content{
		border-radius: 15px 15px 0 0;
	}

	.dispensers__form{
		border-radius: 0 0 15px 15px;
		width: 595px;
	}
}

@media (max-width: 991px){
	.back-blue-page .legal-container{
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: calc(100% - 100px);
	}

	.back-blue-page .container{
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: calc(100% - 100px);
		padding: 0;
	}

	.col-shipping-lg, .col-payment-lg, .col-account-lg{
		width: 100%;
	}

	.col-shipping-sm, .col-payment-sm, .col-account-sm{
		width: 100%;
	    margin-left: 0px;
	    position: relative;
	}

	.span3, .row-shipping-user-address .bootstrap-select.span3:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
		width: -webkit-calc(50% - 5px);
	    width: -moz-calc(50% - 5px);
	    width: calc(50% - 5px);
	}

	.row-shipping-lg{
        max-width: none;
    }

	.row-shipping-user-address label{
		text-align: center;
		padding-bottom: 10px;
	}

	.order-shipping-time .span3{
		width: 100% !important;
	}

	.row-shipping-sm, .row-payment-sm, .row-account-sm, .recurring-time-selector select, .row-payment-sm select{
		width: -webkit-calc(50% - 5px);
		width: -moz-calc(50% - 5px);
		width: calc(50% - 5px);
	}

	.order-shipping-time select, .row-payment-sm select{
		width: 100%;
	}

	.order-shipping input.order-shipping-user-name, .order-shipping-user-postal-code, .order-shipping input.order-billing-razon-social{
		width: 100%;
		margin-right: 0;
	}

	.order-shipping input.order-shipping-user-address, .order-shipping input.order-billing-address{
		text-align: center;
	}

	.row-shipping-user-address select, .row-payment-sm select, .recurring-time-selector select, .row-payment-sm select, .row-payment-xs select, .row-payment-xs select{
	    background: url('../img/dropdown-arrow.png') no-repeat 95% #eaeaea;
	    -webkit-background-size: 10px 6px;
		-moz-background-size: 10px 6px;
		-o-background-size: 10px 6px;
		background-size: 10px 6px;
	}

	.order-shipping-time select{
		background: url('../img/dropdown-arrow.png') no-repeat 97% #eaeaea;
	    -webkit-background-size: 10px 6px;
		-moz-background-size: 10px 6px;
		-o-background-size: 10px 6px;
		background-size: 10px 6px;
	}

	.card-type select{
		background: url('../img/dropdown-arrow.png') no-repeat 93% #eaeaea;
		-webkit-background-size: 10px 6px;
		-moz-background-size: 10px 6px;
		-o-background-size: 10px 6px;
		background-size: 10px 6px;
	}

	.order-shipping-date{
		margin-top: 0;
	}

	.order-shipping input.order-shipping-user-phone{
		width: 100%;
	}

	.order-shipping-absent-home .row-shipping-sm{
		display: block;
        margin: 0 auto 10px;
    }

	.metodo-pago .pago-online {
	    margin-right: 0;
	    display: block;
	}

	.card-saved .custom-control-description .name-card, .closed-order-card .name-card{
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 100px;
	}

	.name-product-order-detail{
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 220px;
	}

	.compra-recurrente-selector .custom-control{
		padding-left: 15px;
	}

	.container-field-closed-order-date{
		top: 0;
		margin-bottom: 5px;
	}

	.container-field-closed-order-date, .container-field-closed-order-time{
		display: inline-block;
		width: -webkit-calc(50% - 5px);
		width: -moz-calc(50% - 5px);
		width: calc(50% - 5px);
	}

	.closed-order-user-date, .closed-order-user-time{
		width: 100%;
	}

	.container-field-closed-order-time{
		bottom: auto;
	}

	.container-img-cards{
		text-align: left;
	}

	.space-td {
	    width: 10px;
	}

	.space-td_x2 {
	    width: 8px;
	}

	.account-actions-order{
		border-bottom: none;
	}

	.actions-nav{
		float: none;
	}

	.actions-nav li:first-child{
		padding-left: 0;
	}

	.announce-member h3, .announce-member p{
		text-align: center;
	}

	.header-promo-madre{
		margin-left: 35px;
    	margin-right: 35px;
	}

}

@media (max-width: 768px){
	.back-blue-page{
    	background: none !important;
    	background-color: #4dc6ff !important;
    }

	.counter-product-order-detail.inline{
		display: none;
	}

	.selector-product-order-detail-mobil{
		display: inline-block;
	}

	.selector-product-order-detail-mobil select{
		width: 60px;
	    background: #fff;
	    border: 1px solid #707070;
	    border-radius: 10px;
	    font-family: 'Asap-BoldItalic';
	    color: #4dc6ff;
	    text-align: center;
	    text-transform: none;
	    font-size: 12px;
	    line-height: 12px;
	    height: 32px;
	    padding-left: 20px;
	    -webkit-appearance: none;
	    background: url(../img/dropdown-arrow.png) no-repeat 84% #ffffff;
	    -webkit-background-size: 10px 6px;
	    -moz-background-size: 10px 6px;
	    -o-background-size: 10px 6px;
	    background-size: 10px 6px;
	}

	.compra-recurrente-selector .custom-control{
		padding-left: 5px;
	}

	.container-form{
		padding: 50px;
	}

	.container-form:nth-child(3){
		border-bottom: 0;
	}

	.container-form:nth-child(3) + .btn-blue{
		margin: 40px auto 20px;
	}

	.user-cards-saved .name-card.data-card-saved{
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    max-width: 120px;
	}

	.space-td, .space-td_x2, .account-resume-orders td:nth-child(5), .account-resume-orders td:nth-child(11), .account-resume-orders td:nth-child(12), .account-resume-orders td:nth-child(13), .account-resume-orders td:nth-child(14) {
		display: none;
	}

	.account-resume-order-title td{
		width: 35%;
	}

	.actions-nav, .account-order-detail, .compra-recurrente-selector{
		display: none;
	}

	.total-price-container{
		float: none;
		text-align: right;
		display: block;
	}

	.total-price{
		margin-bottom: 0;
	}

	.label-total-price{
		padding-right: 25px;
	}

	.account-actions-order, .info-order-bottom{
		border-bottom: 1px solid #e3e3e3;
		margin-bottom: 0;
	}

	.advise-info-mobil{
		display: block;
	}

	form .container-form:last-child{
		border-bottom: none;
	}

	.account-order-detail + .row-detail .total-price-container{
		display: none;
	}

	.promo-madre h4{
		padding: 0;
	}

	/* thankyoupage app-announcement */
	.content-info-app{
		float: none;
	    text-align: center;
	    padding: 0px 25px 20px;
    	margin-top: -25px;
	}

	.content-info-app h3{
		font-size: 19px;
    	line-height: 19px;
	}

	.content-info-app p{
		font-size: 16px;
    	line-height: 16px;
	}

	.btns-store{
		text-align: center;
	}

	.image-phones-app img{
		position: relative;
    	left: auto;
    	top: -30px;
	}

	.back-blue-page.back-blue-page--dispensers{
		background: url('../img/bg-fuentes-mobile.jpg')no-repeat top center/100% #4dc6ff !important;
	}

	.header-dispensers{
		padding: 0 25px;
	}

	.header-dispensers h1{
		font-size: 24px;
		line-height: 26px;
		margin: 15px 0px 20px;
	}

	.header-dispensers p{
		margin: 0;
		padding: 0 5px;
	}

	.dispensers{
		padding: 0 25px;
	}

	.dispensers__content{
		display: block;
		width: 100%;
		border-radius: 15px 15px 0 0;
	}

	.dispensers__slider--desktop{
		display: none;
	}

	.dispensers__slider--mobile{
		display: block;
		width: 100%;
	}

	.dispensers__text{
		padding: 40px 25px 60px;
	}

	.back-blue-page.blue-page--dispensers h2{
		font-size: 18px;
    	line-height: 24px;
	}

	.dispensers__text{
		width: 100%;
	}

	.dispensers__form{
		border-radius: 0 0 15px 15px;
	    margin: 0 25px;
	    width: 100%;
	    padding: 35px 35px 40px;
	}

	.back-blue-page--dispensers .dispensers__form h2{
		font-size: 24px;
	}

	.dispensers__form textarea{
		text-align: left;
		padding: 8px 48px 10px 8px;
	}

	.dispensers__form .container-checkbox-legal{
		padding: 0 0px 0 15px;
	}

	.dispensers__form .custom-control-description{
		max-width: 195px;
	}

}

@media (max-width: 620px){
	.container-form{
		padding: 30px 25px;
	}

	.promo-code-link{
		text-align: center;
	}

	.name-product-order-detail {
		white-space: normal;
		max-width: 130px;
		font-size: 13px;
		position: relative;
	    top: 8px;
	    padding-left: 10px;
	    overflow: visible;
	}

	.discount-order-detail .name-product-order-detail{
		max-width: 100%;
	}

	.price-product-order-detail{
		padding-top: 5px;
	}

	.row-shipping-sm, .row-payment-sm, .row-account-sm, .recurring-time-selector select, .order-shipping-time select, .row-payment-sm select{
		width: 100%;
	}

	.row-shipping-user-address select{
		background: url(../img/dropdown-arrow.png) no-repeat 97% #eaeaea;
	    -webkit-background-size: 10px 6px;
	    -moz-background-size: 10px 6px;
	    -o-background-size: 10px 6px;
	    background-size: 10px 6px;
	}

	.card-type select{
		background: url(../img/dropdown-arrow.png) no-repeat 98% #eaeaea;
	    -webkit-background-size: 10px 6px;
	    -moz-background-size: 10px 6px;
	    -o-background-size: 10px 6px;
	    background-size: 10px 6px;
	}

	.span3, .row-shipping-user-address .bootstrap-select.span3:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
		width: 100%;
	}

	.date-card, .logo-card{
		display: none;
	}

	.closed-order-card .field .data-card-saved{
		padding-right: 0px;
	}

	.closed-order-card .field .name-card{
		max-width: 60px;
	}

	.order-shipping input.order-shipping-user-address, .order-shipping input.order-shipping-user-comments, .field.account-user-mail, input.edit-account-user-mail, .field.account-address-user-address, input.account-address-user-address, .user-cards-saved .field, .field.closed-order-user-address, .closed-order-card .field{
		text-align: center;
	}

	.order-payment{
		padding-bottom: 40px;
	}

	.container-field-closed-order-date, .container-field-closed-order-time{
		width: 100%;
	}

	.closed-order-actions li{
		width: 100%;
	}

	.closed-order-actions {
	    text-align: left;
	    width: 140px;
	    margin: 0 auto;
	}

	.advise-info-mobil span{
		padding-top: 10px;
	}

	.metodo-pago .custom-radio .custom-control-indicator, .user-add-new-card .custom-checkbox .custom-control-indicator, .container-checkbox-login .custom-checkbox .custom-control-indicator{
		width: 15px;
		height: 15px;
	}

	.thankyou-msg{
		padding: 30px 0px 0px !important;
	}

	.item-social-member{
		width: -webkit-calc(50% - 8px);
		width: -moz-calc(50% - 8px);
		width: calc(50% - 8px);
		margin-right: 0px;
	}

	.share-member-fb, .share-member-mail{
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.share-member-whats{
		display: inline-block;
	}

	.container-form.member{
		padding: 20px 0px 0px;
	}

	.welcome-member{
		display: none;
	}

	.credit-member{
		float: none;
		text-align: right;
	}

	.credit-total-container{
		float: none;
	}

	.metodo-pago{
		text-align: left;
	}
}

@media (max-width: 545px){
	.recurring-time-selector .bootstrap-select.span3:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
		width: 100%;
	}
}

@media (max-width: 414px){
	.container-form:nth-child(3) {
	    padding-bottom: 0px;
	}
	.container-form{
		padding: 30px 25px;
	}

	.user-add-new-card .col-payment-lg{
		text-align: center;
	}
}

@media (max-width: 359px){
	.container-form {
	    padding: 25px 20px;
	}

	.bootstrap-select.span1:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	    width: 50px;
	}

	.price-product-order-detail{
		font-size: 14px;
	}

	.card-saved .custom-control-description .name-card{
		max-width: 60px;
		padding-right: 10px;
	}

	.user-add-new-card .custom-checkbox .custom-control-description{
		font-size: 11px;
	}

	.selector-product-order-detail-mobil select{
		width: 40px;
		padding-left: 10px;
	}
}


@media (min-width: 992px){
	.back-blue-page .container{
		width: 800px;
	}
}

@media (min-width: 1200px){
	.back-blue-page .container{
		width: 800px;
	}
}

@media (max-width: 736px){
	.legal-notice {
	    padding: 40px 40px 100px;
	}

	.back-blue-page .container{
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: calc(100% - 100px);
	}

	.container-form-login{
		width: 100%;
		margin: 0 0 20px;
		height: auto;
	}

	.container-form-login input{
		width: 100%;
	}

	.container-checkbox-login .custom-control{
		padding-left: 0px;
	}

	.thankyou-msg, .error-page{
		padding: 30px 25px 20px;
	}

	.header-promo-madre{
		margin-left: 15px;
    	margin-right: 15px;
    	margin-top: 15px;
	}
}

@media (max-width: 580px){
	.footer-thankyou-msg button:first-child{
		margin: 0 auto 20px;
    	display: block;
	}

	.promo-madre{
		margin-top: 40px;
	}

	.header-promo-madre h1{
		font-size: 24px;
    	line-height: 14px;
	}

	.header-promo-madre h2{
		font-size: 50px !important;
    	line-height: 50px !important;
	}

	.conditions-promo-madre{
		-webkit-column-count: 1;
	    -moz-column-count: 1;
	    column-count: 1;
	    -webkit-column-gap: 0;
	    -moz-column-gap: 0;
	    column-gap: 0;
	}
}

@media (max-width: 414px){  /* iphone 6 vertical */
	.back-blue-page .container{
		width: -webkit-calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		width: calc(100% - 50px);
	}

	.back-blue-page h2{
		font-size: 84px;
    	line-height: 60px;
	}

	.metodo-pago .custom-control{
		padding-left: 5px;
	}

	.back-blue-page--dispensers h2{
		font-size: 18px;
    	line-height: 24px;
	}
}

@media (max-width: 320px){
	.back-blue-page .container{
		width: 100%;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){
    .back-blue-page{
    	background: url('../img/bg-patron@2x.jpg')no-repeat top center;
    	background-color: #4dc6ff;
    	-webkit-background-size: 1471px 895px;
		-moz-background-size: 1471px 895px;
		-o-background-size: 1471px 895px;
		background-size: 1471px 895px;
    }
}

/* update checkbox&radio*/
.checkbox, .radio {
    margin: 0;
    display: inline-block;
}

.checkbox label, .radio label{
	padding-left: 0;
}

.metodo-pago .pago-online {
     margin-right: 0px;
}

.checkbox label:after, .radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr, .radio .cr {
    position: relative;
    display: inline-block;
    width: .9em;
    height: .9em;
    float: left;
    margin-right: .5em;
    top: 6px;
    border-radius: 50%;
    background: #eaeaea;
}

.checkbox .cr .cr-icon, .radio .cr .cr-icon {
    position: absolute;
    font-size: .9em;
    line-height: 0;
    top: 40%;
    left: 0px;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.glyphicon-ok-sign:before{
	color: #4dc6ff;
	background: #fff;
	font-family: 'Iconfontvella';
	content: '&';
}

.checkbox .cr.cr-square{
	border-radius: 3px;
}

.glyphicon-ok-sign.glyphicon-ok-sign-square:before{
	color: #4dc6ff;
    background: #fff;
    font-family: 'Iconfontvella';
    content: ')';
}
.mobile-app {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e3e3;
}
.mobile-app__row {
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
	max-width: 275px;
	margin-left: auto;
	margin-right: auto;
}
.mobile-app__logo {
	display: inline-block;
	vertical-align: top;
}
.mobile-app__text {
	font-family: 'Asap-Italic';
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-left: 10px;
	text-align: left;
	color: #787878;
	font-size: 15px;
	line-height: 1.4;
}
.mobile-app__text a {
	font-family: 'Asap-BoldItalic';
	color: #787878;
}
.mobile-app__apple {
	float: left;
}
.mobile-app__apple img {
	width: 121px;
}
.mobile-app__google {
	float: right;
}
.mobile-app__google img {
	width: 136px;
}
@media (min-width: 769px) {
	.mobile-app {
		display: none;
	}
}
