
/* Navigation bullets */

#fp-nav{
	-webkit-transition: right 200ms ease-out;
    -moz-transition: right 200ms ease-out;
    -o-transition: right 200ms ease-out;
    transition: right 200ms ease-out;
}

#fp-nav.right {
    right: 46px;
}

#fp-nav ul li a span{
	height: 10px;
	width: 10px;
	border: 2px solid #fff;
	background: transparent;
	margin: -5px 0 0 -5px;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span{
	background: #fff;
}

#fp-nav.right.dark {
    right: 35px;
}

#fp-nav.dark ul li a span{
	border-color: #d6d6d6;
}

#fp-nav.dark ul li a.active span, #fp-nav ul li:hover a.active span{
	background: #d6d6d6;
}


/* Home */
.outer{
	width: 100%;
	/*height: -webkit-calc(100% + 70px);
	height: -moz-calc(100% + 70px);
	height: calc(100% + 70px);*/
	height: 100%;
	padding: 30px;
}

.flexslider{
	border: none;
	margin: 0;
}

.flexslider, .flexslider .slides,
.flex-viewport {
    height: 100%;
    background: #4dc6ff;
}

.flexslider .slides > li {
  background-position: center;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-control-nav{
	bottom: 10px;
}

.flex-control-paging li a{
	background: rgba(255, 255, 255, 0.5);
	box-shadow: none;
}

.flex-control-paging li a.flex-active{
	background: rgba(255, 255, 255, 1);
	box-shadow: none;
}

.flex-caption{
	color: #fff;
	text-align: center;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
}

.flex-caption h1{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
	font-size: 52px;
	line-height: 45px;
	text-shadow: 2px 1.5px rgba(45, 148, 184, 0.4);
}

.flex-caption h2{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
	font-size: 65px;
	line-height: 60px;
	margin-top: 0;
	text-shadow: 2px 1.5px rgba(45, 148, 184, 0.4);
}

.flex-caption p{
	font-family: 'Asap-Italic',Helvetica,sans-serif;
	font-size: 19px;
	line-height: 24px;
	padding: 35px 0 20px;
	max-width: 560px;
	margin: 0 auto;
}

.flex-caption .flag{
	font-size: 16px;
	color: #4dc6ff;
}

/*.flex-caption .flag span{
	background: #fff;
    padding: 4px 10px;
    position: relative;
    font-family: 'Asap-Italic',Helvetica,sans-serif;
}*/

.flex-caption .flag div{
	background: #fff;
	height: 26px;
    padding: 1px 10px;
    position: relative;
    font-family: 'Asap-Italic',Helvetica,sans-serif;
    display: inline-block;
}

.flex-caption .flag strong{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
}

/*.flex-caption .flag span:before{
	content: '';
	background: url(../img/flag-left.png);
	position: absolute;
	left: -10px;
	bottom: 0;
	width: 10px;
	height: 26px;
	-webkit-background-size: 10px 25px;
	-moz-background-size: 10px 25px;
	-o-background-size: 10px 25px;
	background-size: 10px 25px;
}*/

/*.flex-caption .flag span:after{
	content: '';
	background: url(../img/flag-right.png);
	position: absolute;
	right: -10px;
	bottom: 0;
	width: 10px;
	height: 26px;
	-webkit-background-size: 10px 25px;
	-moz-background-size: 10px 25px;
	-o-background-size: 10px 25px;
	background-size: 10px 25px;
}*/

.flex-caption .flag div:after{
	content: '';
	background: url(../img/flag-right.png);
	position: absolute;
	right: -10px;
	bottom: 0;
	width: 10px;
	height: 26px;
	-webkit-background-size: 10px 25px;
	-moz-background-size: 10px 25px;
	-o-background-size: 10px 25px;
	background-size: 10px 25px;
}

.flex-caption .flag div:before{
	content: '';
	background: url(../img/flag-left.png);
	position: absolute;
	left: -10px;
	bottom: 0;
	width: 10px;
	height: 26px;
	-webkit-background-size: 10px 25px;
	-moz-background-size: 10px 25px;
	-o-background-size: 10px 25px;
	background-size: 10px 25px;
}

.flex-caption .values-text-caption{
	display: flex;
	justify-content: center;
	margin: 15px 0 10px;
}

.flex-caption .values-text-caption-item{
	margin: 0 30px;
	position: relative;
	padding: 5px 0;
	text-shadow: 2px 1.5px rgba(45, 148, 184, 0.4);
}

.flex-caption .values-text-caption-item p{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
	color: #fff;
	font-size: 17px;
	line-height: 18px;
	letter-spacing: 0.5px;
	text-align: left;
	margin: 0;
	padding: 0;
    display: inline-block;
}

.flex-caption p.icon-item-caption{
	font-family: 'Iconfontvella';
	color: #fff;
	font-size: 33.5px;
    padding-top: 6px;
    padding-right: 7px;
    padding-bottom: 3px;
    display: inline-block;
    text-shadow: 2px 1.5px rgba(45, 148, 184, 0.4);
}

.flex-caption .values-text-caption-item-envio .icon-item-caption{
    position: relative;
    top: -5px;
}

.flex-caption .values-text-caption-item-limite:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	top: 0;
	left: 0;
	-moz-transform: skew(0deg, -1deg);
	-webkit-transform: skew(0deg, -1deg);
	-o-transform: skew(0deg, -1deg);
	-ms-transform: skew(0deg, -1deg);
	transform: skew(0deg, -1deg);
}

.btn-caption{
	background: #fff;
	border: none;
	box-shadow: 0 10px 30px rgba(0, 0, 1, 0.2);
}

.btn-caption a{
	color: #4dc6ff;
}

.btn-caption:hover a{
	opacity: 0.6;
}

.advise-caption{
	font-family: 'Asap-Italic';
	color: #fff;
	font-size: 12px;
    line-height: 12px;
    margin-bottom: 0px;
}

.advise-caption a{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
	    text-decoration: underline;
}

.flex-caption p strong{
	font-family: 'Asap-BoldItalic',Helvetica,sans-serif;
}

.flex-caption .btn-white{
	margin: 20px 15px 0;
	min-width: 180px;
}

.flex-caption-promo-internet p{
	max-width: 480px;
	padding-top: 20px;
}

.flex-caption-promo-veranito p{
	padding: 10px 0 0;
	max-width: 485px;
}

.flex-caption-promo-veranito .advise-legal-promo{
	font-size: 11px;
    padding: 8px 0 10px;
    line-height: 12px;
}




/* shopnow*/

.bottle-img{
	height: 500px;
	max-height: 100%;
	width: auto;
	margin: 0 auto;
	text-align: center;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform:    translateX(-50%);
	-ms-transform:     translateX(-50%);
	-o-transform:      translateX(-50%);
	transform:         translateX(-50%);
}

.layout-oficina .bottle-img{
	height: 540px;
}

.circle{
	position: absolute;
	width: 70%;
	height: auto;
	left: 15%;
	top: 15%;
}

.graphic{
	position: absolute;
	bottom: 0;
	right: 0;
}

.mobile-btl{
	display:none;
}

.shopnow .container-text{
	position: relative;
	top: 25%;
	top: 80px;
/*	position: relative;
	top: 65%;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);*/
}

.title-shopnow{
	width: 100%;
	max-width: 340px;
}

.shopnow h3{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	font-size: 24px;
	line-height: 20px;
	color: #535353;
	margin: 0;
	padding-bottom: 15px;
}

.shopnow p{
	max-width: 360px;
	padding-bottom: 20px;
}

.btn-shopnow{
	min-width: 180px;
	margin-right: 15px;
	float: left;
	padding: 18px;
}

.btn-shopnow .glyphicon-plus{
	padding-left: 20px;
	font-size: 10px;
}

.btn-shopnow .glyphicon-minus{
	padding-right: 20px;
	font-size: 10px;
}

.qty-cart-shopnow{
	margin-right: 10px;
}

.sm-tax-advise{
	font-size: 13px;
	color: #c2c2c2;
	line-height: 18px;
	position: relative;
	top: 5px;
	float: left;
}

.btn-complete-order{
	font-size: 14px;
	line-height: 14px;
	max-width: 100px;
	margin: 0px auto;
	position: relative;
	top: 35px;
	cursor: pointer;
}

.btn-complete-order:after{
	content: "";
	width: 25px;
	height: 2px;
	background: #4dc6ff;
	position: absolute;
	left: 38px;
	bottom: -10px;
}

.btn-complete-order.highlight a{
	color: rgb(83, 83, 83);
}

.btn-complete-order a:after{
	background-image: url('../img/complete-order-icon.png');
	-webkit-background-size: 3px 75px;
	-moz-background-size: 3px 75px;
	-o-background-size: 3px 75px;
	background-size: 3px 75px;
	content: '';
	width: 3px;
	height: 75px;
	position: absolute;
	top: 50px;
	left: 50px;
	overflow: hidden;
}


/* Moments */

.moments h2{
	font-family: 'September-Regular',Helvetica,sans-serif;
	font-size: 108px;
	line-height: 60px;
	margin-top: 0;
	text-align: center;
	position: relative;
	top: -35px;
}

.item{
	position: relative;
	text-align: center;
}

.item > a:hover {
	opacity: 1;
}

.moments .col-md-3:nth-child(even) .item{
	top: -15px;
}

.item img{
	max-width: 100%;
}

.item-back{
	height: 390px;
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.item-title, .item-bottle{
	position: absolute;
	left: 0;
}

.item-title{
	top: 0;
}
.item-title--desktop {
	display: inline-block;
}
.item-title--mobile {
	display: none;
}

.item-bottle{
	top: 20%;
}

.btn-view-product{
	padding: 10px 20px;
	position: relative;
    visibility: hidden;
    background: #fff;
}

.btn-view-product a{
	font-size: 12px;
	color: #4dc6ff;
}


/* moments oficina */
.layout-oficina .moments .row{
	padding: 0 16%;
}

/* features */
.features{
	background: url('../img/bg-iconos.jpg')no-repeat center bottom;
	width: -webkit-calc(100% - 70px) !important;
	width: -moz-calc(100% - 70px) !important;
	width: calc(100% - 70px) !important;
	left: 35px;
}

/*.features .row{
	padding: 0 6%;
}*/

.features .col-sm-6{
	min-height: 226px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.features .col-md-6{
	padding-right: 20px;
	padding-left: 16%;
}

.features .col-md-12{
	padding-left: 14%;
	padding-right: 12%;
}

.features p{
	font-size: 13px;
	line-height: 18px;
}

.last-first-row{
	max-width: 360px;
}

.header-feature{
	height: 60px;
}

.header-feature span{
	color: #4dc6ff;
	font-family: "Iconfontvella", sans-serif;
	font-size: 50px;
	width: 60px;
	height: 50px;
	float: left;
	margin-right: 20px;
	padding-left: 5px;
}

.header-feature span:before{
	position: relative;
	top: 18px;
}

.comunication:before{
	content: "H";
}

.easy:before{
	content: "I";
}

.forget:before{
	content: "K";
}

.star:before{
	content: "L";
}

.costs:before{
	content: "J";
}

.header-feature h3{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #404040;
	margin: 0;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
}

.knowmore img{
	height: 70px;
	position: relative;
	top: -10px;
}

.knowmore p{
	float: left;
	width: 35%;
}

.knowmore .btn-blue{
	width: 56%;
	max-width: 135px;
	margin-left: 2%;
}

/* btn */
.btn:focus{
    color: #4dc6ff;
}
.moments .col-sm-3, .moments .col-sm-4{
		width: 20%;
		padding: 0 5px;
}

/* Responsive */
@media (min-width: 1600px){
    .features{
    	background: url(../img/bg-iconos@x2.jpg)no-repeat center bottom;
    }

    .slides li:first-child{
    	background-image: url(img/slides-home-casa/slide1@x2.jpg);
    }

    .layout-oficina .slides li:first-child{
    	background-image: url(img/slides-home-oficina/slide1@x2.jpg);
    }

    .slides li:nth-child(2){
    	background-image: url(img/slides-home-casa/slide1_2@x2.jpg);
    }

    .layout-oficina .slides li:nth-child(2){
    	background-image: url(img/slides-home-oficina/slide1_2@x2.jpg);
    }

    .slides li:nth-child(3){
    	background-image: url(img/slides-home-casa/slide3@x2.jpg);
    }

    .layout-oficina .slides li:nth-child(3){
    	background-image: url(img/slides-home-oficina/slide3@x2.jpg);
    }
}

@media (min-width: 1200px){
	.moments .container{
		width: 1050px;
	}
}

@media (max-width: 1199px){
	.section.features .row{
		padding: 0 3%;
	}

	.col-md-7{
		padding-right: 0;
	}

	.col-md-5{
		padding-left: 0;
	}

	.features .col-md-6{
		padding-left: 8%;
	}

	.knowmore p{
		width: 45%;
	}

	.header-feature span{
		margin-right: 18px;
	}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.graphic{
		bottom: 40px;
	}
}

@media (max-width: 992px){
	.col-md-5{
		padding-left: 15px;
    	padding-right: 0;
	}
}

@media (max-width: 991px){
	.circle, .graphic, .title-shopnow{
		display: none;
	}

	.bottle-img, .layout-oficina .bottle-img{
		height: 300px;
	}

	.shopnow .container-text{
		top: 0;
		text-align: center;

		background-color: #fff;
		padding: 50px 0 0px 0;
	}

	.container-bottle {
    	display: none;
	}

	.mobile-btl{
		display: block;
	    margin: 0 auto;
	    position: relative;
	    top: 80px;
	}

	.bottle-img {
		transform: rotateZ(-11deg) translateX(-60px) !important;
		transition: transform .0s .0s !important;
	}

	.layout-oficina .bottle-img {
		transform: rotateZ(-8deg) translateX(-50px) !important;
		transition: transform .0s .0s !important;
	}

	.shopnow p{
		margin: 0 auto;
	}

	.container-text .btn-shopnow{
		float: none;
		position: relative;
    	top: 50px;
    	margin-right: 0;
	}

	.sm-tax-advise{
		float: none;
		top: -45px;
	}

	.features .col-sm-6{
		min-height: 150px;
		padding-top: 10px;
    	padding-bottom: 10px;
    	padding-left: 40px;
    	padding-right: 40px;
	}

	.features .col-md-12{
		padding-left: 40px;
    	padding-right: 40px;
	}

	.col-md-7{
		padding-right: 15px;
	}

	.section.features .row{
		padding: 0 3%;
	}

	/*.row {
		padding: 0 3%;
	}

	.col-md-6{
		padding-left: 10%;
	}*/
}

@media (max-width: 768px){
	#fullpage{
		transform: none !important;
	}

	.flex-caption .flag{
		font-size: 10px;
		line-height: 1;
	}

	.flex-caption h1{
		font-size: 36px !important;
		line-height: 33px !important;
		margin-top: 10px !important;
	}

	.flex-caption h2{
		font-size: 44px !important;
		line-height: 48px !important;
	}

	.flex-caption .values-text-caption{
		margin: 20px 15px 0px;
	}

	.flex-caption .values-text-caption-item{
		font-size: 13px;
		line-height: 14px;
		text-align: center;
		margin: 0 15px;
	}

	.flex-caption .values-text-caption-item:before{
	    position: relative;
	    display: block;
    	left: auto;
    	top: auto;
    	margin-bottom: 15px;
	}

	.flex-caption .values-text-caption-item-limite:before{
		display: none;
	}

	.flex-caption .values-text-caption-item p{
		font-size: 13px;
		line-height: 14px;
		text-align: center;
	}

	.flex-caption p.icon-item-caption{
		font-size: 27.5px;
	    padding: 0;
	    margin-bottom: 10px;
	    display: block;
	}

	.flex-caption .values-text-caption-item-envio .icon-item-caption{
	    top: 0px;
	}

	/*.flex-caption .flag span:before, .flex-caption .flag span:after{
		height: 19px;
	}*/

	.flex-caption .flag div{
		height: 17px;
	    padding: 3px 10px;
	}

	.flex-caption .flag div:before, .flex-caption .flag div:after{
		height: 17px;
	}

	.advise-caption{
		margin: 0 auto;
	    text-align: center;
	    position: absolute;
	    bottom: 50px;
	    width: 100vw;
	}

	.advise-caption p{
		max-width: 180px;
    	margin: 0 auto;
	}


	#fullpage{
		transform: none !important;
	}

	.mobile-btl{
		width: 200px;
		top: -20px;
	}

	.shopnow .container-text{
		top: -80px;
		padding: 50px 0 30px 0;
	}

	.btn-complete-order{
		top: -60px;
	}

	.btn-complete-order a:after{
		width: 3px;
	}

	.features{
		width: 100% !important;
		left: 0px;
	}

	.section.features .container {
	    width: 100%;
	    margin-bottom: 40px;
	}

	.section.features .col-sm-6{
	    /*max-width: 320px;*/
	    margin: 0 auto;
	}

	.knowmore{
		margin-top: 30px !important;
	}

	.knowmore .header-feature{
		height: 32px;
	}

	.knowmore img{
		top: -20px;
		height: 50px;
	}

	.knowmore p {
	    float: none;
	    width: 100%;
	    padding-top: 0px;
    	padding-bottom: 0px;
	}

	.knowmore .btn-blue{
		margin-left: 22%;
	}

	.outer{
		padding: 0;
	}

	.flex-caption h1{
		font-size: 28px;
		line-height: 26px;
		margin-bottom: 0;
	}

	.flex-caption h2{
		font-size: 66px;
    	line-height: 50px;
	}

	.flex-caption p{
		display: none;
	}

	.flex-caption .btn-white{
		margin: 20px 15px 0;
		font-size: 12px;
	}

	.flex-caption-promo-veranito p{
		font-size: 14px;
    	line-height: 18px;
    	max-width: 275px;
    	display: block;
	}

	.item-bottle{
		display: none;
	}

	.moments{
    	margin-bottom: 120px;
    	position: relative;
	}

	.moments h2{
		font-size: 80px;
    	max-width: 488px;
    	margin: 0 auto;
	}

	.moments .item{
	    overflow: hidden;
	    max-width: 488px;
	    width: 100%;
	    margin: 0 auto 2px;
	    -webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	    -moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	    box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	    box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	}

	.moments .item .btn-view-product{
		display: none;
	}

	.item-back{
		position: absolute;
		top: 0;
    left: 0;
		height: auto;
	}

	.item-title{
		position: relative;
		width: 56%;
	}
	.item-title--desktop {
		display: none;
	}
	.item-title--mobile {
		display: inline-block;
	}

	.moments .col-md-3:nth-child(even) .item, .moments .col-md-4:nth-child(even) .item{
		top: 0;
	}

	.moments .btn-step{
		bottom: -80px;
	}

	.btn-complete-order a:after{
		max-height: 50px;
		overflow: hidden;
	}

	.layout-oficina .moments .row{
		padding: 0;
	}

	.moments .col-sm-3, .moments .col-sm-4{
	    width: 100%;
			padding: 0 15px;
	}

	.col-md-5{
		padding-right: 15px;
	}

	.features{
		padding-bottom: 60px;
	}

	.footer, .features, .footer .fp-tableCell, .features .fp-tableCell, .layout-oficina .moments, .layout-oficina .moments .fp-tableCell{
		height: auto !important;
	}

	.features{
		background: none !important;
	}
}


@media (max-width: 767px){
	.knowmore{
		max-width: 100% !important;
		text-align: center;
		margin-top: 30px !important;
	}

	.knowmore img{
		height: 70px;
	}

	.knowmore p{
		padding-top: 30px;
		padding-bottom: 10px;
	}

	.knowmore .btn-blue{
		margin-left: 2%;
	}

	.section.features .col-sm-6{
	    max-width: 320px;
	}

	.flex-caption h1{
		font-size: 22px;
		line-height: 24px;
		margin-bottom: 0;
	}

	.flex-caption-promo-internet h1{
		font-size: 46px;
		line-height: 48px;
		padding: 0 20px;
		margin-bottom: 20px;
	}

}

@media only screen
  and (max-width: 768px)
  and (orientation: landscape) {
  	.section{
  		position: relative;
  	}

  	.section, .fp-tableCell{
		min-height: 100%;
		height: auto !important;
	}

	.footer, .features, .footer .fp-tableCell, .features .fp-tableCell{
		height: auto !important;
	}

	.moments{
		padding-top: 80px !important;
		padding-bottom: 120px;
	}

	.shopnow .container-text{
		top: -60px;
	}

	.mobile-btl{
		top: 0;
	}
}

@media only screen
  and (max-width: 568px)
  and (orientation: landscape) {
  	.shopnow .container-text{
		top: -100px;
	}

	.btn-complete-order a:after{
		width: 2px;
	}
 }

@media (max-width: 414px){
	.section:not(.home):not(.footer){
		padding: 0 25px;
	}

	.flex-caption{
		padding: 0 20px;
	}

	.flex-caption h1{
		font-size: 28px;
    	line-height: 33px;
    	margin-top: 5px;
	}

	.flex-caption h2{
		font-size: 36px;
		line-height: 33px;
	}

	.flex-caption-promo-internet h1{
		font-size: 38px;
		line-height: 40px;
		margin-bottom: 10px;
	}

	.moments{
		margin-top: 80px;
    	padding-bottom: 80px !important;
	}

	.moments h2{
		font-size: 50px;
    	line-height: 34px;
    	top: -20px;
	}

	.section.features .container, .section.features .row, .section.features .col-md-7, .section.features .col-sm-6{
		padding:0;
	}

	.section.features .col-sm-6{
		max-width: 220px;
	}

	.section{
		position: relative;
	}

	.section, .fp-tableCell{
		min-height: 100%;
		height: auto !important;
	}

	.moments{
		padding-top: 80px !important;
		padding-bottom: 120px !important;
	}

	.btn-complete-order a:after{
		width: 2px;
	}

	.shopnow .container-text{
		padding-top: 30px;
	}

	.mobile-btl{
		top: 0;
	}

	.shopnow h3{
		font-size: 20px;
    	padding-bottom: 10px;
	}

	.shopnow p{
		font-size: 14px;
    	line-height: 20px;
	}

	.slides li:first-child, .slides li:nth-child(2){
		background-image: url('../img/slides-home-casa/FVeC-BG-Slide-enCasa-mobile.jpg') !important;
	}
	.slides li:first-child, .slides li:nth-child(3){
		background-image: url('../img/slides-home-oficina/FVeC-BG-Slide-Oficina-mobile.jpg') !important;
	}
}

@media (max-width: 320px){
	.container-bottle{
		top: 60px;
	}

	.bottle-img{
		height: auto;
		left: -webkit-calc(50% - 40px);
		left: -moz-calc(50% - 40px);
		left: calc(50% - 40px);
	}

	.shopnow .container-text{
		top: -100px;
	}
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){
    .features{
    	background: url(../img/bg-iconos@x2.jpg)no-repeat center bottom;
    	-webkit-background-size: 1600px 1000px;
		-moz-background-size: 1600px 1000px;
		-o-background-size: 1600px 1000px;
		background-size: 1600px 1000px;
    }

    .slides li:first-child{
    	background-image: url(img/slides-home-casa/slide1@x2.jpg);
    }

    .layout-oficina .slides li:first-child{
    	background-image: url(img/slides-home-oficina/slide1@x2.jpg);
    }

    .slides li:nth-child(2){
    	background-image: url(img/slides-home-casa/slide1_2@x2.jpg);
    }

    .layout-oficina .slides li:nth-child(2){
    	background-image: url(img/slides-home-oficina/slide1_2@x2.jpg);
    }

    .slides li:nth-child(3){
    	background-image: url(img/slides-home-casa/slide3@x2.jpg);
    }

    .layout-oficina .slides li:nth-child(3){
    	background-image: url(img/slides-home-oficina/slide3@x2.jpg);
    }
}

@media (min-width: 1281px) {
	.flex-caption h1{
		font-size: calc(52px + (104 - 52) * ((100vw - 1280px) / (2560 - 1280)));
    	line-height: 1em;
	}

	.flex-caption h2{
		font-size: calc(65px + (130 - 65) * ((100vw - 1280px) / (2560 - 1280)));
    	line-height: 1em;
	}

	.flex-caption .values-text-caption-item p{
		font-size: calc(17px + (34 - 17) * ((100vw - 1280px) / (2560 - 1280)));
		line-height: 1em;
	}

	.flex-caption p.icon-item-caption{
		font-size: calc(33.5px + (67 - 33.5) * ((100vw - 1280px) / (2560 - 1280)));
		line-height: 1em;
	}

	.flex-caption .btn-white{
		font-size: calc(14px + (28 - 14) * ((100vw - 1280px) / (2560 - 1280)));
		line-height: 1em;
	}

	.flex-caption .values-text-caption{
		margin: 25px 0;
	}

	.flex-caption .btn-white{
		border-radius: 2em;
		padding: 1em 2em;
	}
}
