header.grid .main-top li a, header.grid .main-top-user:after, header.grid .main-top-menu:before, header.grid .cart-resume span{
	color: #dcdcdc;
}

header.grid .hamburger-inner, header.grid .hamburger-inner::before, header.grid .hamburger-inner::after{
	background-color: #dcdcdc;
}

.nav-categories{
	position: fixed;
	top: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform:    translateX(-50%);
	-ms-transform:     translateX(-50%);
	-o-transform:      translateX(-50%);
	transform:         translateX(-50%);
}

.downing .nav-categories{
	top: 25px;	
}

.nav-categories ul{
	border-radius: 15px;
	background: #fff;
	margin: 0;
	position: relative;
	min-width: 150px;
	min-height: 37px;
}


.nav-categories li{
	display: inline-block;
	padding: 5px 15px 8px 15px;
	background: #fff;
}

.nav-categories li:after{
	content: "|";
	color: #dcdcdc;
	padding: 0 5px;
}

.nav-categories li:last-child:after{
	content: "";
	padding: 0;
}

.nav-categories a{
	font-family: 'Asap-Italic';
	font-size: 14px;
	line-height: 20px;
	color: #9b9b9b;
	padding-right: 15px;
	font-weight: normal;
}

.nav-categories.alignleft{
	left: 160px;
	-webkit-transform: translateX(0%);
	-moz-transform:    translateX(0%);
	-ms-transform:     translateX(0%);
	-o-transform:      translateX(0%);
	transform:         translateX(0%);
}

h1{
	font-family: 'September-Regular',Helvetica,sans-serif;
	font-size: 150px;
	line-height: 130px;
	margin: 0;
	text-align: center;
	position: relative;
	/*top: -35px;*/
}

#main-products{
	padding: 180px 0 60px;
	position: relative;
}

#main-products .item{
	margin-bottom: 60px;
}

.item-image{
	position: relative;
	margin-bottom: 40px;
}

.item-image img{
	max-width: 100%;
}

.item-back{
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.item-product{
	position: absolute;
	bottom: -40px;
	left: 0;
}

.caption{
	text-align: center;
	display: inline-block;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform:    translateX(-50%);
	-ms-transform:     translateX(-50%);
	-o-transform:      translateX(-50%);
	transform:         translateX(-50%);
	padding: 10px 10px 0;
	height: 65px;
	max-height: 65px;
	overflow: hidden;
}

.item.eco .caption{
	text-align: left;
	padding-left: 35px;
}

.item.eco .caption:before{
	font-family: "Iconfontvella", sans-serif;
	content: "O";
	font-size: 28px;
	color: #2be4b6;
	position: absolute;
	margin-right: 5px;
	margin-top: 3px;
	left: 1px;
}

.item-product-info{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #989898;
	margin: 0;
}

.item-overlay{
	position: absolute;
	top: -15px;
	left: -15px;
	background: #fff;
	padding: 15px;
	width: -webkit-calc(100% + 30px);
	width: -moz-calc(100% + 30px);
	width: calc(100% + 30px);
	height: -webkit-calc(100% + 30px);
	height: -moz-calc(100% + 30px);
	height: calc(100% + 30px);
	display: none;
/*	visibility: hidden;
  	opacity: 0;
	-webkit-transition: visibility 0s, opacity 0.3s ease-out;
    -moz-transition: visibility 0s, opacity 0.3s ease-out;
    -o-transition: visibility 0s, opacity 0.3s ease-out;
    transition: visibility 0s, opacity 0.3s ease-out;*/
}

.item-image:hover .item-overlay{
	display: block;
}

.item-image:hover .item-product{
	bottom: 0;
}

.btn-add-to-cart{
	position: absolute;
	bottom: 15px;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	padding: 16px 8px;
}

.qty-cart-add-to-cart{
	font-size: 14px;
	/*float: left;*/
	width: 62px;
}

 .btn-add-to-cart .glyphicon{
 	font-size: 10px;
 }

.btn-add-to-cart .glyphicon-plus{
	padding-left: 15px;
	padding-right: 5px;

}

.btn-add-to-cart .glyphicon-minus{
	padding-right: 15px;
	padding-left: 5px;
}

.btn-buy-mobil{
	display: none;
	position: relative;
    width: 80%;
	left: 10%;
    margin-top: 10px;
}

.item-advise-price{
	line-height: 15px;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 60px;
	color: #a3a3a3;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
}

.item-advise-price-unit{
	font-family: 'Asap-BoldItalic';
	font-size: 13px;
}

.item-advise-price-pack{
	font-family: 'Asap-Italic';
	font-size: 12px;
}

.item-img-tiny{
	height: -webkit-calc(100% - 70px);
	height: -moz-calc(100% - 70px);
	height: calc(100% - 70px);
	width: auto;
	display: block;
	position: relative;
	top: -20px;
	margin: 0 auto;
}


/* support css 5 col */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/* support mobil */
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
.col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
.col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


/* Responsive */
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (max-width: 1200px){

	.nav-categories{
	    left: 180px;
	    -webkit-transform: translateX(0%);
	    -moz-transform: translateX(0%);
	    -ms-transform: translateX(0%);
	    -o-transform: translateX(0%);
	    transform: translateX(0%);
	}

	.nav-categories li{
		display: block;
		padding-right: 5px;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 25px;
		min-width: 10px;
	}

	.nav-categories.showCatItems li{
		position: relative;
	}

	.nav-categories li:first-child{
		z-index: 9999;
		cursor: pointer;
	}

	.nav-categories li:after{
		display: none;
	}

	.nav-categories li:first-child:after{
		display: block;
		font-family: "Iconfontvella", sans-serif;
		content: "T";
		font-size: 8px;
		float: right;
		margin-top: 2px;
		cursor: pointer;
	}

	.nav-categories a{
		padding-right: 10px;
	}
}


@media (max-width: 414px){
	.col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11 {
        float: left;
    }

	.col-xxs-1 {
        width: 8.333333333333332%;
    }

    .col-xxs-2 {
        width: 16.666666666666664%;
    }

    .col-xxs-3 {
        width: 25%;
    }

    .col-xxs-4 {
        width: 33.33333333333333%;
    }

    .col-xxs-5 {
        width: 41.66666666666667%;
    }

    .col-xxs-6 {
        width: 50%;
    }

    .col-xxs-7 {
        width: 58.333333333333336%;
    }

    .col-xxs-8 {
        width: 66.66666666666666%;
    }

    .col-xxs-9 {
        width: 75%;
    }

    .col-xxs-10 {
        width: 83.33333333333334%;
    }

    .col-xxs-11 {
        width: 91.66666666666666%;
    }

    .col-xxs-12 {
        width: 100%;
    }
}


@media only screen 
  and (min-width: 992px) 
  and (max-width: 1024px) 
  and (orientation: landscape) {
  	.btn-buy-mobil{
		display: block;
		max-width: 318px;
	}

	.item-overlay{
		display: none !important;
	}

	.item-image:hover .item-product {
	    bottom: -40px;
	}

	.btn-buy .glyphicon, .qty-cart-btn, .btn-buy .label-btn-buy-active, .btn-buy.action .label-btn-buy-repose{
		display: inline-block;
	}
}

@media (max-width: 991px) {
	#main-products h1{
		font-size: 80px;
		line-height: 70px;
	}
}

@media (max-width: 1024px) {
	.downing .nav-categories{
		top: 30px;
	}

	.nav-categories{
	 	position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform:    translateX(-50%);
		-ms-transform:     translateX(-50%);
		-o-transform:      translateX(-50%);
		transform:         translateX(-50%);
	}
}

@media (max-width: 768px) {
	#main-products .container{
		padding-right: 60px;
    	padding-left: 60px;
	}

	.btn-buy-mobil{
		display: block;
		max-width: 318px;
	}

	.item-overlay{
		display: none !important;
	}

	.item-image:hover .item-product {
	    bottom: -40px;
	}

	/*.item-product{
		bottom: 0;
	}*/

	 .nav-categories{
		top: 35px;
	}

	.downing .nav-categories{
		top: 15px;
	}

	header.grid .main-top li a, header.grid .main-top-user:after, header.grid .main-top-menu:before, header.grid .cart-resume span{
		color: #dcdcdc;
	}

	header.grid .hamburger-inner, header.grid .hamburger-inner::before, header.grid .hamburger-inner::after{
		background-color: #dcdcdc;
	}

	#main-products .container {
	    padding-right: 90px;
	    padding-left: 90px;
	}
}

@media (max-width: 520px){
	.col-xxs-12 {
	    width: 100%;
	}
}

@media only screen 
	and (min-width: 415px) 
	and (max-width: 767px) 
	and (orientation: landscape) {
	.downing .nav-categories{
		top: 25px;
	}
}

@media (max-width: 414px) {
	#main-products h1 {
	    font-size: 46px;
	    line-height: 60px;
	}

	/*.nav-categories, .downing .nav-categories{
		top: 15px;
	}*/

	.nav-categories, .downing .nav-categories{
		top: 15px;
	}

	.nav-categories ul{
		/*padding: 0 5px;*/
		min-width: 150px;
	}

	.nav-categories li{
		min-width: 140px;
	}

	.nav-categories.alignleft{
		left: 100px;
	}
}

@media (max-width: 330px) {
	#main-products .container {
	    padding-right: 40px;
	    padding-left: 40px;
	}

	.nav-categories, .downing .nav-categories{
		top: 65px;
		left: 80px
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
	    width: 50%;
	}

	.col-sm-15 {
	        width: 20%;
	        float: left;
	    }
	
	#main-products .container{
			padding: 0 3%;
	}
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }

    .col-sm-3 {
	    width: 20%;
	}
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }

    #main-products .container{
		padding: 0 10%;
	}
}

@media (min-width: 1500px){
	#main-products .container {
    	padding: 0 150px;
	}
}