html, body{
	width: 100%;
	height: 100%;
	-ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    margin: 0;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a, a:focus{
	color: #fff;
	text-decoration: none;
	outline: none !important;
}

a:hover{
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
}

button:focus, .btn:focus {outline:0 !important;}


/* FONTS */
@font-face {
  font-family: 'Asap-Bold';
  src: url('../fonts/Asap-Bold.eot');
  src: url('../fonts/Asap-Bold.woff2') format('woff2'),
       url('../fonts/Asap-Bold.woff') format('woff'),
       url('../fonts/Asap-Bold.ttf') format('truetype'),
       url('../fonts/Asap-Bold.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-BoldItalic';
  src: url('../fonts/Asap-BoldItalic.eot');
  src: url('../fonts/Asap-BoldItalic.woff2') format('woff2'),
       url('../fonts/Asap-BoldItalic.woff') format('woff'),
       url('../fonts/Asap-BoldItalic.ttf') format('truetype'),
       url('../fonts/Asap-BoldItalic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Italic';
  src: url('../fonts/Asap-Italic.eot');
  src: url('../fonts/Asap-Italic.woff2') format('woff2'),
       url('../fonts/Asap-Italic.woff') format('woff'),
       url('../fonts/Asap-Italic.ttf') format('truetype'),
       url('../fonts/Asap-Italic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Regular';
  src: url('../fonts/Asap-Regular.eot');
  src: url('../fonts/Asap-Regular.woff2') format('woff2'),
       url('../fonts/Asap-Regular.woff') format('woff'),
       url('../fonts/Asap-Regular.ttf') format('truetype'),
       url('../fonts/Asap-Regular.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'September-Regular';
  src: url('../fonts/September-Regular.eot');
  src: url('../fonts/September-Regular.woff2') format('woff2'),
       url('../fonts/September-Regular.woff') format('woff'),
       url('../fonts/September-Regular.ttf') format('truetype'),
       url('../fonts/September-Regular.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/September-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iconfontvella';
  src: url('../fonts/iconFont/iconfontvella-Regular.eot');
  src: url('../fonts/iconFont/iconfontvella-Regular.woff2') format('woff2'),
       url('../fonts/iconFont/iconfontvella-Regular.woff') format('woff'),
       url('../fonts/iconFont/iconfontvella-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

b, strong{
	font-weight: 500;
}

*{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size-adjust: none;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #535353;
}

.white, .white a{
	color: #ffffff;
}

.grey, .grey a{
	color: #dcdcdc;
}

/* Header */
.nav-menu{
	position: fixed;
	top: 0px;
	left: 100%;
	width: 100%;
	height: 100%;
	background: #fff;
	/*background: rgba(255,255,255,0.95);*/
	z-index: 9999;
	-webkit-transition: left 600ms ease-out;
    -moz-transition: left 600ms ease-out;
    -o-transition: left 600ms ease-out;
    transition: left 600ms ease-out;
}

.nav-menu.show{
	left: 0;
}

.nav-menu.show .hamburger{
	position: absolute;
	top: 30px;
	right: 30px;
}

.nav-menu.show .hamburger .hamburger-inner, .nav-menu.show .hamburger .hamburger-inner::before, .nav-menu.show .hamburger .hamburger-inner::after{
	background-color: #dcdcdc;
}

.nav-menu ul{
	padding-left: 10%;
	padding-top: 12%;
}

.nav-menu li{
	padding-bottom: 30px;
}

.nav-menu a{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	color: #5ccaff;
	font-size: 67px;
	line-height: 67px;
	text-transform: uppercase;
}

.main-header{
	position: relative;
	width: 100%;
	z-index: 1;
	padding: 0px;
}

.brand{
	text-indent: -99999px;
	display: block;
	background: url('../img/logo-FVeC-light.png')no-repeat;
	-webkit-background-size: 113px 71px;
	-moz-background-size: 113px 71px;
	-o-background-size: 113px 71px;
	background-size: 113px 71px;
	width: 113px;
	height: 71px;
	position: fixed;
	top: 55px;
	left: 60px;
}

.dark .brand{
	background: url('../img/logo-FVeC-dark.png')no-repeat;
	-webkit-background-size: 113px 71px;
	-moz-background-size: 113px 71px;
	-o-background-size: 113px 71px;
	background-size: 113px 71px;
	top: 30px;
	left: 30px;
}

.brand-blue, .dark .brand-blue{
	background: url('../img/logo-FVeC-blue.png')no-repeat;
	-webkit-background-size: 113px 71px;
	-moz-background-size: 113px 71px;
	-o-background-size: 113px 71px;
	background-size: 113px 71px;
	left: 30px;
	top: 30px;
}

.dark.downing .brand-blue{
	background: url('../img/logo-FVeC-dark.png')no-repeat;
	-webkit-background-size: 60px 38px;
	-moz-background-size: 60px 38px;
	-o-background-size: 60px 38px;
	background-size: 60px 38px;
	width: 60px;
	height: 38px;
	top: 25px;
	left: 30px;
}

/* banda blanca */
.header-back-blue.downing, .main-header.dark.downing{
	position: fixed;
    top: 0;
    height: 90px;
    background: #fff;
    z-index: 9999;
}

.header-back-blue.dark .brand{
	background: url('../img/logo-FVeC-dark.png')no-repeat;
	-webkit-background-size: 60px 38px;
	-moz-background-size: 60px 38px;
	-o-background-size: 60px 38px;
	background-size: 60px 38px;
	width: 60px;
	height: 38px;
	top: 41px;
	left: 55px;
}

.header-back-blue.downing .brand{
	top: 30px;
    left: 30px;
}

.header-back-blue.downing .main-top, .dark.downing .main-top{
	right: 30px;
    top: 15px;
}


/* main-top */

.main-top{
	position: fixed;
	right: 48px;
	top: 50px;
}

.main-top li{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.main-top li a{
	color: #fff;
	padding: 15px 18px;
	cursor: pointer;
}

.main-top-mode{
	font-family: 'Asap-Italic';
	font-size: 14px;
	line-height: 24px;
	height: 27px;
}

.downing .main-top-mode{
	display: none;
}

.main-top-user:after, .main-top-menu:before{
	content: "|";
	color: #fff;
	position: absolute;
}

.main-top-menu::before{
	top: 17px;
}

.main-top-user span{
	font-size: 21px;
}

.main-top-user span:before{
	font-family: "Iconfontvella", sans-serif;
	content: "A";
}

.main-top-cart a span{
	font-size: 21px;
}

.main-top-cart a span:before{
	font-family: "Iconfontvella", sans-serif;
	content: "B";
}

.postalcode-form{
	float: right;
	position: relative;
	top: -2px;
	margin-right: 10px;
	display: none;
}

.postalcode-form-cart{
	float: none;
	display: block;
}

.postalcode-form input{
	border: none;
	box-shadow: none;
	border-radius: 24px;
	min-width: 200px;
	text-align: center;
	height: 26px;
	line-height: 1;
	background: #4dc6ff;
	color: #ffffff;
	padding: 2px 20px 2px 12px;
}

#submit-postalcode-btn{
	position: absolute;
	right: 10px;
	top: 0px;
	cursor: pointer;
}

#submit-postalcode-btn:before{
	font-family: "Iconfontvella", sans-serif;
	content: "M";
	color: #fff;
	font-size: 10px;
}

.main-top-cart .cart-resume{
	float: right;
	position: relative;
	top: -2px;
	margin-right: 10px;
	display: none;
}

.cart-resume span{
	font-family: 'Asap-Italic';
	font-size: 14px;
	line-height: 21px;
	color:#fff;
}

.qty-total-cart-items, .qty-total-cart-label{
	margin-right: 5px;
}
.main-header .cart-resume .qty-total-cart-items {
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
}
.main-header.dark .cart-resume .qty-total-cart-items,
.main-header.grid .cart-resume .qty-total-cart-items{
  color: #4dc6ff;
}

/* dark-menu-style */
.dark .main-top, .grid .main-top{
	right: 30px;
	top: 30px;
}

.dark .main-top li a, .dark .main-top-user:after, .dark .main-top-menu:before, .dark .cart-resume span{
	color: #dcdcdc;
}

.dark .main-top-mode a{
	color: #bbbbbb !important;
}

/*.header-back-blue.dark .main-top{
	right: 60px;
	top: 30px;
}*/


/* Hamburger */
.hamburger{
	    padding: 20px 18px 15px;
}

.hamburger-box{
	width: 26px;
	height: 20px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
	width: 26px;
	background-color: #fff;
}

.hamburger--slider .hamburger-inner::before{
	top: 8px;
}

.hamburger--slider .hamburger-inner::after{
	top: 16px;
}

.hamburger--slider.is-active .hamburger-inner::after {
	-webkit-transform: translate3d(0, -16px, 0) rotate(-90deg);
	-moz-transform:    translate3d(0, -16px, 0) rotate(-90deg);
	-ms-transform:     translate3d(0, -16px, 0) rotate(-90deg);
	-o-transform:      translate3d(0, -16px, 0) rotate(-90deg);
	transform:         translate3d(0, -16px, 0) rotate(-90deg);
}

.dark .hamburger{
	padding-right: 0px;
}

.dark .hamburger-inner, .dark .hamburger-inner::before, .dark .hamburger-inner::after{
	background-color: #dcdcdc;
}


/* footer */
.outer{
	padding: 30px;
}

.footer{
	font-family: 'Asap-Regular',Helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}

.footer-container{
	background: url('../img/footer.jpg')no-repeat bottom center;
	background-color: #5fd0eb;
	padding: 6% 0 6% 4%;
}

.dark .footer-container{
	background: none;
}

.footer.dark, .footer.dark a{
	color: #888;
}

.footer .about{
	text-align: justify;
	padding: 0px 4%;
}

.footer .about .comment{
	font-family: 'Asap-Italic';
	line-height: 12px;
	margin-bottom: 0px;
}

.footer .contact{
	padding: 0 4%;
	padding: 0px 6%;
}

.contact a{
	font-family: 'Asap-Bold';
}


.brand-footer{
	width: 100px;
	height: 80px;
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

.brand-footer span:before{
	font-family: 'Iconfontvella';
	content: "C";
	font-size: 78px;
	position: relative;
	top: 30px;
}

.footer p{
	margin: 0 0 20px;
}

.footer strong{
	font-family: 'Asap-Bold';
}

.social-footer{
	margin-top: 55px;
}

.social-footer li{
	display: inline-block;
	margin-right: 20px;
}

.social-footer li a:hover{
	position: relative;
	top: -5px;
}

.social-footer span{
	font-family: 'Iconfontvella';
	font-size: 42px;
}

.social-footer .mail span:before{
	content: "D";
}

.social-footer .WhatsApp span:before{
	content: "F";
}

.social-footer .fb span:before{
	content: "E";
}

.social-footer .tw span:before{
	content: "F";
}

.credits-footer{
	padding-top: 20px;
}


/* btn */
.btn{
	font-family: 'Asap-Bold',Helvetica,sans-serif;
	font-size: 14px;
	line-height: 10px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.5px;
	border: 2px solid;
	border-radius: 25px;
	padding: 18px 28px;
}

.btn-white{
	color: #fff;
	border-color: #fff;
}

.btn-blue{
	color: #4dc6ff;
	border-color: #4dc6ff;
}

.btn-blue a{
	color: #4dc6ff;
}

.btn-blue:hover{
	background: #4dc6ff;
}

.btn-blue:hover a{
	color: #fff;
}

.btn-white:hover{
	background: #fff;
}

.btn-white:hover a{
	color: #4dc6ff;
}

.popover-content .btn-white:hover{
	color: #4dc6ff;
	opacity: 1;
}

.btn-step{
	font-family: 'Asap-Bold';
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.btn-step a{
	color: #bbbbbb;
}

.btn-right{
	text-align: right;
}

.btn-left{
	text-align: left;
}

.btn-center{
	text-align: center;
}

.btn-buy .glyphicon, .qty-cart-btn, .btn-buy .label-btn-buy-active, .btn-buy.action .label-btn-buy-repose{
	display: none;
}

.btn-buy.action .glyphicon, .btn-buy.action .label-btn-buy-active, .btn-buy.action .qty-cart-btn{
	display: inline-block;
}

.btn-buy:hover, .btn-buy:hover a{
	color: #fff;
}

.btn-viewAll{
	font-size: 12px;
	line-height: 12px;
	width: 180px;
	position: absolute;
	bottom: 20px;
	padding: 14px 30px 14px;
	margin-bottom: 20px;
}

.btn-viewAll.btn-right{
	right: 35px;
}

.btn-viewAll.btn-left{
	left: 35px;
	bottom: 0px;
}


.btn-viewAll:after{
	content: "";
	width: 25px;
	height: 2px;
	background: #4dc6ff;
	position: absolute;
	bottom: 0px;
}

.btn-viewAll.btn-right:after{
	right: 30px;
}

.btn-viewAll.btn-left:after{
	left: 30px;
}

.btn-viewAll a:after{
	font-family: "Iconfontvella", sans-serif;
	font-size: 14px;
	color: #bbbbbb;
	position: absolute;
	top: 20px;
}

.btn-viewAll.btn-right a:after{
	content: "M";
	right: 9px;
}

.btn-viewAll.btn-left a:after{
	content: "N";
	left: 9px;
}

.btn-buy{
	padding: 16px 8px;
}

.btn-minus {
    text-align: left;
    position: absolute;
	left: 10px;
}

.btn-plus {
    text-align: right;
    position: absolute;
	right: 10px;
}

/* ampliación btn-connect */

.btn-fb-connect{
	font-size: 10px;
	color: #fff;
	width: 190px;
	border: none;
	background-image: linear-gradient(-204deg, #3860bb 0%, #3c5ca5 100%);
	padding: 19px 0px;
    margin-top: 15px;
}

.btn-fb-connect:after{
	display: inline-block;
	content: url('../img/facebook-connect.svg');
	width: 53px;
	margin-left: 6px;
}

.btn-fb-connect:hover{
	color: #fff;
	background: #3c69cf;
}

.lines-separator{
	font-family: 'Asap-Bold';
    font-size: 14px;
    color: #6f6f6f;
    width: 190px;
	margin: 10px auto;
}

.lines-separator span{
	margin: 0 10px;
}

.lines-separator:before, .lines-separator:after{
	content: '';
	display: inline-block;
	background: #e7e7e7;
	height: 1px;
	width: 80px;
	position: relative;
	bottom: 3px;
}

/* modificación */

.container-form-login{
	height: 500px !important;
}

.link-lost-password-form{
	font-family: 'Asap-Italic';
	text-transform: none !important;
	letter-spacing: .5px;
    margin-bottom: 20px !important;
}

.container-checkbox-login{
	max-width: 205px;
    margin: 0 auto;
}

.container-checkbox-login .custom-control-description{
	/*text-transform: none !important;*/
}

.keep-open-session{
    text-align: center !important; /* este si */
}

.checkbox .cr{
	width: 13px !important;
    height: 13px !important;
    top: 8px !important;
}

/* Ampliación register */
.type-user-checkbox-container{
	margin-left: 10px;
	margin-bottom: 10px;
}

.type-user-checkbox-container .checkbox:first-child{
	margin-right: 13px;
}

/* modal icon */
.info-company-user:after{
	font-family: 'Iconfontvella';
    content: "P";
    color: #707070;
    font-size: 10px;
    position: absolute;
    right: -13px;
    top: 3px;
    cursor: pointer;
}

/* Ampliación corrección tablets */
.container-blocks-login{
	padding: 0 10px !important;
}
.container-blocks-login form{
	max-width: 205px;
	margin: 0 auto;
}

/* end */


/* Popover */
.popover{
	max-width: none;
	background: #4dc6ff;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
	-moz-box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
	box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
	box-shadow: 9px 15.588px 43px 0px rgba(0, 0, 1, 0.1);
}

.popover-content{
	min-width: 300px;
	padding: 20px;
	font-family: 'Asap-Italic';
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.popover-cart-product-detail-price{
	font-weight: bold;
}
.popover-cart-product-total-price{
	font-weight: bold;
	padding-right: 0;
  font-size: 20px;
}

.popover-cart-shipping-advise{
	font-size: 12px;
}

.popover.bottom > .arrow{
	border-color: transparent;
}

.popover.bottom > .arrow::after{
	border-bottom-color: #4dc6ff;
}

.popover .col-md-9{
	padding-right: 0;
}

.popover .col-md-3{
	text-align: right;
}

.popover-cart-total{
	border-top: 1px solid;
	margin: 0px;
	padding-top: 10px;
}

.popover-cart-total .col-md-9{
	padding-left: 0;
}

.popover .btn-go-checkout, .popover .btn-get-service-advise{
	margin-top: 20px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform:    translateX(-50%);
	-ms-transform:     translateX(-50%);
	-o-transform:      translateX(-50%);
	transform:         translateX(-50%);
}
.popover .btn-checkout-disabled span.btn-go-checkout, .popover .btn-checkout-disabled a.btn-go-checkout, .popover .btn-checkout-disabled a.btn-go-checkout:hover {
    border-color: #3BA2D2 !important;
    color: #3ba2d2;
    cursor: default;
}
.popover .btn-checkout-disabled span.btn-go-checkout {
  color: #f1274e;
  cursor: not-allowed;
  text-transform: initial;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 0px;
}

.advise-postalcode-unavailable-service{
	font-family: 'Asap-BoldItalic';
	max-width: 280px;
	text-align: center;
	margin: 0 auto;
	font-size: 13px;
	line-height: 16px;
}

.form-postalcode-unavailable-service{
	margin: 0 10px;
}

.form-postalcode-unavailable-service input{
	background: none;
	border: none;
	color: #fff;
	box-shadow: none;
	border-bottom: 1px solid #fff;
	width: 100%;
	margin: 30px auto 0px;
}

/* helpers */
/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/

/* Forms */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff !important;
  font-family: 'Asap-Italic';
}
::-moz-placeholder { /* Firefox 19+ */
	color: #ffffff !important;
  font-family: 'Asap-Italic';
}
:-ms-input-placeholder { /* IE 10+ */
	color: #ffffff !important;
  font-family: 'Asap-Italic';
}
:-moz-placeholder { /* Firefox 18- */
	color: #ffffff !important;
  font-family: 'Asap-Italic';
}

/* Cookies */

.cookies-advise{
	position: fixed;
	bottom: 50px;
	left: 50px;
	background: #4dc6ff;
	color: #fff;
	font-size: 10px;
	padding: 10px;
	z-index: 9;
	-webkit-transition: opacity 400ms ease-out, bottom 400ms ease-out, visibility 0s ease 400ms;
	-moz-transition: opacity 400ms ease-out, bottom 400ms ease-out, visibility 0s ease 400ms;
	-o-transition: opacity 400ms ease-out, bottom 400ms ease-out, visibility 0s ease 400ms;
	transition: opacity 400ms ease-out, bottom 400ms ease-out, visibility 0s ease 400ms;
	opacity: 1;
}

.cookies-advise.slideOut{
	opacity: 0;
	bottom: 20px;
	visibility: hidden;
}

.cookies-advise p{
	margin: 0px;
	max-width: 280px;
	line-height: 12px;
}

.cookies-advise a{
	font-family: 'Asap-BoldItalic';
	text-decoration: underline;
}

.close-cookies-advise{
	position: absolute;
	right: 0px;
	top: -2px;
	width: 20px;
	height: 20px;
}

.close-cookies-advise:after{
	font-family: 'Iconfontvella';
	content: 'k';
	display: block;
	position: absolute;
	right: 5px;
	top: -2px;
	cursor: pointer;
	font-size: 8px;
}

.close-cookies-advise:hover:after, .cookies-advise a:hover{
	opacity: .8;
}

.table-cookies{
	margin-bottom: 20px;
}

.table-cookies p{
	line-height: 16px;
}

.table-cookies strong{
	font-family: 'Asap-Bold';
}

/* start popup Home */
.popup-overlay{
	width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background: rgba( 0,0,0,0.8 );
    left: 0;
    z-index: 999999;
}

.inner-popup{
	position: relative;
	width: 500px;
	margin: 0 auto;
	padding: 25px 35px;
	top: 50%;
    transform: translateY(-50%);
}

.content-popup{
	width: 100%;
	background-image: url('../img/bg-popup.jpg');
	background-size: 100%;
	box-shadow: 0 9px 49px rgba(0, 0, 0, 0.48);
	border-radius: 10px;
	margin-bottom: 20px;
}

.content-popup .row{
	padding: 45px 38px;
}

.close-popup{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 10px;
	cursor: pointer;
	background: url('../img/cerrar.svg') no-repeat center #000;
	background-size: 9px;
	border-radius: 25px;
}

.top-popup.row{
	text-align: center;
	padding-bottom: 36px;
}

.mockup{
    width: 217px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 9;
}

.mockup img{
	width: 100%;
}

.info-content-popup{
	float: right;
}

.top-popup h3{
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.08);
	color: #ffffff;
	font-family: 'Asap-BoldItalic';
	font-size: 22px;
	font-weight: 700;
	line-height: 25.82px;
	margin-top: 0;
	margin-bottom: 10px;
}

.top-popup p{
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.08);
	color: #ffffff;
	font-family: 'Asap-Bold';
	font-size: 16px;
	font-weight: 700;
	line-height: 13.59px;
	margin-bottom: 12px;
}

.store{
	height: 32px;
	display: inline-block;
	margin: 0 4px;
}

.store img{
	height: 100%;
	width: auto;
}

.top-popup:after{
	content: '';
	display: block;
	width: 378px;
	margin: 0 auto;
	height: 1px;
	background: #000;
	opacity: 0.1;
	bottom: -45px;
    position: relative;
}

.discount{
	color: #ffffff;
	font-family: 'Asap-Bold';
	font-size: 106px;
	font-weight: 700;
	line-height: 35px;
	margin-top: 20px;
}

.discount-info{
	color: #ffffff;
	font-family: 'Asap-BoldItalic';
	font-size: 27px;
	margin: 0;
    padding-top: 20px;
    text-align: center;
}

.container-info-app{
	padding-left: 32px;
    padding-right: 11px;
}

.info-app{
	color: #ffffff;
	font-family: 'Asap-BoldItalic';
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 14px;
}

.code-app{
	font-family: 'Asap-BoldItalic';
	font-size: 22px;
	color: #2abcea;
	background: #fff;
	text-align: center;
    padding: 8px 0;
}

.footer-popup p{
	font-family: 'Asap-Regular';
	margin: 0;
	font-size: 9px;
	line-height: 12px;
	color: #838383;
	text-align: center;
}

/* Responsive */

@media (min-width: 1600px){
	.footer-container {
        background: url(../img/footer@x2.jpg)no-repeat bottom center;
    }
}

@media (max-width: 1090px){
	.footer .contact{
		padding: 0px 2%;
	}
}

/*@media only screen
  and (min-width: 992px)
  and (max-width: 1024px)
  and (orientation: landscape) {
  	.nav-menu ul{
  		padding-left: 60px;
		padding-top: 180px;
  	}
}*/

@media only screen
  and (min-width: 992px)
  and (orientation: landscape){
  	.nav-menu ul{
		padding-top: 0;
		top: 12%;
    	position: relative;
	}
  }

@media only screen
  and (min-width: 769px)
  and (max-width: 1024px)
  and (orientation: portrait) {
  	.nav-menu ul{
  		padding-left: 60px;
		padding-top: 280px;
  	}
  }

@media (max-width: 991px){
	.footer-container{
		padding: 20px 0px;
	}

	.footer-container .row{
		margin: 0 auto;
	}

	.footer .contact{
		text-align: center;
		margin-top: 90px;
		padding: 0;
	}

	.social-footer{
		width: 100%;
		padding-left: 20px;
		margin: 0 auto;
		position: absolute;
	    top: -75px;
	    left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform:    translateX(-50%);
		-ms-transform:     translateX(-50%);
		-o-transform:      translateX(-50%);
		transform:         translateX(-50%);

	}

	.credits-footer{
		display: none;
	}

	.popover .col-md-9{
	    width: 75%;
	    float: left;
	}

	.popover .col-md-3{
	    width: 25%;
	    float: left;
	}

	/* info app pop-up */
	.content-popup{
		background-image: url(../img/bg-popup-mobile.jpg);
	}

	.content-popup .row{
		padding: 37px 28px 27px;
	}

	.inner-popup{
		width: 375px;
	}

	.mockup{
		display: none;
	}

	.top-popup:after{
		width: 260px;
		bottom: -30px;
	}

	.top-popup h3{
		font-size: 23px;
    	font-family: 'Asap-Bold';
    	margin-bottom: 30px;
	}

	.top-popup p{
		font-size: 16px;
	}

	.store{
		height: 36px;
	}

	.content-popup .row{
		text-align: center;
		padding: 27px 28px;
	}

	.discount{
		font-size: 91px;
	}

	.discount-info{
		font-size: 23px;
		padding-top: 6px;
	}

	.container-info-app{
		padding: 0;
	}

	.info-app{
		font-size: 13px;
	    line-height: 14px;
	    margin-bottom: 10px;
	    margin-top: 14px;
	    padding: 0 60px;
	}

	.code-app{
		width: 116px;
		margin: 0 auto;
	}
}

@media (min-width: 769px){
	.main-header{
		/*position: relative !important;
		z-index: 1 !important;*/
	}
}

@media (max-width: 768px){
	.outer{
		padding: 0;
	}

	.footer-container{
		padding-top: 30px;
		padding-bottom: 0;
	}

	.btn-buy .label-btn-buy-repose{
		display: none;
	}

	.btn-buy .glyphicon, .btn-buy .label-btn-buy-active, .btn-buy .qty-cart-btn{
		display: inline-block;
	}

	.brand{
		left: 30px;
		top: 25px;
	}

	.brand{
		-webkit-background-size: 90px 57px;
		-moz-background-size: 90px 57px;
		-o-background-size: 90px 57px;
		background-size: 90px 57px;
		width: 90px;
		height: 57px;
	}

	.main-top{
		right: 30px;
		/*right: 15px;*/
		top: 25px;
	}

	.downing .main-top{
		right: 15px;
	}

	.main-top li a{
		padding: 15px 10px;
	}

	.hamburger {
	    padding: 20px 0px 15px 0px;
	}

	.main-top li.main-top-mode, .main-top li.main-top-user{
		display: none;
	}

	.main-top-user:after, .main-top-menu:before{
		content: "";
	}

	.main-top-menu{
		padding-left: 10px;
	}

	.main-top-cart .cart-resume{
		margin-right: 0px;
	}

	.nav-menu{
		min-height: 100%;
		max-height: 100%;
    	overflow: hidden;
		height: auto;
		top: -100%;
    	left: 0;
    	-webkit-transition: top 600ms ease-out, left 0ms;
	    -moz-transition: top 600ms ease-out, left 0ms;
	    -o-transition: top 600ms ease-out, left 0ms;
	    transition: top 600ms ease-out, left 0ms;
	}

	.nav-menu a{
		font-size: 47px;
    	line-height: 47px;
	}

	.nav-menu.show {
	    left: auto;
	    top: 0;
	}

	.nav-menu.show .hamburger{
		top: 15px;
	}

	.nav-menu ul{
		padding-left: 60px;
		padding-top: 220px;
	}

	header.dark{
		position: fixed;
		top: 0;
		height: 90px;
		background: #fff;
		z-index: 9999;
	}

	.dark .brand{
		background: url('../img/logo-FVeC-dark.png')no-repeat;
		-webkit-background-size: 60px 38px;
		-moz-background-size: 60px 38px;
		-o-background-size: 60px 38px;
		background-size: 60px 38px;
		width: 60px;
		height: 38px;
	}

	.brand-blue, .dark .brand-blue{
		background: url('../img/logo-FVeC-blue.png')no-repeat;
		-webkit-background-size: 90px 57px;
		-moz-background-size: 90px 57px;
		-o-background-size: 90px 57px;
		background-size: 90px 57px;
		left: 30px;
		top: 30px;
	    width: 90px;
	    height: 57px;
	}

	.dark.downing .brand{
		width: 50px;
    	height: 38px;
		background: url(../img/logo-FVeC-dark.png)no-repeat center;
		-webkit-background-size: 60px 38px;
	    -moz-background-size: 60px 38px;
	    -o-background-size: 60px 38px;
	    background-size: 60px 38px;
	    top: 10px;
	}

	.dark .main-top, .header-back-blue.dark .main-top, .header-back-blue.downing .main-top, .dark.downing .main-top{
		top: 0px;
	}

	.grid .main-top{
		top: 25px;
	}

	.header-back-blue.downing, .main-header.dark.downing{
		height: 60px;
	}

	.postalcode-form{
		position: fixed;
		width: 50%;
		left: 25%;
		top: 95px;
		margin-right: 0;
    	float: none;
	}

	.postalcode-form .form-group{
		margin-bottom: 0px;
		width: 100%;
	}

	.postalcode-form .form-group input{
		width: 100% !important;
	}

	.qty-total-cart-label, .qty-total-cart-price{
		display: none;
	}

/*	.nav-menu .hamburger{
		display: none;
	}*/

/*	.logo{
		width: 80px;
		height: 57px;
	}*/

/*	.nav-menu.show .hamburger{
		display: none;
	}*/
}

@media only screen
  and (min-width: 480px)
  and (max-width: 736px)
  and (orientation: landscape) {
  	.nav-menu ul{
  		padding-left: 40px;
		padding-top: 90px;
  	}

  	.nav-menu li{
  		padding-bottom: 5px;
  	}

  	.nav-menu li a{
  		font-size: 37px;
		line-height: 37px;
  	}
}

@media only screen
  and (min-width: 420px)
  and (max-width: 520px)
  and (orientation: landscape) {
  	.nav-menu li{
  		padding-bottom: 0px;
  	}

  	.nav-menu li a{
  		font-size: 14px;
		line-height: 14px;
  	}
}


@media (max-width: 414px){
	header.dark, .header-back-blue.downing, .main-header.dark.downing{
		height: 60px;
	}

	.header-back-blue.dark .brand, .dark .brand, .dark.downing .brand, .dark.downing .brand-blue, .brand-blue{
		top: 10px;
		left: 15px;
	}

	.dark .main-top, .header-back-blue.dark .main-top, .dark.downing .main-top, .header-back-blue.downing .main-top, .grid .main-top{
		right: 15px;
    	top: 0px;
	}

	.header-back-blue .main-top{
		right: 30px;
		top: 25px;
	}

	.main-top, .header-back-blue .main-top{
		right: 30px;
		top: 25px;
	}

	.postalcode-form{
		top: 65px;
		width: 70%;
    	left: 15%;
	}

	.nav-menu a{
		font-size: 40px;
    	line-height: 40px;
	}

	.nav-menu.show .hamburger{
		top: 0px;
		right: 15px;
	}

	.nav-menu ul{
		padding-left: 35px;
		padding-top: 180px;
	}

	.nav-menu li{
		padding-bottom: 10px;
	}

	.footer p{
		margin: 0 0 15px;
	}

	.footer .contact{
		margin-top: 0px;
	}

	.social-footer{
		width: 100%;
		padding-left: 20px;
		margin: 0 auto;
		position: relative;
	    top: 10px;
	    left: 0;
	    -webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	.contact .col-sm-12{
		margin: 0 0 20px;
	}

	.cookies-advise{
		width: 80%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform:    translateX(-50%);
		-ms-transform:     translateX(-50%);
		-o-transform:      translateX(-50%);
		transform:         translateX(-50%);
	}

	.cookies-advise p{
		max-width:100%;
	}

}

@media (max-width: 320px){

	.nav-menu ul{
		padding-top: 160px;
	}

	.nav-menu a{
		font-size: 34px;
    	line-height: 34px;
	}
}

@media only screen
  and (max-width: 320px)
  and (orientation: portrait) {
  	.nav-menu li a{
  		font-size: 28px;
		line-height: 28px;
  	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){
    .footer-container {
        background: url(../img/footer@x2.jpg)no-repeat bottom center;
        -webkit-background-size: 1600px 600px;
		-moz-background-size: 1600px 600px;
		-o-background-size: 1600px 600px;
		background-size: 1600px 600px;
    }
}




#loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 9998;
  text-align: center;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  display: block;
  width: 50%;
  left: 50%;
  margin-left: -100px;
  height: 100%;
  overflow: hidden;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #4dc6ff;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 100%;
  width: 200px;
  height: 4px;
  z-index: 9999;
}
/*  Postal code popup */
.postal-popup {
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease all;
}
.postal-popup.is-visible {
  visibility: visible;
  opacity: 1;
  transition: 200ms ease all;
}
.postal-popup__content {
  background: none;
  background-color: white;
  text-align: center;
  padding: 30px 40px 0;
  margin-bottom: 15px;
}
.postal-popup__image {
  width: 80px;
  margin-bottom: 10px;
}
.postal-popup__title {
  font-family: 'Asap-Bold',Helvetica,sans-serif;
  font-size: 18px;
  margin: 0 0 5px;
}
.postal-popup__text {
  font-size: 14px;
  color:#848484;
  line-height: 1.3;
  margin-bottom: 15px;
}
.postal-popup__text.is-hidden {
  display: none;
}
.postal-popup__form {
  margin: 0 -40px;
  overflow: hidden;
}
.postal-popup__input {
  background-color: #e7e7e7;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 290px;
  left: 0;
  right: 0;
  margin: 0 auto 35px;
  border-radius: 100px;
  text-align: center;
  outline: none;
  color: #6f6f6f;
  transition: 200ms ease all;
}
.postal-popup__input::-webkit-input-placeholder {
  color: #6f6f6f !important;
}
.postal-popup__input:-ms-input-placeholder {
  color: #6f6f6f !important;
}
.postal-popup__input::-ms-input-placeholder {
  color: #6f6f6f !important;
}
.postal-popup__input::placeholder {
  color: #6f6f6f !important;
}
.postal-popup__input.has-errors {
  background-color: #ff1f4e;
  color:#fff;
  transition: 200ms ease all;
}
.postal-popup__input.has-errors::-webkit-input-placeholder {
  color: #fff !important;
}
.postal-popup__input.has-errors:-ms-input-placeholder {
  color: #fff !important;
}
.postal-popup__input.has-errors::-ms-input-placeholder {
  color: #fff !important;
}
.postal-popup__input.has-errors::placeholder {
  color: #fff !important;
}
.postal-popup__button {
  width: 50%;
  -webkit-appearance: none;
  float: left;
  border: none;
  border-top: 1px solid #eaeaea;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0 0 0 10px;
  padding: 11px 0 10px;
  margin-top: 1px;
  background-color: #fff;
  color: #858585;
  transition: 200ms ease all;
}
.postal-popup__button:hover {
  background-color: #4dc6ff;
  color: #fff;
  transition: 200ms ease all;
}
.postal-popup__button--submit {
  border-left: 1px solid #eaeaea;
  border-radius: 0 0 10px 0;
  font-weight: 700;
}
.postal-popup__footer {
  font-size: 14px;
  text-align: center;
}
.postal-popup__footer span {
  color:#c4c4c4;
}
.postal-popup__footer a {
  color:#c4c4c4;
  margin-left: 30px;
  text-decoration: underline;
}

.image-popup {
	opacity: 0;
	visibility: hidden;
	transition: 200ms ease all;

}

.image-popup.is-visible {
	opacity: 1;
	visibility: visible;
	transition: 200ms ease all;
}

.image-popup__inner {
	width: 655px;
}
.image-popup .content-popup {
	background: none;
}
.image-popup__link {
	display: block;
}
.image-popup__link:hover {
	opacity: 1;
}
.image-popup__image {
	max-width: 100%;
}
.image-popup__image--mobile {
	display: none;
}
.image-popup__image--desktop {
	display: inline-block;
}
@media (max-width: 991px) {
	.image-popup__inner {
		width: 375px;
	}
	.image-popup__image--mobile {
		width: 305px;
		display: inline-block;
	}
	.image-popup__image--desktop {
		display: none;
	}
}
