.product-container.outer{
	padding-bottom: 0;
}

.half-back-product{
	background: url('../img/bg-patron.jpg')no-repeat top center;
	background-color: #4dc6ff;
	width: 100%;
	height: 60%;
}

.product-container .container{
	width: 850px;
}

.product-container .row{
	background: #fff;
	height: 440px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
	-webkit-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 20px 35px 1px rgba(0, 0, 0, 0.2);
}

.product-container .flexslider{
	width: 375px;
	position: relative;
	top: -80px;
	background: none;
	border: none;
	margin: 0;
	float: left;
}

.product-graphics{
	position: absolute;
	z-index: 9;
	width: 170px;
	right: 0px;
	top: 240px;
	color: #005da7;
	text-transform: uppercase;
}

.product-graphics img{
	max-width: 100%;
}

.product-graphic-packaging{
	width: 20px;
	height: 20px;
	font-family: 'Iconfontvella';
	font-size: 24px;
	position: absolute;
	z-index: 99999;
	top: 23px;
}

.product-graphic-packaging.bottle{
	left: 78px;
}

.product-graphic-packaging.bottle:before{
	content: "Q";
}

.product-graphic-packaging.pack{
	left: 70px;
}

.product-graphic-packaging.pack:before{
	content: "R";
}

.product-graphic-packaging.box{
	left: 75px;
}

.product-graphic-packaging.box:before{
	content: "S";
}

.product-graphic-packaging.can{
	left: 75px;
}

.product-graphic-packaging.can:before{
	content: "7";
}

.product-graphic-weight{
	font-family: 'Asap-Bold';
	position: absolute;
	top: 70px;
	right: 35px;
	text-align: center;
}

.product-graphic-weight-number{
	font-size: 16px;
	line-height: 16px;
}

.product-graphic-weight-label{
	font-size: 10px;
	line-height: 10px;
}

.product-graphic-qty{
	font-family: 'Asap-Bold';
	position: absolute;
	top: 95px;
	right: 75px;
	text-align: center;
}

.product-graphic-qty-number{
	font-size: 36px;
	line-height: 36px;
}

.product-graphic-qty-label{
	font-size: 10px;
	line-height: 10px;
}

.product-container .flex-control-nav{
	width: 69px;
	bottom: auto;
	top: 50%;
	left: -24px;
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}

.product-container .flex-control-paging li a{
	background: #fff;
	border: 1px solid #c6c6c6;
	box-shadow: none;
}

.product-container .flex-control-paging li a.flex-active, .product-container .flex-control-paging li a:hover{
	background: #c6c6c6;
}

.product-data{
	color: #535353;
	width: 475px;
	float: left;
	height: 100%;
	padding: 55px 65px 0 25px;
}

.product-origin{
	font-family: 'Asap-Italic';
	font-size: 15px;
	line-height: 10px;
	margin: 0;
	padding-bottom: 10px;
}

.product-name{
	font-family: 'Asap-Bold';
	font-size: 18px;
	line-height: 30px;
	margin: 0;
}

.product-packaging{
	font-family: 'Asap-Bold';
	font-size: 28px;
	line-height: 30px;
	margin: 0;
	padding-bottom: 20px;
}

.product-description{
	padding-bottom: 15px;
	font-size: 15px;
	line-height: 22px;
	max-height: 125px;
	overflow: hidden;
}

.product-features a{
	display: inline-block;
	font-family: 'Asap-Bold';
	text-transform: uppercase;
	font-size: 11px;
	line-height: 11px;
	color: #c4c4c4;
	padding-right: 25px;
	letter-spacing: 0.5px;
}

.product-feature-data-nutritional + .popover .arrow{
	left: 21px !important;
}

.product-feature-data-eco + .popover .arrow{
	left: 39px !important;
}

.popover-product-feature:before{
	font-family: 'Iconfontvella';
	font-size: 20px;
	position: relative;
	top: 3px;
	padding-right: 5px;
}

.product-feature-data-nutritional:before{
	content: "P";
	color: #4dc6ff;
}

.product-feature-data-eco:before{
	content: "O";
	color: #2be4b6;
}

.product-container .row .popover{
	background: #2f2f2f;
	max-width: 230px;
}

.product-container .row .popover-content{
	background: #2f2f2f;
}

.product-container .row .popover.top > .arrow, .product-container .row .popover.top > .arrow:after{
	border-top-color: #2f2f2f;
}

.container-buy-product{
	position: absolute;
	bottom: 40px;
}

.btn-add-to-cart-product{
	width: 185px;
}

.btn-add-to-cart-product:hover{
	padding-top: 16px;
	padding-bottom: 16px;
}

.btn-add-to-cart-product .glyphicon-minus{
	padding-right: 15px;
	padding-left: 5px;
	font-size: 10px;
}

.btn-add-to-cart-product .glyphicon-plus{
	padding-left: 15px;
	padding-right: 5px;
	font-size: 10px;
}

.product-data .sm-tax-advise{
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	font-family: 'Asap-Italic';
	position: relative;
	top: 10px;
	color: #c2c2c2;
	padding-left: 20px;
}

.product-data .sm-tax-advise strong{
	font-size: 13px;
	font-family: 'Asap-BoldItalic';
}


/* Responsive */
@media (max-width: 1010px){
	.product-container .product-data{
		width: 455px;
		padding: 55px 5px 0 0px;
	}
}

@media (max-width: 992px){
	.product-container .flexslider{
		width: 40%;
		top: -20px;
	}

	.product-container .product-data{
		width: 60%;
		padding-right: 30px;
    	padding-left: 10px;
	}
}

@media (max-width: 768px){
	.product-container{
		background: #4dc6ff;
		position: relative;
	}

	.product-container .container{
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: calc(100% - 100px);
	}

	.half-back-product{
		background: none !important;
		padding-bottom: 100px !important;
		background: none;
		background-color: #4dc6ff;
	}

	.product-container .row{
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		margin-top: 160px;
		top: 0;
		height: auto;
	}

	.product-container .flexslider{
		float: none;
		margin: 0px auto;
		width: 325px;
	}

	.product-data{
		float: none;
		padding: 0px 50px 70px !important;
		text-align: center;
		width: 100% !important;
	}

	.product-description{
		max-height: none;
		max-width: 80%;
		margin:0 auto;
	}

	.product-features{
		width: 185px;
    	margin: 0 auto 20px;
	}

	.product-features a{
		padding-right: 0px;
		padding-bottom: 10px;
		width: 100%;
		text-align: left;
	}

	.product-feature-data-nutritional + .popover .arrow, .product-feature-data-eco + .popover .arrow{
		left: 32px !important;
	}

	.container-buy-product{
		position: relative;
		bottom: auto;
		margin-bottom: 20px;
	}

	.product-data .sm-tax-advise{
		display: block;
		padding-left: 0;
		top: -45px;
	}

	.btn-add-to-cart-product{
		position: relative;
		top: 50px;
	}

	.btn-step a, .btn-viewAll.btn-left a:after{
		color: #fff;
	}

	.btn-viewAll:after{
		background: #fff;
	}
}

@media (max-width: 414px){
	.product-container .container{
		width: -webkit-calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		width: calc(100% - 50px);
	}

	.product-container .flexslider{
		width: 80%;
		max-width: 215px;
		top: -40px;
	}

	.product-data{
		padding: 0px 25px 20px !important;
		top: -30px;
		position: relative;
	}

	.product-origin{
		font-size: 12px;
    	line-height: 12px; 
    	padding-bottom: 5px;
	}
	
	.product-name{
		font-size: 14px;
    	line-height: 16px;
	}

	.product-packaging{
		font-size: 20px;
    	line-height: 24px;
	}

	.product-description{
		max-height: none;
		max-width: 100%;
	}

	.product-graphics{
		top: 150px;
    	right: -40px;
	}
}

@media (max-width: 320px){
	.product-container .flexslider{
		top:;
	}

	.product-data{
		padding: 0px 15px 10px !important;
	}

	.product-description{
		font-size: 12px;
		line-height: 18px;
	}
}

@media (min-width: 768px){
	.product-container .container{
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: calc(100% - 100px);
	}
}

@media (min-width: 992px){
	.product-container .container{
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: calc(100% - 100px);
		max-width: 850px;
	}
}

@media (min-width: 1200px){
	.product-container .container{
		width: 850px;
	}
}


@media (min-width: 1600px){
	.half-back-product{
		background: url('../img/bg-patron@2x.jpg')no-repeat top center;
		background-color: #4dc6ff;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx){ 
    .half-back-product{
		background: url('../img/bg-patron@2x.jpg')no-repeat top center;
		background-color: #4dc6ff;
	}
}