html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

@font-face {
    font-family: Futuralt;
    src: url(../fonts/FuturaLT-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* FONTS */
@font-face {
  font-family: 'Asap-Bold';
  src: url('../fonts/Asap-Bold.eot');
  src: url('../fonts/Asap-Bold.woff2') format('woff2'),
       url('../fonts/Asap-Bold.woff') format('woff'),
       url('../fonts/Asap-Bold.ttf') format('truetype'),
       url('../fonts/Asap-Bold.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-BoldItalic';
  src: url('../fonts/Asap-BoldItalic.eot');
  src: url('../fonts/Asap-BoldItalic.woff2') format('woff2'),
       url('../fonts/Asap-BoldItalic.woff') format('woff'),
       url('../fonts/Asap-BoldItalic.ttf') format('truetype'),
       url('../fonts/Asap-BoldItalic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Italic';
  src: url('../fonts/Asap-Italic.eot');
  src: url('../fonts/Asap-Italic.woff2') format('woff2'),
       url('../fonts/Asap-Italic.woff') format('woff'),
       url('../fonts/Asap-Italic.ttf') format('truetype'),
       url('../fonts/Asap-Italic.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Regular';
  src: url('../fonts/Asap-Regular.eot');
  src: url('../fonts/Asap-Regular.woff2') format('woff2'),
       url('../fonts/Asap-Regular.woff') format('woff'),
       url('../fonts/Asap-Regular.ttf') format('truetype'),
       url('../fonts/Asap-Regular.svg#HKGrotesk-Regular') format('svg'),
       url('../fonts/Asap-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: 'Asap-Regular';
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    background: #eaeaea;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  /*-webkit-font-smoothing: subpixel-antialiased;*/
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size-adjust: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a, a:focus{
    text-decoration: none;
    color: inherit;
}

a:hover:not(.notEfx){
    text-decoration: none;
    opacity: 0.7;
}

button:focus, .btn:focus, a:focus {outline:0 !important;}

b, strong{
    font-weight: 500;
}

p{
    margin: 0 0 10px 0;
}

p strong{
    font-family: 'Asap-Bold';
}

.brand{
    position: fixed;
    display: block;
    top: 50px;
    left: 50px;
    width: 61px;
    height: 48px;
    z-index: 9;
    -webkit-transition: all 1000ms ease-out;
    -moz-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.grey .brand, .white .brand{    
    width: 45px;
    height: 36px;
    -webkit-transition: all 1000ms ease-out;
    -moz-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
}

.logotipo{
   fill: #393939;
   -webkit-transition: all 1000ms ease-out;
    -moz-transition: all 1000ms ease-out;
    -o-transition: all 1000ms ease-out;
    transition: all 1000ms ease-out;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.grey .logotipo{
    fill: #bdbdbd;
}

.white .logotipo{
    fill: #fff;
}

.white{
    color: #fff !important;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 25px;
  height: 16px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px;
    height: 3px;
    background-color: #393939;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .grey .hamburger-inner, .grey .hamburger-inner:before, .grey .hamburger-inner:after, .white .hamburger-inner, .white .hamburger-inner:before, .white .hamburger-inner:after{
    background-color: #bdbdbd; 
  }
  /*.white .hamburger-inner, .white .hamburger-inner::before, .white .hamburger-inner::after{
    background-color: #fff;
  }*/
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }


.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.15s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 6px;
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 12px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.32s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/* custom hamburger */

.hamburger{
     position: fixed;
     right: 58px;
     top: 58px;
     width: 25px;
    height: 16px;
    z-index: 10;
}

.grey .hamburger:before{
  content: 'MENÚ';
  font-family: 'Asap-Bold';
  font-size: 12px;
  color: #bdbdbd;
  position: absolute;
  left: -55px;
  top: -1px;
  letter-spacing: 2px;
  -webkit-transition: visibility 600ms ease-out;
  -moz-transition: visibility 600ms ease-out;
  -o-transition: visibility 600ms ease-out;
  transition: visibility 600ms ease-out;
}

.grey .hamburger.is-active:before{
  visibility: hidden;
}

#main, .ajax, .content {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    overflow: hidden;
    -webkit-transition: transform .3s .4s ease, opacity .5s .4s ease;
    transition: transform .3s .4s ease, opacity .5s .4s ease;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

.content.menu-visible {
    transition: transform .3s .0s ease, opacity .5s .0s ease;
    -webkit-transition: transform .3s .0s ease, opacity .5s .0s ease;
    -webkit-transform: translate3d(0px,100px,0);
    -ms-transform: translate3d(0px,100px,0);
    transform: translate3d(0px,100px,0);
    opacity: 0;
}

/* Menu */

.main-menu-container{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    overflow: hidden;
    z-index:9;
    -webkit-transition: all 1.1s cubic-bezier(.28,0,.07,1);
    transition: all 1.1s cubic-bezier(.28,0,.07,1);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0px,-100px,0);
    -ms-transform: translate3d(0px,-100px,0);
    transform: translate3d(0px,-100px,0);
}

.main-menu-container.show{
    -webkit-filter: blur(0px);
    filter: blur(0px);
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.nav-main-menu-container{
    width: 94%;
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
    z-index: 2;
    -webkit-transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
    transform: translate(-50%,-0%);
    -webkit-transition: transform .4s .8s ease, opacity .4s .8s ease;
    transition: transform .4s .8s ease, opacity .4s .8s ease;
    opacity: 0;
}

.show .nav-main-menu-container {
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 1;
}

.nav-main-menu-container li{
    display: inline-block;
    margin: 5px 25px;
    color: #3b3b3b;
    font-family: Futuralt;
}

.nav-main-menu-container li{
    text-transform: uppercase;
    font-size: 17px;
    -webkit-transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    -moz-transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    -o-transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    transition: opacity 500ms ease-out, transform 300ms ease-out, margin 300ms ease-out, font-size 100ms ease-out;
    cursor: pointer;
}

.nav-main-menu-container li:not(.high){
    opacity: 0.3;
}

.nav-main-menu-container li.high{
    transform-origin: center center;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    margin: 5px 15px;
    padding: 5px 15px;
    background: #3b3b3b;
    color: #fff;
    font-size: 18px;
}

.nav-menu-items-container{
    width: 100%;
    top: -50%;
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -o-transform: translateY(60%);
    transform: translateY(60%);
}

.nav-menu-items-container .swiper-slide{
    display: inline-block;
    position: relative;
    margin: 0 25px;
    width: 506px;
    -webkit-transition: transform 600ms ease-out, margin 300ms ease-out;
    -moz-transition: transform 600ms ease-out, margin 300ms ease-out;
    -o-transition: transform 600ms ease-out, margin 300ms ease-out;
    transition: transform 600ms ease-out, margin 300ms ease-out;
}

.nav-menu-items-container .swiper-slide:first-child{
    width: 20px;
}

.nav-menu-items-container .swiper-slide:not(.swiper-slide-active){
    opacity: 0.5;
}

.nav-menu-items-container .swiper-slide-active{
    transform-origin: center center;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    margin: 0 125px !important;
    z-index: 1;
    /*opacity: 1;*/
}

.nav-menu-items-container .swiper-slide-active.on{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
}

.back-composition{
    position: relative;
    width: 506px;
    height: auto;
}

.tiny-composition{
    position: absolute;
    right: 12%;
    top: 50%;
}

.tiny-composition:first-child{
    /*width: 180px;*/
    width: 126px;
}

.tiny-composition:nth-child(2){
    /*width: 180px;*/
    width: 126px;
}

.tiny-composition:nth-child(3){
    /*width: 258px;*/
    width: 180px;
}

.tiny-composition:nth-child(4){
    /*width: 185px;*/
    width: 129px;
}

.tiny-composition:nth-child(5){
    /*width: 215px;*/
    width: 150px;
}

.tiny-composition:last-child{
    /*width: 258px;*/
    width: 180px;
}

.landscape-item{
    top: 70%;
}


/* Home */

.swiper-home{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-home_wrapper{
    width: 100%;
    height: 100%;
}

.swiper-home_slide{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-home_slide h1{
    font-family: Futuralt;
    font-size: 39px;
    line-height: 41px;
    text-transform: uppercase;
    color: #fff;
    max-width: 600px;
}

.swiper-home_slide:first-child, .swiper-home_slide:nth-child(2){
   background-image:url('../img/home-bg-01.jpg');
}

.image {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer-mask{
    width: 100vw;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #eaeaea;
    -webkit-transition: all .8s cubic-bezier(.28,0,.07,1);
    -moz-transition: all .8s cubic-bezier(.28,0,.07,1);
    -o-transition: all .8s cubic-bezier(.28,0,.07,1);
    transition: all .8s cubic-bezier(.28,0,.07,1);
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.layer-mask.SlideInUp{
    height: 100vh;
}

.icon-scroll{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 20px;
  height: 47px;
  cursor: pointer;
}

.mouse{
  background: url(../img/scroll-1.png)no-repeat;
  -webkit-background-size: 20px 47px;
  -moz-background-size: 20px 47px;
  -o-background-size: 20px 47px;
  background-size: 20px 47px;
}

.scrollover{
  background: url(../img/scroll-2.png)no-repeat;
  -webkit-background-size: 20px 47px;
  -moz-background-size: 20px 47px;
  -o-background-size: 20px 47px;
  background-size: 20px 47px;
  -webkit-animation: scrollmove 3s infinite;
  animation: scrollmove 3s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrollmove {
    0%   {background-position: center 0px;}
    25%  {background-position: center 3px;}
    75%  {background-position: center 0px;}
    100% {background-position: center 0px;}
}

/* Standard syntax */
@keyframes scrollmove {
    0%   {background-position: center 0px;}
    25%  {background-position: center 3px;}
    75%  {background-position: center 0px;}
    100% {background-position: center 0px;}
}


/* Hub */

.container_composition{
    position: relative;
    margin-left: 106px;
    top: 150px;
    width: 704px;
}

.image-mask-wrapper{
    position: relative;
     -webkit-transition: top 400ms cubic-bezier(.28,0,.07,1), .4s, opacity 400s;
    -moz-transition: top 400ms cubic-bezier(.28,0,.07,1), .4s, opacity 400s;
    -o-transition: top 400ms cubic-bezier(.28,0,.07,1), .4s, opacity 400s;
    transition: top 400ms cubic-bezier(.28,0,.07,1), .4s, opacity 400s;
    top: 0px;
}

.covered .image-mask-wrapper{
   top: 100px;
}

.backimage{
    position: relative;
    height: 440px;
    width: auto;
    filter: grayscale(100%);
    opacity: 0.2;
}

/*.nopasanada-hub .backimage{
    background: url("../img/mobile-nopasanada.jpg")no-repeat;
}*/

.cover-mask{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 0;
    -webkit-transition: height .6s cubic-bezier(.28,0,.07,1);
    transition: height .6s cubic-bezier(.28,0,.07,1);
     -moz-transition: height .6s cubic-bezier(.28,0,.07,1);
    -o-transition: height .6s cubic-bezier(.28,0,.07,1);
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    background: #eaeaea;
}

.covered .cover-mask{
    height: 100%;
}

.group_composition{
    position: absolute;
    top: 116px;
    right: -165px;
}

.title-mask-wrapper{
    position: relative;
    margin-bottom: 25px;
    height: 58px;
    right: 0;
    opacity: 1;
    -webkit-transition: right 800ms ease-out .5s, opacity 600ms ease-out .2s;
    -moz-transition: right 800ms ease-out .5s, opacity 600ms ease-out .2s;
    -o-transition: right 800ms ease-out .5s, opacity 600ms ease-out .2s;
    transition: right 800ms ease-out .5s, opacity 600ms ease-out .2s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.covered .title-mask-wrapper{
    right: -100px;
    opacity: 0;
}

/*.eresimpulso-hub .covered .title-mask-wrapper{
    right: -50px;
}*/

.title-mask{
    position: absolute;
    right: 0;
    overflow: hidden;
    width: 120%;
    height: 78px;
    -webkit-transition: all 1.2s cubic-bezier(.28,0,.07,1) .2s;
    -moz-transition: all 1.2s cubic-bezier(.28,0,.07,1) .2s;
    -o-transition: all 1.2s cubic-bezier(.28,0,.07,1) .2s;
    transition: all 1.2s cubic-bezier(.28,0,.07,1) .2s;
}

.covered .title-mask{
    width: 0px;
}

.title{
    font-family: Futuralt;
    font-size: 58px;
    line-height: 78px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.pretitle:before{
    content: 'Font Vella presenta:';
    font-family: 'Asap-Italic';
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: -14px;
    left: 0;
    opacity: 1;
    -webkit-transition: all 600ms ease-out .5s;
    -moz-transition: all 600ms ease-out .5s;
    -o-transition: all 600ms ease-out .5s;
    transition: all 600ms ease-out .5s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.covered .pretitle:before{
    opacity: 0;
    left: -100px;
}

.eresimpulso-hub .pretitle:before{
    content: 'Nuestro compromiso con el avance de la mujer';
    padding-left: 60px;
}

.encasa-hub .pretitle:before{
    content: 'FONT VELLA';
    font-family: Futuralt;
    font-size: 38px;
    line-height: 30px;
    position: absolute;
    top: -20px;
    left: 220px;
    width: 240px;
    opacity: 1;
    -webkit-transition: all 600ms ease-out .5s;
    -moz-transition: all 600ms ease-out .5s;
    -o-transition: all 600ms ease-out .5s;
    transition: all 600ms ease-out .5s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.encasa-hub .covered .pretitle:before{
    opacity: 0;
    left: 180px;
}

.middle_composition{
    width: 204px;
    float: left;
    position: relative;
    /*min-height: 200px;*/
}

.middle_composition:first-child{
    padding-right: 38px;
}

.videolink{
    position: absolute;
    right: 0px;
    text-align: right;
    padding-right: 15px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .4s, right 400ms ease-out .2s;
    -moz-transition: all 400ms ease-out .4s, right 400ms ease-out .2s;
    -o-transition: all 400ms ease-out .4s, right 400ms ease-out .2s;
    transition: all 400ms ease-out .4s, right 400ms ease-out .2s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    display: inline-block;
    cursor: pointer;
}

.videolink:before{
    width: 8px;
    height: 9px;
    content: '';
    background: url(../img/play.png)no-repeat center center;
    -webkit-background-size: 8px 9px;
    -moz-background-size: 8px 9px;
    -o-background-size: 8px 9px;
    background-size: 8px 9px;
    margin-right: 8px;
    padding-left: 8px;
}

.videolink.animation{
    right: 30px;
}

.covered .videolink{
    opacity:0;
    right: 50px;
}

.line_composition{
    position: relative;
}

.line_composition:before{
    content: '';
    width: 73px;
    height: 1px;
    background: #515151;
    display: inline-block;
    top: -5px;
    position: relative;
    -webkit-transition: all 400ms ease-out .6s, width 400ms ease-out .3s;
    -moz-transition: all 400ms ease-out .6s, width 400ms ease-out .3s;
    -o-transition: all 400ms ease-out .6s, width 400ms ease-out .3s;
    transition: all 400ms ease-out .6s, width 400ms ease-out .3s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.line_composition.animation:before{
    width: 33px;
}

.covered .line_composition:before{
    width: 0px;
}

.eresimpulso-hub .line_composition{
    position: absolute;
    left: -45px;
}

.nopasanada-hub .line_composition{
    left: 36px;
}

.muevete-hub .line_composition, .kids-hub .line_composition, .encasa-hub .line_composition{
    left: 131px;
}

.muevete-hub .slogan{
    position: relative;
    /*overflow: hidden;*/
}

.muevete-hub .slogan p{
    font-family: 'Asap-Italic';
    font-size: 14px;
    line-height: 17px;
    min-height: 44px;
    position: relative;
    text-align: right;
    left: 40px;
    max-width: 163px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .6s;
    -moz-transition: all 400ms ease-out .6s;
    -o-transition: all 400ms ease-out .6s;
    transition: all 400ms ease-out .6s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.covered .slogan p{
    left: 0;
    opacity: 0;
}

.logo-impulso_composition{
    position: relative;
    left: 40px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .3s;
    -moz-transition: all 400ms ease-out .3s;
    -o-transition: all 400ms ease-out .3s;
    transition: all 400ms ease-out .3s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.covered .logo-impulso_composition{
    left: 0;
    opacity: 0;
}

.logo-impulso-mask{
    position: absolute;
    right: 0;
}

.logo-impulso{
    width: 167px;
    height: 61px;
    background: url('../img/logo-eres-impulso.png')no-repeat;
    -webkit-background-size: 167px 61px;
    -moz-background-size: 167px 61px;
    -o-background-size: 167px 61px;
    background-size: 167px 61px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .3s;
    -moz-transition: all 400ms ease-out .3s;
    -o-transition: all 400ms ease-out .3s;
    transition: all 400ms ease-out .3s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    position: absolute;
    left: 0;
}

.covered .logo-impulso{
    width: 0;
    opacity: 0;
}

.iconos-encasa{
    position: relative;
    width: 151px;
    height: 29px;
    background: url('../img/iconos-en-casa.png')no-repeat;
    -webkit-background-size: 151px 29px;
    -moz-background-size: 151px 29px;
    -o-background-size: 151px 29px;
    background-size: 151px 29px;
    left: 53px;
    margin-top: 15px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .6s;
    -moz-transition: all 400ms ease-out .6s;
    -o-transition: all 400ms ease-out .6s;
    transition: all 400ms ease-out .6s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.covered .iconos-encasa{
    width: 0;
    opacity: 0;
    left:0;
}

.thumbnail{
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
}

.thumbnail-mask-wrapper{
    position: relative;
    right: 0px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .3s;
    -moz-transition: all 400ms ease-out .3s;
    -o-transition: all 400ms ease-out .3s;
    transition: all 400ms ease-out .3s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    clear: both;
    min-height: 260px;
}

.covered .thumbnail-mask-wrapper{
    right: -60px;
    opacity: 0;
}

.thumbnail-mask{
    position: absolute;
    width: 100%;
    right: 0;
    min-height: 260px;
    -webkit-transition: width 1.1s cubic-bezier(.28,0,.07,1) .3s;
    -moz-transition: width 1.1s cubic-bezier(.28,0,.07,1) .3s;
    -o-transition: width 1.1s cubic-bezier(.28,0,.07,1) .3s;
    transition: width 1.1s cubic-bezier(.28,0,.07,1) .3s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden;
}

.covered .thumbnail-mask{
    width: 0;
}

.content_composition{
    margin-left: 38px;
    height: 250px;
    opacity: 1;
    -webkit-transition: all 700ms ease-out .3s;
    -moz-transition: all 700ms ease-out .3s;
    -o-transition: all 700ms ease-out .3s;
    transition: all 700ms ease-out .3s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden; 
}

.muevete-hub .content_composition{
  height: 300px;
}

.content_composition p{
    font-size: 14px;
    line-height: 24px;
    color: #515151;
}

.covered .content_composition{
    height: 0;
    opacity: 0;
}

.btn{
    position: relative;
    left: 0px;
    font-family: 'Asap-Bold';
    text-transform: uppercase;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 3px;
    opacity:1;
    -webkit-transition: all 500ms ease-out .8s;
    -moz-transition: all 500ms ease-out .8s;
    -o-transition: all 500ms ease-out .8s;
    transition: all 500ms ease-out .8s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.covered .btn{
    left: 80px;
    opacity:0;
}

.btn:after{
    content: '';
    display: block;
    width: 77px;
    height: 3px;
    background: #45cdff;
    position: relative;
    top: 3px;
    right: -60px;
    -webkit-transition: all 400ms ease-out .9s, width 400ms ease-out 0s;
    -moz-transition: all 400ms ease-out .9s, width 400ms ease-out 0s;
    -o-transition: all 400ms ease-out .9s, width 400ms ease-out 0s;
    transition: all 400ms ease-out .9s, width 400ms ease-out 0s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.btn:hover:after{
    width: 50px; 
}

.gama-hub .btn:after{
    right: -100px;
}

.covered .btn:after{
    width: 0;
    opacity: 0;
}

.gama-hub .btn:before{
    position: relative;
    left: 0;
    top: 10px;
    width: 42px;
    height: 34px;
    padding-right: 16px;
    content: '';
    background: url('../img/icono-nuestra-gama.jpg')no-repeat;
    -webkit-background-size: 42px 34px;
    -moz-background-size: 42px 34px;
    -o-background-size: 42px 34px;
    background-size: 42px 34px;
    display: inline-block;
}

.swiper-hub{
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
}

.swiper-hub_wrapper{
    width: 100%;
    height: 100%;
}

.swiper-hub_slide{
    width: 100%;
    height: 100%;
}

.swiper-hub_btn{
    cursor: pointer;
    font-weight: bold;
    color: #bdbdbd;
    height: 84px;
    width: 35px;
}

.panel-btn-hub_nav{
    position: absolute;
    background: #bdbdbd;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out
}

.swiper-hub_button-next{
    position: absolute;
    top: 50%;
    height: 84px;
    margin-top: -42px;
    z-index: 8;
    right: 0;
}

.swiper-hub_button-next .panel-btn-hub_nav{
    right: -28px;
}

.swiper-hub_button-prev{
    position: absolute;
    top: 50%;
    height: 84px;
    margin-top: -42px;
    z-index: 8;
    left: 0;
}

.swiper-hub_button-prev .panel-btn-hub_nav{
    left: -28px;
}

.nav-hub_btn{
    width: 9px;
    height: 14px;
    fill: #bdbdbd;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.nav-hub_btn path{
    stroke: #bdbdbd;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.swiper-hub_button-prev .nav-hub_btn{
    right: 0;
}

.swiper-hub_button-prev:hover .nav-hub_btn{
    left: 50%;
    margin-left: -5px;
}

.swiper-hub_button-prev:hover .nav-hub_btn path{
    stroke: #fff;
}

.swiper-hub_button-prev:hover .panel-btn-hub_nav{
    left: 0;
}

.swiper-hub_button-next .nav-hub_btn{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: absolute;
    left: 0;
}

.swiper-hub_button-next:hover .nav-hub_btn{
    left: 50%;
    margin-left: -5px;
}

.swiper-hub_button-next:hover .nav-hub_btn path{
    stroke: #fff;
}

.swiper-hub_button-next:hover .panel-btn-hub_nav{
    right: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    position: absolute;
    width: auto;
    right: 65px;
    bottom: 60px;
    left: auto;
    z-index: 8;
}

.swiper-pagination-bullet{
    font-family: Futuralt;
    font-size: 13px;
    color: #bdbdbd;
    width: auto;
    height: 12px;
    border-radius: 0;
    background: transparent;
    opacity: .6;
    cursor: pointer;
}

.swiper-pagination-bullet:hover{
    opacity: 1;
}

.swiper-pagination-bullet:after{
    position: relative;
    content: '';
    width: 0;
    height: 2px;
    bottom: 3px;
    display: inline-block;
    background: #bdbdbd;
    margin-left: 5px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.swiper-pagination-bullet-active{
    background: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active:after{
    width: 35px;
    -webkit-transition: width 200ms ease-out;
    -moz-transition: width 200ms ease-out;
    -o-transition: width 200ms ease-out;
    transition: width 200ms ease-out;
}

.swiper-pagination-bullet-active.tiny:after{
    width: 15px;
}

.controls-hub{
  opacity: 1;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

.controls-hub.out{
  opacity: 0;
}


/* Fixed Measures HUB */
.nopasanada-hub .title-mask-wrapper{
    right: -70px;
}

.nopasanada-hub .thumbnail-mask{
    width: 251px;
    top: 30px;
}

.nopasanada-hub .thumbnail{
    min-width: 251px;
}

.nopasanada-hub .covered .thumbnail-mask{
    width: 0;
}

.eresimpulso-hub .thumbnail-mask{
    width: 232px;
    top: 70px;
}

.eresimpulso-hub .thumbnail{
    min-width: 232px;
}

.eresimpulso-hub .covered .thumbnail-mask{
    width: 0;
}

.muevete-hub .title-mask-wrapper{
    right: 60px;
}

.muevete-hub .thumbnail-mask{
    width: 316px;
    min-height: 211px;
    top: 20px;
}

.muevete-hub .thumbnail{
    min-width: 316px;
}

.muevete-hub .covered .thumbnail-mask{
    width: 0;
}

.kids-hub .title-mask-wrapper{
    right: 145px;
}

.kids-hub .thumbnail-mask{
    width: 238px;
    min-height: 317px;
    top: 10px;
}

.kids-hub .thumbnail{
    min-width: 238px;
}

.kids-hub .covered .thumbnail-mask{
    width: 0;
}

.gama-hub .title-mask-wrapper{
    right: -37px;
}

.gama-hub .thumbnail-mask{
    width: 275px;
    min-height: 201px;
    top: 5px;
}

.gama-hub .thumbnail{
    min-width: 275px;
}

.gama-hub .covered .thumbnail-mask{
    width: 0;
}

.encasa-hub .title-mask-wrapper{
    right: 100px;
}

.encasa-hub .thumbnail-mask{
    width: 351px;
    min-height: 220px;
    top: 16px;
}

.encasa-hub .thumbnail{
    min-width: 351px;
}

.encasa-hub .covered .thumbnail-mask{
    width: 0;
}

/* landing */

.container-mask-land, .image-mask-wrapper{
    width: 100%;
    height: 100%;
}

.image-mask-layer{
    position: relative;
    width: 702px;
    height: 440px;
    top: 150px;
    margin-left: 106px;
    filter: grayscale(100%);
    opacity: 0.2;
    transition: all 1.6s ease;
}

.nopasanada-land .image-mask-layer{
    background: url('../img/no-pasanada.jpg')no-repeat;
     background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.eresimpulso-land .image-mask-layer{
    background: url('../img/eres-impulso.jpg')no-repeat;
     background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.muevete-land .image-mask-layer{
    background: url('../img/muevete.jpg')no-repeat;
     background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kids-land .image-mask-layer{
    background: url('../img/kids.jpg')no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nuestra-gama-land .image-mask-layer{
    background: url('../img/nuestra-gama.jpg')no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-mask-layer.scale{
    height: 100%;
    top: 0;
    width: 100%;
    margin: 0;
    filter: grayscale(0%);
    opacity: 1;
}

.ipad-land, .mobil-land{
    display: none;
}

.container-text{
    position: fixed;
    top: 25px;
    right: 25px;
    width: 0;
    opacity: 0;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    background: #fff;
    overflow: hidden;
    -webkit-transition: all 800ms cubic-bezier(.28,0,.07,1) .3s;
    -moz-transition: all 800ms cubic-bezier(.28,0,.07,1) .3s;
    -o-transition: all 800ms cubic-bezier(.28,0,.07,1) .3s;
    transition: all 800ms cubic-bezier(.28,0,.07,1) .3s;
}

.container-text.showed{
    width: 50%;
    opacity: 1;
}

.inner-block-section{
    position: relative;
    bottom: 0;
    width: 490px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transition: all 800ms cubic-bezier(.28,0,.07,1);
    -moz-transition: all 800ms cubic-bezier(.28,0,.07,1);
    -o-transition: all 800ms cubic-bezier(.28,0,.07,1);
    transition: all 800ms cubic-bezier(.28,0,.07,1);
}

.nuestra-gama-land + .container-text .inner-block-section{
    width: 460px;
}

.inner-block-section h2{
    font-family: Futuralt;
    font-size: 35px;
    line-height: 38px;
    color: #3b3b3b;
    text-transform: uppercase;
    margin: 0;
    -webkit-transition: all 600ms ease-out .8s;
    -moz-transition: all 600ms ease-out .8s;
    -o-transition: all 600ms ease-out .8s;
    transition: all 600ms ease-out .8s;
}

.inner-block-section h1{
    font-family: Futuralt;
    font-size: 45px;
    line-height: 48px;
    color: #3b3b3b;
    text-transform: uppercase;
    margin: 0;
    -webkit-transition: all 600ms ease-out .8s;
    -moz-transition: all 600ms ease-out .8s;
    -o-transition: all 600ms ease-out .8s;
    transition: all 600ms ease-out .8s;
}

.eresimpulso-land + .container-text .inner-block-section h1, .kids-land + .container-text .inner-block-section h1{
    font-size: 58px;
    line-height: 58px;
}

.muevete-land + .container-text .inner-block-section h2{
    font-size: 28px;
}

.muevete-land + .container-text .inner-block-section h1{
    text-align: right;
    font-size: 30px;
    line-height: 30px;
    padding-right: 40px;
}

.muevete-land + .container-text .inner-block-section h1:before{
    content: '';
    width: 190px;
    height: 36px;
    background: url('../img/logo-muevete-magenta.png');
    -webkit-background-size: 190px 36px;
    -moz-background-size: 190px 36px;
    -o-background-size: 190px 36px;
    background-size: 190px 36px;
    display: inline-block;
    position: relative;
    left: -7px;
}

.nuestra-gama + .container-text .inner-block-section h1{
    font-size: 116px;
    line-height: 116px; 
}

.inner-block-section p{
    position: relative;
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

.cover{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cover p{
    padding: 70px 0;
    margin-bottom: 0;
    -webkit-transition: all 400ms ease-out 1s;
    -moz-transition: all 400ms ease-out 1s;
    -o-transition: all 400ms ease-out 1s;
    transition: all 400ms ease-out 1s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.cover p:before{
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background: #45cdff;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    top: 35px;
}

.arrow-down{
    width: 1px;
    height: 37px;
    position: absolute;
    display: block;
    background: #a9a9a9;
    left: 50%;
    margin-left: -1px;
    cursor: pointer;
    -webkit-transition: height 400ms ease-out 1.2s, margin-top 300ms ease-out 0s;
    -moz-transition: height 400ms ease-out 1.2s, margin-top 300ms ease-out 0s;
    -o-transition: height 400ms ease-out 1.2s, margin-top 300ms ease-out 0s;
    transition: height 400ms ease-out 1.2s, margin-top 300ms ease-out 0s;
}

.arrow-down:hover, .arrow-down.animation{
    margin-top: 15px;
}

.arrow-down:before{
    width: 13px;
    height: 7px;
    content: '';
    background: url(../img/arrow-down.png)no-repeat;
    -webkit-background-size: 13px 7px;
    -moz-background-size: 13px 7px;
    -o-background-size: 13px 7px;
    background-size: 13px 7px;
    display: block;
    cursor: pointer;
    position: relative;
    top:45px;
    left: 50%;
    margin-left: -7px;
    -webkit-transition: all 400ms ease-out 1.6s;
    -moz-transition: all 400ms ease-out 1.6s;
    -o-transition: all 400ms ease-out 1.6s;
    transition: all 400ms ease-out 1.6s;
}

.start .arrow-down:before{
    opacity: 0;
}

.start .arrow-down{
    height: 0;
}

.block-cover{
    height: 100%;
    max-width: 390px;
    margin: 0 auto;
}

.block-section{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: -webkit-calc(490px + 50px);
    width: -moz-calc(490px + 50px);
    width: calc(490px + 50px);
    padding-right: 50px;
}

.nuestra-gama-land + .container-text .block-section{
    width: -webkit-calc(460px + 50px);
    width: -moz-calc(460px + 50px);
    width: calc(460px + 50px);
}

.content-landing{
    text-align: center;
    color: #707070;
    padding: 80px 0 65px;
    max-width: 390px;
    margin: 0 auto;
}

.content-landing *{
    /*opacity: 0;*/
}

.content-landing.nuestra-gama-content{
    max-width: 460px;
}

.content-landing h3{
    font-family: Futuralt;
    font-size: 39px;
    line-height: 44px;
    color: #3b3b3b;
    margin: 50px 0 25px;
    text-transform: uppercase;
    text-align: left;
}

.col-landing{
    max-width: 390px;
}

/* eres-impulso landing content */
#logo-impulso-blue{
    width: 255px;
    height: auto;
    margin-bottom: 37px;
    max-width: 100%;
}

#reunion-mujeres{
    width: 100%;
    height: auto;
    margin:40px 0;
}

.eres-impulso-content h3{
    margin-top: 100px;
    font-size: 33px;
    line-height: 39px;
}

#fake-space{
    width: 40px;
    display: inline-block;
}

/* muevete landing content */
.muevete-content h2{
    font-size: 33px;
    line-height: 33px;
    font-family: Futuralt;
    color: #3b3b3b;
    text-transform: uppercase;
}

.muevete-content .composition{
    position: relative;
    width: 100%;
    margin:70px 0 60px;
}

#muevete-running{
    position: relative;
    width: 387px;
    height: auto;
    left: 50px;
}

#muevete-running-02{
    position: absolute;
    width: 308px;
    height: auto;
    top: -55px;
    left: -53px;
}

#dots-pattern{
    position: absolute;
    width: 145px;
    height: auto;
    bottom: 40px;
    left: -24px;
}


.muevete-content h4{
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    font-family: 'Asap-Bold';
}

.muevete-content h4 + p, .muevete-content h4 + p + p{
    padding-bottom: 30px;
}

/* kids landing content */
.kids-content h2{
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 25px;
}

.font-vella-kids{
    width: 100%;
    height: auto;
    margin: 30px 0 65px;
}

.catalogo-kids{
    margin-bottom: 80px;
}

.row-kids{
    clear: both;
    overflow: auto;
    margin-bottom: 45px;
}

.row-kids:nth-child(2) .description-kids{
    text-align: right;
}

.bottle-kids{
    width: 20%;
    float: left;
    text-align: center; 
}

#first-btl{
    width: 37px;
    height: auto;
}

#mickey-btl{
    width: 41px;
    height: auto;
}

#disney-btl{
    width: 87px;
    height: auto;
}

.description-kids{
    width: 80%;
    text-align: left;
    float: left;
}

.kids-content h4{
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-family: 'Asap-Bold';
}

.description-kids p{
    font-size: 12px;
    line-height: 20px;
}

.row-kids:last-child .description-kids{
    padding-left: 25px;
}

.last-block-kids{
    margin-bottom: 80px;
}

.last-block-kids p{
    padding-top: 25px;
}

.advise-kids{
    text-align: left;
    width: 490px;
    position: relative;
    left: -50px;
    font-size: 9px !important;
    font-family: 'Asap-Italic';
    line-height: 14px !important;
    color: #b6b6b6 !important;
}


/* nuestra-gama landing content */
.row-gama{
    clear: both;
    overflow: hidden;
}

.bottle{
    width: 33%;
    float: left;
    cursor: pointer;
}

.bottle:hover{
    opacity: 0.6;
}

.bottle img{
    width: 100%;
    height: auto;
}

#line-arrow{
    margin: 0 40px;
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: calc(100% - 80px);
    height: 2px;
    background: #eaeaea;
    clear: both;
    position: relative;
}

#line-arrow:before{
    width: 16px;
    height: 5px;
    content: '';
    display: block;
    background: url('../img/grey-arrow.jpg');
    -webkit-background-size: 16px 5px;
    -moz-background-size: 16px 5px;
    -o-background-size: 16px 5px;
    background-size: 16px 5px;
    position: absolute;
    bottom: 2px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

#line-arrow.left-btl:before{
    left: 8%;
}

#line-arrow.center-btl:before{
    left: 47%;
}

#line-arrow.right-btl:before{
    left: 87%;
}

.panel-info-bottle{
    display: none;
    position: relative;
    text-align: left;
}

.label{
    padding: 35px 50px 45px 50px;
    display: none;
    -webkit-transition: all 400ms ease-out .6s;
    -moz-transition: all 400ms ease-out .6s;
    -o-transition: all 400ms ease-out .6s;
    transition: all 400ms ease-out .6s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.label.active-info{
    display: block;
}

.label h4{
    margin: 0 0 10px;
    font-size: 17px;
}

.label img{
    float: left;
    margin-right: 18px;
    width: 130px;
}

.label a{
    font-family: 'Asap-Bold';
    color: #45cdff;
}

.label > *{
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    opacity: 0;
}

.image-levite{
    margin-bottom: 60px;
}


/* */

.btn-web{
    font-family: Futuralt;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 13px;
    color: #fff;
    padding: 22px 40px;
    background: #27d3eb;
    float: right;
    margin-bottom: 115px;
}

.content-landing-foot{
    clear: both;
    padding-top: 20px;
    border-top: 2px solid #eaeaea;
    text-align: left;
    width: 490px;
    position: relative;
    left: -50px;
}

.content-landing-foot p{
    font-size: 12px;
    color: #b6b6b6;
    display: inline-block;
}

.credits{
    float: right;
}

.credits a{
    font-family: 'Asap-Bold';
}

.footer-landing{
    width: -webkit-calc(50% - 25px);
    width: -moz-calc(50% - 25px);
    width: calc(50% - 25px);
    position: fixed;
    bottom:25px;
    left:0;
    height: 20px;
}

.right-foot{
    font-family: 'Asap-Bold';
    text-transform: uppercase;
    color: #2f2f2f;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    right: 40px;
    bottom: 12px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .4s;
    -moz-transition: all 400ms ease-out .4s;
    -o-transition: all 400ms ease-out .4s;
    transition: all 400ms ease-out .4s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    cursor: pointer;
}

.right-foot:before{
    content:'';
    display: inline-block;
    width: 34px;
    height: 1px;
    margin-right: 14px;
    margin-bottom: 3px;
    background: #2f2f2f;
    -webkit-transition: all 400ms ease-out .8s, max-width 400ms ease-out 0s;
    -moz-transition: all 400ms ease-out .8s, max-width 400ms ease-out 0s;
    -o-transition: all 400ms ease-out .8s, max-width 400ms ease-out 0s;
    transition: all 400ms ease-out .8s, max-width 400ms ease-out 0s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.right-foot:hover:before{
    max-width: 20px;
}

.right-foot.white:before{
    background: #fff;
}

.start .right-foot:before{
    width: 0;
}

.left-foot img{
    position: absolute;
    height: 38px;
    width: auto;
    left:50px;
    bottom: 6px;
    opacity: 1;
    -webkit-transition: all 400ms ease-out .2s;
    -moz-transition: all 400ms ease-out .2s;
    -o-transition: all 400ms ease-out .2s;
    transition: all 400ms ease-out .2s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.start * {
    opacity: 0;
    transform: translateY(40px);
}


/* footer */

.footer-main{
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 9;
}

.social-mobil{
  display: none;
}

.social{
    position: relative;
    bottom: 50px;
    left: 50px;
}

.social:after{
    width: 70px;
    height: 1px;
    background: #393939;
    position: relative;
    display: inline-block;
    content: '';
    top: -6px;
    -webkit-transition: width 400ms ease-out;
    -moz-transition: width 400ms ease-out;
    -o-transition: width 400ms ease-out;
    transition: width 400ms ease-out;
}

.grey .social:after{
    background: #bdbdbd;
}

.social-item{
    display: inline-block;
    height: 15px;
    margin-right: 25px;
}

.social-item:last-child{
    margin-right: 15px;
}

.social.tiny:after{
    width: 40px;
}

.fb{
    width: 8px;
}

.tw{
    width: 16px;
}

.inst{
    width: 16px;
}

.social-svg{
    fill: #393939;
}

.grey .social-svg{
    fill: #bdbdbd;
}

.lang-selector{
  position: fixed;
  right: 58px;
  bottom: 50px;
}

.lang-selector li{
  display: inline-block;
  font-family: 'Asap-Italic';
}

.lang-selector li:first-child:after{
  content: '—';
  display: inline-block;
  padding: 0 5px;
}

.lang-selector li .sel{
  font-family: 'Asap-BoldItalic';
}

.whitespace{
  opacity: 0;
}

