/* Medium devices (desktops, 1100px and down) */
@media (max-width: 1279px) {
	.container_composition, .image-mask-layer{
		margin-left: 5.2%;
		top: 12.75%;
	}
}

@media (max-width: 1160px) and (min-width: 769px) {
  .nav-main-menu-container li{
    font-size: 16px;
    margin: 5px 15px;
  }
}

/* Small devices (desktops, 1023px and down) */
@media (max-width: 1023px) {
  .swiper-hub{
    height: 100%;
  }

  .brand{
  	top: 22px;
	  left: 22px;
  }

  .logotipo, .social-svg{
    fill: #fff;
  }

  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after, .social:after{
   background-color: #fff; 
  }

  .grey .logotipo, .grey .social:after{
    fill: #bdbdbd;
  }

  .grey .hamburger-inner, .grey .hamburger-inner:before, .grey .hamburger-inner:after, .white .hamburger-inner, .white .hamburger-inner:before, .white .hamburger-inner:after{
    background-color: #bdbdbd; 
  }

  .grey .brand, .white .brand, header svg{
  	width: 45px;
  	height: 35px;
  }

  .hamburger{
  	right: 22px;
	  top: 22px;
  }

  .swiper-home_slide h1 {
    font-size: 27px;
    line-height: 29px;
    max-width: 260px;
  }

  /* hub */
  .container_composition{
  	height: -webkit-calc(86% - 80px);
    height: -moz-calc(86% - 80px);
    height: calc(86% - 80px);
    width: 100%;
    top: 11%;
  }

  .image-mask-wrapper{
  	height: 52%;
  	transition: max-width 1.6s ease;
  	overflow: hidden;
	 -webkit-transition: transform 600ms cubic-bezier(.28,0,.07,1) .4s;
    -moz-transition: transform 600ms cubic-bezier(.28,0,.07,1) .4s;
    -o-transition: transform 600ms cubic-bezier(.28,0,.07,1) .4s;
    transition: transform 600ms cubic-bezier(.28,0,.07,1) .4s;
  	transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  .covered .image-mask-wrapper{
  	top: 0;
  	transform: translate3d(0,50px,0);
    -webkit-transform: translate3d(0,50px,0);
  }

  .backimage {
    height: 100%;
    transition: opacity .6s 0s ease;
    background: none !important;
    opacity: 0;
  }

  .landing .backimage {
    transition: opacity .6s 0s ease;
  }

  .desktop-land, .image-mask-layer{
  	display: none;
  }

  .ipad-land{
  	display: block;
  }

  .group_composition{
  	position: relative;
  	top: 80px;
  	right: auto;
  	width: 89.6%;
  }

  .nopasanada-hub .title-mask-wrapper, .eresimpulso-hub .title-mask-wrapper, .muevete-hub .title-mask-wrapper, .kids-hub .title-mask-wrapper, .gama-hub .title-mask-wrapper, .encasa-hub .title-mask-wrapper{
  	right: auto;
  	width:85%;
  }

  .eresimpulso-hub .title-mask-wrapper{
  	width: 70%;
  }

  .muevete-hub .title-mask-wrapper{
  	width: 65%;
  }

  .kids-hub .title-mask-wrapper{
  	width: 60%;
  }

  .title-mask{
  	width: 100%;
  	/*transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);*/
  }

  .pretitle:before{
  	left: 20%;
  }

  .eresimpulso-hub .pretitle:before{
    padding-left: 0;
  }

  .middle_composition{
  	left: 15%;
  	min-height: 200px;
  }

  .eresimpulso-hub .content_composition{
    width: 240px; 
  }

  .muevete-hub .content_composition{
    width: 260px; 
    height: 250px; 
  }

  .thumbnail-mask-wrapper{
  	position: absolute;
  	top: -380px;
    right: -160%;
  }

  .covered .thumbnail-mask-wrapper{
  	right: -165%;
  }

  .nopasanada-hub .thumbnail-mask, .eresimpulso-hub .thumbnail-mask{
  	top: auto;
  }

  .kids-hub .thumbnail-mask{
  	top: -40px;
  }

  .gama-hub .thumbnail-mask{
  	top: 60px;
  }

  .encasa-hub .thumbnail-mask{
  	top: 30px;
  }

   .swiper-hub_button-next .nav-hub_btn, .swiper-hub_button-prev .nav-hub_btn{
   		left: 50%;
		margin-left: -5px;
   }

	.swiper-hub_button-next:hover .nav-hub_btn path, .swiper-hub_button-prev:hover .nav-hub_btn path{
		stroke: #bdbdbd;
	}

	.swiper-hub_button-next:hover .panel-btn-hub_nav{
		right: -28px;
	}

	.swiper-hub_button-prev:hover .panel-btn-hub_nav{
		left: -28px;
	}

	.swiper-hub_slide{
		overflow: hidden;
	}

  /* footer-hub */

  .swiper-container-horizontal > .swiper-pagination-bullets{
  	width: 235px;
  	bottom: 30px;
  	right: 0;
  	left:0;
  	margin:0 auto;
   }

  .social{
  	bottom: 30px;
  	left: 22px;
  }

  .footer-hub, .footer-main.grey{
  	display: none;
  }

  .social-mobil{
  	display: block;
  	text-align: center;
  	position: absolute;
  	left: 0;
  	right: 0;
  	bottom: 40px;
  }

  .social-mobil .social-svg{
  	fill: #bdbdbd;
  }

  .social-mobil .social-item{
  	margin:0 15px;
  }

  /* landings */
  .content.landing{
  	overflow: visible;
  }

  .container-mask-land{
  	position: relative;
  	height: -webkit-calc(86% - 80px);
    height: -moz-calc(86% - 80px);
    height: calc(86% - 80px);
  	width: 100%;
  	top: 11%;
  	margin-left: 5.2%;
  	transition: top 1.6s ease;
  }

  .container-mask-land.scale{
		height: 35%;
		top:0;
		margin-left: 0;
		overflow: hidden;
	}

	.scale .image-mask-wrapper{
		max-width: 100%;
		height: auto;
	}

	.scale.backimage{
		width: 100%;
		height: auto;
		margin-left: 0;
		filter: grayscale(0);
		opacity: 1;
	}

	.container-mask-land .image-mask-layer{
		display: none;
	}

  .container-text{
  	position: relative;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: auto;
  	overflow: visible;
    padding: 0 60px;
  }

  .nuestra-gama-land + .container-text{
  	padding: 0;
  }

  /*.nuestra-gama-land + .container-text .block-cover{
  	padding: 0 60px;
  }*/

  .container-text.showed, .nuestra-gama-land + .container-text .inner-block-section, .nuestra-gama-land + .container-text .block-section{
  	width: 100%;
  }

  .inner-block-section{
  	width: 100%;
  	max-width: 490px;
  	overflow: visible;
  	padding-top: 55px;
  }

  .block-section{
  	width: 100%;
  	overflow: visible;
  	padding-right: 0;
  }

  .inner-block-section h1{
  	font-size: 40px !important;
  	line-height: 41px !important;
    max-width: 220px;
    margin: 0 auto;
  }

  .muevete-land + .container-text .inner-block-section h1{
  	padding-right: 0;
  	text-align: center;
  }

  .nopasanada-land + .container-text .inner-block-section h1{
  	font-size: 22px !important;
    line-height: 32px !important;
  }

  .kids-land + .container-text .inner-block-section h1{
  	font-size: 34px !important;
    line-height: 36px !important;
  }

  .cover{
  	top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .cover p{
  	padding: 60px 0;
  }

  .cover p:before{
  	top: 25px;
  }

  .arrow-down{
  	display: none;
  }

  .content-landing{
  	padding-top: 0;
/*    -webkit-transition: all 400ms ease-out 1s;
    -moz-transition: all 400ms ease-out 1s;
    -o-transition: all 400ms ease-out 1s;
    transition: all 400ms ease-out 1s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);*/
  }

  .content-landing h3{
  	text-align: center;
  	font-size: 24px;
    line-height: 30px;
  }

  .eres-impulso-content h3{
  	font-size: 20px;
    line-height: 27px;
  }

  #fake-space{
  	display: none;
  }

  .btn-web{
  	float: none;
    padding: 22px 10px;
    font-size: 12px;
  }

  .content-landing-foot, .advise-kids{
  	width: 100%;
    left: 0px;
    text-align: center;
  }

  .credits{
  	float: none;
  }

  .content-landing-foot p{
  	margin-bottom: 0;
  	display: block;
  }

  .footer-landing{
  	display: none;
  }

  .main-menu-container{
  	background: #3b3b3b;
  }

  .nav-menu-items-container{
  	display: none;
  }

  .nav-main-menu-container li{
  	display: block;
  	color: #fff;
  	font-size: 26px;
    padding-bottom: 20px;
  }

  .is-active .hamburger-inner, .is-active .hamburger-inner::before, .is-active .hamburger-inner::after{
  	background-color: #fff; 
  }

  .nav-main-menu-container li.high{
  	-webkit-transform: none; 
  	-moz-transform: none; 
  	-ms-transform: none; 
  	-o-transform: none; 
  	transform: none;
  	margin: 5px 25px;
  	padding: 0px 0px 20px 0;
  	font-size: 26px;
  }

  .icon-scroll{
    bottom: 15px;
  }

  .lang-selector{
    right: 22px;
    bottom: 30px;
  }


}


/* Medium screen, retina, stuff to override above media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 

  .swiper-home_slide:first-child, .swiper-home_slide:nth-child(2){
    background-image:url('../img/home-bg-01@2x.jpg');
  }

}


/* X-Small devices Landscape (mobil, 767 and down) */
@media (max-width: 767px) and (orientation: landscape){
  .social-mobil{
	bottom: 10px;
  }

  #main, .ajax, .content{
    height: auto;
  }

  .nav-main-menu-container li{
    font-size: 20px;
    padding-bottom: 10px;
  }

  .swiper-hub{
    height: 1000px;
    overflow: visible;
  }

  .content.landing{
    height: 1000px;
  }

  .container-mask-land.scale{
    max-height: 200px;
  }

}

/* X-Small devices (mobil, 480px and down) */
@media (max-width: 680px) {
  .grey .hamburger:before{
    visibility: hidden;
  }
  
  .grey .brand, .white .brand, header svg{
  	width: 32px;
  	height: 25px;
  }

  .swiper-home_slide:first-child{
    background-image:url('../img/mobile-home.jpg');
  }

  .footer-main{
    display: none;
  }

  .icon-scroll{
    bottom: 10px;
    height: 15px;
    background-position: bottom center;
  }

  .lang-selector{
    bottom: 25px;
  }

	/* hub images */
  .container_composition{
    top: 13.9%;
  }

  .image-mask-wrapper{
  	max-width: 260px;
  }

  .backimage{
  	margin-left: -31.2%;
  }

  .kids-hub .backimage, .kids-land .backimage{
    margin-left: -18.2%;
  }

  .ipad-land{
		display: none;
	}

	.mobil-land{
		display: block;
	}

  .group_composition{
  	width: auto;
	  top: 61px;
	  margin-left: -5.2%;
  }

  .nopasanada-hub .title-mask-wrapper, .eresimpulso-hub .title-mask-wrapper, .muevete-hub .title-mask-wrapper, .kids-hub .title-mask-wrapper, .gama-hub .title-mask-wrapper, .encasa-hub .title-mask-wrapper{
  	right: auto;
  	width:100%;
  }

  .title-mask-wrapper{
  	height: 33px;
  	margin-bottom: 22px;
  }

  .title-mask{
  	width: 100%;
  	right: 0;
  	height: 33px;
  }

  .pretitle:before{
  	display: none;
  }

  .title{
	width: 100%;
  	font-size: 33px;
  	line-height: 33px;
  	height: 33px;
  	right: 0;
  	text-align: center;
  }

  .line_composition, .videolink, .content_composition p, .slogan{
  	display: none;
  }

  .middle_composition:nth-child(2){
  	position: absolute;
  	top: -200px;
	  right: 60px;
  }

  .thumbnail-mask-wrapper{
  	position: relative;
  	top: auto;
  }

  .thumbnail-mask{
  	min-height: 200px;
  }

  .thumbnail{
  	min-width: 190px;
  }

  .middle_composition{
  	width: auto;
  	height: auto;
  	left: auto;
	float: none;
	min-height: 0;
  }

  .content_composition{
  	margin-left: 0;
  }

  .btn{
  	width: 190px;
  	margin: 0 auto;
  	height: 40px;
  }

  .btn:after{
  	right: -125px;
  }

  .btn a:before{
  	content: '';
  	width: 70px;
  	height: 1px;
  	background: #515151;
  	display: inline-block;
  	position: relative;
	bottom: 4px;
	right: 13px;
	-webkit-transition: all 400ms ease-out 1s;
    -moz-transition: all 400ms ease-out 1s;
    -o-transition: all 400ms ease-out 1s;
    transition: all 400ms ease-out 1s;
  }

  .covered .btn a:before{
  	width: 0;
  }

  /* nopasanada */
  .nopasanada-hub .thumbnail-mask{
  	width: 190px;
  }

  /*.nopasanada-hub .covered .title-mask-wrapper{
  	right: 100px;
  }*/

  .nopasanada-hub .thumbnail-mask{
	top: -4.5%;
  }

	.nopasanada-hub .thumbnail{
	    min-width: 190px;
	}

	/* eresimpulso */
  /*.eresimpulso-hub .covered .title-mask-wrapper{
  	right: 100px;
  }*/

  .logo-impulso_composition{
  	display: none;
  }

  .eresimpulso-hub .thumbnail-mask{
  	width: 180px;
	  top: -20px;
	  min-height: 190px;
  }

  .eresimpulso-hub .thumbnail{
    min-width: 190px;
  }

  .eresimpulso-hub .content_composition, .muevete-hub .content_composition{
    width: auto;
  }

  /* muevete */
  /*.muevete-hub .covered .title-mask-wrapper{
  	right: 100px;
  }*/

  .muevete-hub .thumbnail-mask{
  	width: 216px;
  	min-height: 142px;
  	top: 30px;
  }

  .muevete-hub .thumbnail{
  	width: 216px;
  }

  /* kids */
  /*.kids-hub .covered .title-mask-wrapper{
  	right: 145px;
  }*/

  .kids-hub .thumbnail-mask{
  	width: 150px;
	min-height: 200px;
	top: -30px;
  }

  .kids-hub .thumbnail{
  	min-width: 150px;
  }

  /* nuestra-gama*/
	/*.gama-hub .covered .title-mask-wrapper{
	  	right: 100px;
	}*/

	.gama-hub .thumbnail-mask{
	  	width: 210px;
		min-height: 155px;
		top: 20px;
	  }

	 .gama-hub .btn:before{
	 	display: none;
	 }

	 .gama-hub .btn::after {
	    right: -125px;
	}

	/* en casa */
	.iconos-encasa{
		display: none;
	}

	/*.encasa-hub .covered .title-mask-wrapper{
	  	right: 100px;
	}*/

	.encasa-hub .thumbnail-mask{
	  	width: 240px;
		min-height: 150px;
		top: 20px;
	}

	.encasa-hub .thumbnail{
		min-width: 240px;
	}

	  /* */

	.covered .thumbnail-mask{
	    width: 0;
   }

	.swiper-container-horizontal > .swiper-pagination-bullets{
  		bottom: 40px;
   }

.panel-btn-hub_nav{
  display: none;
}

.swiper-hub_button-next .nav-hub_btn{
	left: 60%;
}

.swiper-hub_button-prev .nav-hub_btn{
	right: 60%;
}

.swiper-hub_button-prev:hover .nav-hub_btn path, .swiper-hub_button-next:hover .nav-hub_btn path{
  stroke: #bdbdbd;
}

.swiper-hub_button-prev:hover .nav-hub_btn{
  right: 60%;
  margin-right: 0;
}

.swiper-hub_button-next:hover .nav-hub_btn{
  margin-left: 0;
  left: 60%;
}

.social, footer{
	display: none;
}

  .social-mobil{
	bottom: 30px;
  }


	/* landings */

	.container-mask-land{
		top: 3.9%;
	}

  .container-mask-land.scale{
    max-height: 180px;
  }

  #muevete-running{
  	left: 0px;
	width: 100%;
  }

  #muevete-running-02{
  	display: none;
  }

  #dots-pattern{
  	bottom: 20px;
	width: 120px;
  }

  .description-kids{
  	width: 65%;
  }

  .bottle-kids{
  	width: 35%;
  	padding: 0 10px;
  }

  .bottle-kids img{
  	max-width: 100%;
  }

  .label{
  	padding: 25px 30px 25px;
  }

  .label img{
  	display: none;
  }

  .panel-info-bottle{
  	text-align: center;
  }

}
